.em-wrapper-header .navbar-fixed-top,
.cms-index-index .em-wrapper-header .em-header-style35 .em-header-bottom.navbar-fixed-top,
.cms-index-index .em-wrapper-header .em-header-style35 .navbar-fixed-top{ .changeBkg(@header_bg_color)}
#em-mheader{ .changeBkg(@header_bg_color)}
#em-mheader .em-top-search .form-search input.input-text{border:1px solid @header_bg3_color}
.em-slideshow{
	a.button-link{
		&.first{
			.changeAllColor(@body_text3_color; @body_bg2_color; @body_bg2_color);			
			&:hover{
				.changeAllColor(@btn1_text_color; @btn1_line_color; @btn1_bg_color);
			}
		}
	}
}
.em-wrapper-header .form-search input.input-text{background:transparent; .changeColor(@header_text4_color)}
.em-wrapper-ads-tes{
	.changeBkg(@body_bg3_color)	
}
.em-wrapper-area05{
	.changeLine(@body_line_color);
}

.em-wrapper-ads-18{
	.em-ads-item{
		.changeAllColor(@body_text_color; transparent; transparent);
		.em-ads-author{ .changeColor(@body_text2_color)}
	}
}
.em-wrapper-ads-17{.changeColor(@body_text6_color)}
.em-wrapper-ads-13{
	.icon-banner-left{		
		position: relative;
		.changeAllColor(@body_text5_color; transparent; transparent);		
	}
	.em-banner-right{
		h5 {
			margin-bottom:0;
			a{
				.link(@body_text3_color, @body_text5_color);
				font-size:135%;
			}
		}
	}
	.text-box{ 
		.changeLine(@body_line_color);
	}
}

/*===============FOOTER STYLE 17================*/
.em-wrapper-footer .em-footer-style17{
	.em-newsletter {
		.block-subscribe{
			input.input-text{
				.changeBkg(@footer_bg_color);
				.changeLine(@footer_line_color);
			}
			.actions button.button{
				.changeLine(@footer_line_color);
			}
		}
	}
	.em-wrapper-social .em-social{
		.em-social-icon{
			.changeAllColor(@footer_text4_color; @footer_bg3_color; @footer_bg3_color);
			&:hover{
				.changeAllColor(@footer_text4_color; @footer_text3_color; @footer_text3_color);
			}
		}
	}
	.em-footer-bottom .em-footer-address address{ .changeColor(@footer_text_color); font-size:100%;
		a{ .link(@footer_text_color, @footer_text3_color);}
	}
}	