.em-footer-style09{
	.em-box-bkg{
		.changeLine(@footer_line_color);
		.changeColor(@footer_text_color);
		h4{
			.changeColor(@footer_text2_color);
			font-weight:700;
		}
		.fa{.changeColor(@footer_text3_color);}
	}
	.footer-info-top{.changeLine(@footer_line_color);}
	.em-footer-address{.changeColor(@footer_text_color);}
}
