.em-header-bottom{ .changeBkg(@topmenu_bg_color);}
.em-header-style27 .em-header-top{ border-bottom:1px solid @header_line_color}
.em-wrapper-header .navbar-fixed-top{.changeBkg(darken(@topmenu_bg_color, 10%))}

/*===============FOOTER STYLE 09================*/
.em-wrapper-footer .em-footer-style09{
	.em-footer-info{ .changeLine(@footer_line_color)}
	.em-wrapper-social{
		.em-social{
			.em-social-icon{
				.changeAllColor(@footer_text2_color; @footer_bg3_color; @footer_bg3_color);
				&:hover{
					.changeAllColor(@footer_text4_color; @footer_text2_color; @footer_text2_color);
				}
			}
		}
	}
	.em-wrapper-newsletter .block-subscribe input.input-text{ background:transparent; .changeColor(@footer_text_color);}
	address{ font-size:100%; .changeColor(@footer_text_color);
		a{.link(@footer_text_color, @footer_text3_color)}
	}
}