.cms-index-index .em-wrapper-slideshow {
  padding: 0;
  margin-bottom: 30px;
}

.cms-index-index .em-wrapper-main .container-main {
  padding-top: 0;
}

.em-slideshow {
  margin-bottom: 0;
}
.em-slideshow h1, .em-slideshow h3, .em-slideshow h4, .em-slideshow h2 {
  color: #434343;
}
.em-slideshow h3:before, .em-slideshow h3:after, .em-slideshow h2:before, .em-slideshow h2:after {
  display: none;
}
.em-slideshow .owl-theme .owl-controls .owl-buttons div {
  top: 44%;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  left: 13%;
  top: 27%;
  text-align: left;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-2 h1, .em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-2 h3, .em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-2 h4, .em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-2 h2 {
  color: #ffffff;
}

.em-background-wrapper-ads {
  background-image: url(../images/media/bkg-parallax.jpg);
  margin-bottom: 50px;
  background-attachment: fixed;
}
.em-background-wrapper-ads .em-wrapper-ads-18 {
  margin-bottom: 0;
}
.em-background-wrapper-ads .em-wrapper-ads-18 .em-ads-item {
  background-color: transparent;
  padding-bottom: 7rem;
}

.em-line-01 .em-wrapper-banners {
  margin-bottom: 0;
}
.em-line-01 .em-wrapper-banners .img-banner {
  margin-bottom: 0;
}
.em-line-01 .em-wrapper-banners .img-banner .desc .button-link {
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin: 0;
}
.em-line-01 .em-wrapper-banners .img-banner .desc .button-link:hover {
  position: relative;
  z-index: 1;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #F3C506;
}
.em-color span.emColorStyle02 {
  background: #f6a723;
}
.em-color span.emColorStyle03 {
  background: #6db088;
}
.em-color span.emColorStyle04 {
  background: #cc2426;
}
