.em-wrapper-slideshow{
	.changeBkg(@body_bg_color)
}
.em-wrapper-main{
	.changeBkg(@body_bg2_color)
}

.em-line-01{
	.em-wrapper-banners{
		.img-banner{
			.desc .button-link{
				background-color:#fff;
				color:@body_text_color;
				border-color:#fff;
				font-weight:bold;
				&:hover{
					position:relative;
					z-index:1;
					.changeAllColor(@btn1_text_color; @btn1_line_color; @btn1_bg_color);
				}
			}
		}
	}
}