<?php
$supplierId = $this->getSupplierID();
?>
<div id="messages" class="showNoticeMsg"></div>
<div>
  <ul class="messages">
    <li class="notice-msg">
        <ul>
          <li>
            <span><?php echo $this->__('Click <span style="color:#eb5e00;">Prepare XML</span> Button to Start.') ?></span>
          </li>
        </ul>
      </li>
  </ul>
</div>
<div class="content-header">
    <table cellspacing="0">
        <tbody>
          <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sales-sales">Category Root Mapping</h3></td>
            <td class="form-buttons">
              <button title="Back" type="button" class="scalable back" onclick="back();" style=""><span><span><span>Back</span></span></span></button>
              <button title="Prepare XML" id="prepareXML" type="button" class="scalable" onclick="getSupplierAttributes();" style=""><span><span><span>Prepare XML</span></span></span></button>
            </td>
        </tr>
    </tbody></table>
</div>

<div class="entry-edit">
    <form id="mapping_attributes_form">
      <div class="entry-edit-head">
          <h4 class="icon-head head-edit-form fieldset-legend">Category Mapping</h4>
          <div class="form-buttons"></div>
      </div>
    <div class="fieldset " id="sales_report_base_fieldset">
      <div class="hor-scroll">
        <table class="form-list" cellspacing="0">
        <tbody>
          <tr>
            <td class="label"><h5>Select Supplier Category Node:</h5></td>
            <td class="value">
              <select multiple id='supplier_category_root' name='supplier_category_root' class="select_option" onchange='selectSupplierRootCategory(this)' size='15'>
              </select>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button title="Fetch Categories" type="button" class="scalable" onclick="fetchCategories();" style=""><span><span><span>Fetch Categories</span></span></span></button>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </form>
</div>


<div class="category_mapping">
  <div class="content-header">
      <table cellspacing="0">
          <tbody><tr>
              <td style="width:50%;"><h3 class="icon-head head-report-sales-sales">Supplier Category Mapping</h3></td>
          </tr>
      </tbody></table>
  </div>

  <div class="entry-edit">
      <form id="mapping_attributes_form">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Category Mapping</h4>
            <div class="form-buttons"></div>
        </div>
      <div class="fieldset " id="sales_report_base_fieldset">
        <div class="hor-scroll">
          <table class="form-list" cellspacing="0">
          <tbody>
            <tr>
              <div class="selects">
                <div id="dynamicInput" class="dynamicInput"></div>
              </div>
            </tr>
            <tr>
              <td>
                <button id="" title="Add Field Mapping" type="button" class="scalable add" onclick="addInput('dynamicInput');" style="margin-right:3px;"><span><span><span>Add Field Mapping</span></span></span></button>
                <button title="Save Mapping" type="button" class="scalable " onclick="saveCategoryMapping();" style=""><span><span><span>Save Catgory Mapping</span></span></span></button>
              </td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
  </form>
  </div>

</div>

<div id="information"></div>

<script type="text/javascript">
var k = 0;
window.kk = 0;
var supplierRootCategories = '';
window.supplierAttr = '';
window.defaultAttr = '';
window.supplierCatAttr = '';
window.defaultCatAttr = '';
$j('.category_mapping').hide();

//getSupplierAttributes();

function getSupplierAttributes() {
  $j('#supplier_category_root').html('');
  var html = '';//'<option value="0">choose an Attribute</option>';
  var defaultAtrHTML = '<option value="0">choose an Attribute</option>';

  var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getAttributes");?>';
  var supplierId = '<?php echo $this->getSupplierID(); ?>';
  new Ajax.Request(url, {
    method:'get',
    parameters: {'supplierId' : supplierId},
    onSuccess: function(transport) {
      var response = transport.responseText;
      var result = JSON.parse(response);
      //console.log('result -->>',result);
      if(!result.error) {
        if(result.translation) { // in translations case
          //console.log('translations case **********');
          if(result.supplier.length == undefined) {
            //console.log('for in');
            for(var key in result.supplier) {
              var value = result.supplier[key];
              var valueKey = value.substring(0,value.indexOf(">>"));
              var valueTrans = value.split('>>')[1];
              html += '<option value="'+ valueKey +'">'+ valueTrans +'</option>';
            }
          }else {
            //console.log('for i');
            for(var i = 0; i < result.supplier.length ; i++) {
              var value = result.supplier[i];
              var valueKey = value.substring(0,value.indexOf(">>"));
              var valueTrans = value.split('>>')[1];
              html += '<option value="'+ valueKey +'">'+ valueTrans +'</option>';
            }
          }
          for (var i = 0; i < result.default.length; i++) {
            defaultAtrHTML += '<option value="'+ result.default[i].attribute_code +'">'+ result.default[i].attribute_code +'</option>';
          }
          window.defaultAttr = defaultAtrHTML;
          //getSupplierCategoryMappingSaved();
          $j('#supplier_category_root').append(html);
          reOrderSelectOptionAlphabet("select.select_option option");
        }else {
          //console.log('not translated **********');
          if(result.supplier.length == undefined) {
            //console.log('for in');
            for(var key in result.supplier) {
              var value = result.supplier[key];
              var cleanValue = value.replace('.*.', "=>").replace('.', "=>");
              html += '<option value="'+ result.supplier[key] +'">'+ cleanValue +'</option>';
            }
          }else {
            //console.log('for i');
            for(var i = 0; i < result.supplier.length ; i++) {
              var value = result.supplier[i];
              var cleanValue = value.replace('.*.', "=>").replace('.', "=>");
              html += '<option value="'+ result.supplier[i] +'">'+ result.supplier[i] +'</option>';
            }
          }
          for (var i = 0; i < result.default.length; i++) {
            defaultAtrHTML += '<option value="'+ result.default[i].attribute_code +'">'+ result.default[i].attribute_code +'</option>';
          }
          window.defaultAttr = defaultAtrHTML;
          //getSupplierCategoryMappingSaved();
          $j('#supplier_category_root').append(html);
          reOrderSelectOptionAlphabet("select.select_option option");
        }
      }else{
        showMessage(result.msg,'error');
      }
    },
    onFailure: function() {
      document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
    }
  });
};

function selectSupplierRootCategory() {
  var rootCategory = $j( "#supplier_category_root" ).val();
  //console.log('selected -->',rootCategory);
  supplierRootCategories = rootCategory;
}

function fetchCategories() {
  //console.log('supplierRootCategories -->',supplierRootCategories);
  var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getSupplierXmlValueMappingByNode");?>';
  var supplierId = '<?php echo $this->getSupplierID(); ?>';
  new Ajax.Request(url, {
    method:'get',
    parameters: {'rootCategory' : JSON.stringify(supplierRootCategories) ,'supplierId' : supplierId },
    onSuccess: function(transport) {
      var response = transport.responseText;
      var result = JSON.parse(response);
      //document.getElementById("information").innerHTML =  response;
      if(result.success) {
        getSupplierCategoriesAttributes(result);
      }else {
        console.log('error');
      }
    },
    onFailure: function() {
      document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
    }
  });
}

// Category Mapping functions
function getSupplierCategoriesAttributes(result) {
    var supplierCatAtrHTML = '<option value="0">choose an Attribute</option>';
    var defaultCatAtrHTML = '<option value="0">choose an Attribute</option>';

    if(result.translation) { // in translations case
      //console.log('translation case >>>>>>>>>');
      if(result.data.length == undefined) {
        for(var key in result.data) {
          var value = result.data[key];
          var valueKey = value.substring(0,value.indexOf(">>"));
          var valueTrans = value.split('>>')[1];
          supplierCatAtrHTML += '<option value="'+ valueKey +'">'+ valueTrans +'</option>';
        }
      }else {
        for(var i = 0; i < result.data.length ; i++) {
          var value = result.data[i];
          var valueKey = value.substring(0,value.indexOf(">>"));
          var valueTrans = value.split('>>')[1];
          supplierCatAtrHTML += '<option value="'+ valueKey +'">'+ valueTrans +'</option>';
        }
      }

      for (var i = 0; i < result.categoryDB.length; i++) {
        var k = result.categoryDB[i];
        defaultCatAtrHTML += '<option value="'+ result.categoryDB[i] +'">'+ result.categoryDB[i] +'</option>';
      }
      window.supplierCatAttr = supplierCatAtrHTML;
      window.defaultCatAttr = defaultCatAtrHTML;
    }else {
      //////console.log('not translated >>>>>>>>>>');
      if(result.data.length == undefined) {
        //////console.log('for in');
        for(var key in result.data) {
          var value = result.data[key];
          supplierCatAtrHTML += '<option value="'+ value +'">'+ value +'</option>';
        }
      }else {
        //////console.log('for i');
        for(var i = 0; i < result.data.length ; i++) {
          var value = result.data[i];
          supplierCatAtrHTML += '<option value="'+ value +'">'+ value +'</option>';
        }
      }

      for (var i = 0; i < result.categoryDB.length; i++) {
        var k = result.categoryDB[i];
        defaultCatAtrHTML += '<option value="'+ result.categoryDB[i] +'">'+ result.categoryDB[i] +'</option>';
      }
      window.supplierCatAttr = supplierCatAtrHTML;
      window.defaultCatAttr = defaultCatAtrHTML;
    }
    $j('.category_mapping').show();
    var timeout;
    clearTimeout(timeout);
    timeout = setTimeout(function(){
      loadTranslations();
    },1000);
  };

  function addInput(divName) {
    var magento_cat_choices = window.defaultCatAttr;
    var supplier_cat_choices = window.supplierCatAttr;
    createSelectCatAttribute(divName,magento_cat_choices,supplier_cat_choices,k);
    k++;
  }

  function createSelectCatAttribute(divName,magento_cat_choices,supplier_cat_choices,k) {
    var newDiv = document.createElement('span');
    newDiv.className = 'field-row';

    var selectHTML = "";
    var selectSupplierHTML = "<span class='orange'>&#8592;&#8594;</span> ";

    selectHTML += '<span>In Magento Database: </span>';
    selectHTML +="<select multiple class='magentoCatAttributes' id='magento_cat_attributes_"+k+"' size='15'>";
    selectHTML += magento_cat_choices;
    selectHTML += "</select>";

    selectSupplierHTML += '<span>In XML File: </span>';
    selectSupplierHTML +="<select multiple class='supplierCatAttributes' id='supplier_cat_attributes_"+k+"' size='15'>";
    selectSupplierHTML += supplier_cat_choices;
    selectSupplierHTML += "</select>";

    selectSupplierHTML += '<button id="" title="Remove" type="button" class="scalable delete" onclick="deleteSelectOption(this);" style=""><span><span><span>Remove</span></span></span></button>';
    newDiv.innerHTML = selectHTML + selectSupplierHTML;

    $j('#'+divName).append(newDiv);
  }

  function deleteSelectOption(el) {
    var parent  = $j(el).parent();
    parent.remove();
    window.kk = k-1;
    k = window.kk;
  }

  function saveCategoryMapping() {
    var magentoArrayCatAttr = [];
    var supplierArrayCatAttr = [];
    var object = {};

    $j.each($j(".magentoCatAttributes"), function(){
       var $val = $j(this).val() || [];
       magentoArrayCatAttr.push($val.join());
    });
    $j.each($j(".supplierCatAttributes"), function(){
       var $val = $j(this).val() || [];
       supplierArrayCatAttr.push($val.join());
    });
    for (var i = 0; i < supplierArrayCatAttr.length; i++) {
      object[magentoArrayCatAttr[i]] = supplierArrayCatAttr[i];
      //object[supplierArrayCatAttr[i]] = magentoArrayCatAttr[i];
    }
    console.log('object -->>',object);
    var rootCategory = supplierRootCategories;
    console.log(' magentoArrayCatAttr >>>>>>>>>>',magentoArrayCatAttr);
    console.log(' supplierArrayCatAttr >>>>>>>>>>',supplierArrayCatAttr);
    ////console.log('>>>>>>>>>>',rootCategory);
    saveMappingAttributesAction(object,rootCategory);
  }

  function saveMappingAttributesAction(mappingArray,rootCategory) {
    //console.log('>>>',JSON.stringify(mappingArray));
    //console.log('>>>',JSON.stringify(rootCategory));
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/saveMappingCategories");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'mappingCategoriesArray' : JSON.stringify(mappingArray),'supplierId' : supplierId, 'rootCategory' : JSON.stringify(rootCategory) },
      onSuccess: function(transport) {
        var response = transport.responseText;
        //document.getElementById("information").innerHTML =  response;
        //console.log('response ->',transport);
        if(response) {
          showMessage('Your Category Mapping has been saved','success');
        }else {
          showMessage('Your Category Mapping has been not saved','error');
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }

  function loadTranslations() {
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getSupplierCategoryMappingSaved");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'supplierId' : supplierId },
      onSuccess: function(transport) {
        var response = transport.responseText;
        var jsonResponse = JSON.parse(response);
        //document.getElementById("information").innerHTML =  response;
        var checked = jsonResponse.checked;
        if(checked) { // supplier already mapped
          var mapping = jsonResponse.mapping;
          var rootCategoryMapped = jsonResponse.rootCategoryMapped;
          showMappedData(mapping,rootCategoryMapped);
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }

  function showMappedData(mapping,rootCategoryMapped) {
    $j('.category_mapping').show();
    var magento_choices = window.defaultCatAttr;
    var supplier_choices = window.supplierCatAttr;
    var divName = 'dynamicInput';
    createExistingSelectMapping(divName,mapping,magento_choices,supplier_choices,rootCategoryMapped);
  }

  function createExistingSelectMapping(divName,mapping,magento_choices,supplier_choices,rootCategoryMapped) {
    for (var key in mapping) {
      if (mapping.hasOwnProperty(key)) {
        var key = key;
        var value = mapping[key];
        createSelectOption(divName,k,magento_choices,supplier_choices,mapping,rootCategoryMapped);
      }
      k++;
    }
  }

  function createSelectOption(divName,i,magento_choices,supplier_choices,mapping,rootCategoryMapped) {
    var newDiv = document.createElement('span');
    newDiv.className = 'field-row';

    var selectHTML = "";
    var selectSupplierHTML = "<span class='orange'>&#8592;&#8594;</span> ";

    selectHTML += '<span>In Magento Database: </span>';
    selectHTML +="<select multiple class='magentoCatAttributes' id='magento_cat_attributes_"+k+"' name='magento_cat_attributes_"+k+"' size='15'>";
    selectHTML += magento_choices;
    selectHTML += "</select>";

    selectSupplierHTML += '<span>In XML File: </span>';
    selectSupplierHTML +="<select multiple class='supplierCatAttributes' id='supplier_cat_attributes_"+k+"' size='15'>";
    selectSupplierHTML += supplier_choices;
    selectSupplierHTML += "</select>";

    selectSupplierHTML += '<button id="" title="Remove" type="button" class="scalable delete" onclick="deleteSelectOption(this);" style=""><span><span><span>Remove</span></span></span></button>';
    newDiv.innerHTML = selectHTML + selectSupplierHTML;

    $j('#'+divName).append(newDiv);
    var timeOut;
    clearTimeout(timeOut);
    timeOut = setTimeout(function(){
      selectMappingSavedOptions(mapping,rootCategoryMapped);
    },500);
  }

  function selectMappingSavedOptions(mapping,rootCategoryMapped) {
    var i = 0;
    for (var key in mapping) {
      if (mapping.hasOwnProperty(key)) {
        var key = key;
        var value = mapping[key];
        $j.each(key.split(","), function(j,e){
          $j("#magento_cat_attributes_"+i+" option[value='" + e + "']").prop("selected", true);
        });
        $j.each(value.split(","), function(j,e){
          $j("#supplier_cat_attributes_"+i+" option[value='" + e + "']").prop("selected", true);
        });
        var s = rootCategoryMapped.toString();
        $j.each(s.split(","), function(j,e){
          $j("#supplier_category_root option[value='" + e + "']").prop("selected", true);
        });
      }
      i++;
    }
  }

  function showMessage(txt, type) { //The type could be 'error', 'success', 'notice' or 'warning'.
    var html = '<ul class="messages"><li class="'+type+'-msg"><ul><li>' + txt + '</li></ul></li></ul>';
    $j('#messages').append(html);
    $j('.showNoticeMsg').show();
  }

  function back() {
    history.go(-1);
    return false;
  }

  function reOrderSelectOptionAlphabet(selector) {
    var options = $j(selector);
    var arr = options.map(function(_, o) {
        return {
            t: $j(o).text(),
            v: o.value
        };
    }).get();
    arr.sort(function(o1, o2) {
        return o1.t > o2.t ? 1 : o1.t < o2.t ? -1 : 0;
    });
    options.each(function(i, o) {
        //console.log(i);
        o.value = arr[i].v;
        $j(o).text(arr[i].t);
    });
  }

</script>

<style media="screen">
.selects {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
select { margin-right: 10px;min-width: 400px;width: 400px;}
.content-header-floating {display: none !important;}
.orange {color: #d75f07;}
</style>
