<div id="page:main-container">
  <div>
    <ul class="messages">
      <li class="notice-msg">
          <ul>
            <li>
              <span><?php echo $this->__('Make sure your translations is unique and will be saved automatically EVERY <span style="color:red;font-weight:bold;">5</span> Secondes. To start click <span style="color:#eb5e00;">Prepare XML</span> Button.') ?></span>
            </li>
          </ul>
        </li>
    </ul>
  </div>
  <div id="messages" class="showNoticeMsg"></div>
  <div class="content-header">
      <table cellspacing="0">
          <tbody>
            <tr>
              <td style="width:50%;"><h3 class="icon-head head-report-sales-sales">Category Translations</h3></td>
              <td class="form-buttons">
                <button title="Back" type="button" class="scalable back" onclick="back();" style=""><span><span><span>Back</span></span></span></button>
                <button title="Prepare XML" id="prepareXML" type="button" class="scalable" onclick="getSupplierAttributesOptions();" style=""><span><span><span>Prepare XML</span></span></span></button>
                <button title="Save" id="cat_trans_btn" type="button" class="scalable " onclick="saveCategoryTranslations();" style=""><span><span><span>Save</span></span></span></button>
              </td>
          </tr>
      </tbody></table>
  </div>

  <div class="entry-edit">
      <form id="mapping_attributes_form">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Category Translations</h4>
            <div class="form-buttons"></div>
        </div>
      <div class="fieldset " id="sales_report_base_fieldset">
        <div class="hor-scroll">
          <table class="form-list" cellspacing="0">
          <tbody>
            <tr>
              <td class="label"><h5>Select Supplier Category Node:</h5></td>
              <td class="value">
                <select multiple id='supplier_category_root' class="select_option" onchange='selectSupplierRootCategory(this)' size='15'>
                </select>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button title="Fetch Categories" type="button" class="scalable" onclick="fetchCategories();" style=""><span><span><span>Fetch Categories</span></span></span></button>
              </td>
            </tr>
          </tbody>
          </table>
        </div>
        <br>
        <div id="categories_trans"></div>
      </div>
    </form>
  </div>
</div>
<div id="information"></div>
<script type="text/javascript">
var options = '';
var k = 0;
window.kk = 0;
var supplierRootCategories = '';

$j('#cat_trans_btn').hide();

function getSupplierAttributesOptions() {
  $j('#supplier_category_root').html('');
  var html = '';//'<option value="0" selected="selected">choose an Attribute</option>';
  var Inputs = '';
  var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getAttributes");?>';
  var supplierId = '<?php echo $this->getSupplierID(); ?>';
  new Ajax.Request(url, {
    method:'get',
    parameters: {'supplierId' : supplierId},
    onSuccess: function(transport) {
      var response = transport.responseText;
      var result = JSON.parse(response);
      console.log('result -->',result);
      if(result.supplier.length == undefined) {
        //console.log('for in');
        var j = 0;
        for(var key in result.supplier) {
          var value = result.supplier[key];
          var cleanValue = value.replace('.*.', "=>").replace('.', "=>");
          var valueKey = value.substring(0,value.indexOf(">>"));
          var valueTrans = value.split('>>')[1];
          //console.log('*******************');
          //console.log('value = '+ value + ' cleanValue = ' + cleanValue);
          //console.log('valueKey = '+ valueKey + ' valueTrans = ' + valueTrans);
          //console.log('*******************');
          html +='<option value="'+ valueKey +'">'+ valueTrans +'</option>';
          j++;
        }
      }else {
        ////console.log('for i');
        for(var i = 0; i < result.supplier.length ; i++) {
          var value = result.supplier[i];
          var cleanValue = value.replace('.*.', "=>").replace('.', "=>");
          var valueKey = value.substring(0,value.indexOf(">>"));
          var valueTrans = value.split('>>')[1];
          //console.log('*******************');
          //console.log('value = '+ value + ' cleanValue = ' + cleanValue);
          //console.log('valueKey = '+ valueKey + ' valueTrans = ' + valueTrans);
          //console.log('*******************');
          html +='<option value="'+ valueKey +'">'+ valueTrans +'</option>';
        }
      }
      $j('#supplier_category_root').append(html);
      reOrderSelectOptionAlphabet("select.select_option option");
    },
    onFailure: function() {
      document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
    }
  });
};

function selectSupplierRootCategory() {
  var rootCategory = $j( "#supplier_category_root" ).val();
  //console.log('selected -->',rootCategory);
  supplierRootCategories = rootCategory;
}

function fetchCategories() {
  var html = '';
  html += '<form>';
  $j('#categories_trans').html('');
  //console.log('supplierRootCategories -->',supplierRootCategories);
  if( supplierRootCategories.length > 0 ) {
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getSupplierXmlValueByNode");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'rootCategory' : JSON.stringify(supplierRootCategories) ,'supplierId' : supplierId },
      onSuccess: function(transport) {
        var response = transport.responseText;
        var result = JSON.parse(response);
        //console.log('category node ->',result);
        //document.getElementById("information").innerHTML =  response;
        if(result.data.length == undefined) {
          //console.log('for in');
          var j = 0;
          for(var key in result.data) {
            var value = result.data[key];
            html += '<div class="inputs">';
            html += '<span>Supplier Category: </span>';
            html += '<input type="text" name="supplier_field_cat_translate" value="'+ value +'" readonly/>';
            html += ' <span class="orange">&#8592;&#8594;</span> ';
            html += '<span>Translated To: </span>';
            html +='<input type="text" name="supplier_attributes_cat_translated" value="" id="supplier_attributes_cat_translated_'+j+'"/>';
            html +='</div>';
            j++;
          }
        }else {
          //console.log('for i');
          for(var i = 0; i < result.data.length ; i++) {
            var value = result.data[i];
            html += '<div class="inputs">';
            html += '<span>Supplier Category: </span>';
            html += '<input type="text" name="supplier_field_cat_translate" value="'+ value +'" readonly/>';
            html += ' <span class="orange">&#8592;&#8594;</span> ';
            html += '<span>Translated To: </span>';
            html +='<input type="text" name="supplier_attributes_cat_translated" value="" id="supplier_attributes_cat_translated_'+i+'"/>';
            html +='</div>';
          }
        }
        html += '</form>';
        $j('#categories_trans').append(html);
        $j('#cat_trans_btn').show();
        var timeo;
        timeo = setTimeout(function(){
          clearTimeout(timeo);
          loadTranslations();
        },1000);
        var timeoutId;
        $j('input').on('input propertychange change', function() {
          //console.log('Inputs Change');
          clearTimeout(timeoutId);
          timeoutId = setTimeout(function() {
            // Runs 1 second (1000 ms) after the last change
            saveCategoryTranslations();
            // Now show them we saved and when we did
            var d = new Date();
            //console.log('Saved! Last: ' + d.toLocaleTimeString());
          }, 5000); // auto save run every 3 secondes
        });
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }else {
    showMessage('Your must Click Prepare XML Button then select the Category Node.','error');
  }
}

function loadTranslations() {
  var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/checkSupplierCatTranslations");?>';
  var supplierId = '<?php echo $this->getSupplierID(); ?>';
  new Ajax.Request(url, {
    method:'get',
    parameters: {'supplierId' : supplierId },
    onSuccess: function(transport) {
      var response = transport.responseText;
      var result = JSON.parse(response);
      //console.log('result translations -->>',result);
      var val = '';
      if(result.saved) {
        if(result.data !== undefined ) { // translations saved exist
          var j = 0;
          $j('input[name^="supplier_field_cat_translate"]').each(function(){
            if(this.value) {
              var value,cleanValue,inputVal,keyVal;
              for(var key in result.data) {
                  //console.log('*********************************************************************');
                  value = result.data[key];
                  keyVal = key;
                  //console.log('value -->>',value);
                  //console.log('key -->',key);
                  inputVal = this.value;
                  //console.log('input val = ',inputVal);
                  if( inputVal === value ) {
                    //console.log('****** ' + inputVal + ' = ' + value);
                    $j("#supplier_attributes_cat_translated_"+ j).val(keyVal);
                  }
              }
              j++;
            }
          });
        }
      }
    },
    onFailure: function() {
      document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
    }
  });
}

function saveCategoryTranslations() {
  var catTranslatedArrayAttr = [];
  var supplierCatTranslateArrayAttr = [];
  var object = {};

  $j('input[name^="supplier_field_cat_translate"]').each(function(){
    if (this.value == '') {
        //console.log('empty value');
        supplierCatTranslateArrayAttr.push('empty');
    } else {
       var $val = this.value;
       if($val !== undefined && $val !== null) {
        supplierCatTranslateArrayAttr.push($val);
       }
    }
  });

  $j('input[name^="supplier_attributes_cat_translated"]').each(function(){
    if (this.value == '') {
        //console.log('empty value');
        catTranslatedArrayAttr.push('empty');
    } else {
       var $val = this.value;
       if($val !== undefined && $val !== null) {
        catTranslatedArrayAttr.push($val.toLowerCase());
       }
    }
  });

  if(supplierCatTranslateArrayAttr.length > 0 && catTranslatedArrayAttr.length > 0) {
    for (var i = 0; i < supplierCatTranslateArrayAttr.length; i++) {
      if(catTranslatedArrayAttr[i] !== undefined) {
        var v = catTranslatedArrayAttr[i] != 'empty' ? catTranslatedArrayAttr[i] : supplierCatTranslateArrayAttr[i];
        object[v] = supplierCatTranslateArrayAttr[i];
      }
    }
    //console.log('1 -->>',catTranslatedArrayAttr);
    //console.log('2 -->>',supplierCatTranslateArrayAttr);
    //console.log('3 -->',object);
    saveSupplierCatTranslation(object);
  }else {
    showMessage('You need to translate all the field.','error');
  }
}

function saveSupplierCatTranslation(translationArray) {
  $j('#messages').html("");
  //console.log('>>>',JSON.stringify(translationArray));
  var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/saveSupplierCatTranslations");?>';
  var supplierId = '<?php echo $this->getSupplierID(); ?>';
  new Ajax.Request(url, {
    method:'post',
    parameters: {'translationCatArray' : JSON.stringify(translationArray),'supplierId' : supplierId },
    onCreate: function(request) {
      Ajax.Responders.unregister(varienLoaderHandler.handler);
    },
    onSuccess: function(transport) {
      Ajax.Responders.register(varienLoaderHandler.handler);
      var response = transport.responseText;
      //console.log('transport >>>>>',transport);
      if(response){
        // Now show them we saved and when we did
        var d = new Date();
        showMessage('Your translation has beed saved. ' + 'Saved! Last: ' + d.toLocaleTimeString(),'success');
      }else {
        showMessage('Your translation has beed not saved.','error');
      }
    },
    onFailure: function() {
      document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
    }
  });
}

function showMessage(txt, type) { //The type could be 'error', 'success', 'notice' or 'warning'.
  var html = '<ul class="messages"><li class="'+type+'-msg"><ul><li>' + txt + '</li></ul></li></ul>';
  $j('#messages').append(html);
  $j('.showNoticeMsg').show();
}

function back() {
  history.go(-1);
  return false;
}

function reOrderSelectOptionAlphabet(selector) {
  var options = $j(selector);
  var arr = options.map(function(_, o) {
      return {
          t: $j(o).text(),
          v: o.value
      };
  }).get();
  arr.sort(function(o1, o2) {
      return o1.t > o2.t ? 1 : o1.t < o2.t ? -1 : 0;
  });
  options.each(function(i, o) {
      //console.log(i);
      o.value = arr[i].v;
      $j(o).text(arr[i].t);
  });
}

</script>

<style media="screen">
.selects {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
input { margin-right: 10px;min-width: 400px;width: 400px;}
.inputs {margin: 10px 0;}
.orange {color: #d75f07;}

.wrapperTrans {display: flex;}
.half {
  width:50%;/* do not mind flex, just set a width */
  padding: 15px;
}
</style>
