<div id="page:main-container">
  <div id="messages" class="showNoticeMsg"></div>

  <div>
    <ul class="messages">
      <li class="notice-msg">
          <ul>
            <li>
              <span><?php echo $this->__('Click <span style="color:#eb5e00;">Prepare XML</span> Button to Start.') ?></span>
            </li>
          </ul>
        </li>
    </ul>
  </div>
  <div class="content-header">
      <table cellspacing="0">
          <tbody>
            <tr>
              <td style="width:50%;"><h3 class="icon-head head-report-sales-sales">Root Field Mapping</h3></td>
              <td class="form-buttons">
                <button title="Back" type="button" class="scalable back" onclick="back();" style=""><span><span><span>Back</span></span></span></button>
                <button title="Prepare XML" id="prepareXML" type="button" class="scalable" onclick="getSupplierAttributes();" style=""><span><span><span>Prepare XML</span></span></span></button>
              </td>
          </tr>
      </tbody></table>
  </div>

  <div class="entry-edit">
      <form id="mapping_attributes_form">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Mapping Attributes</h4>
            <div class="form-buttons"></div>
        </div>
      <div class="fieldset " id="sales_report_base_fieldset">
        <div class="hor-scroll">
          <table class="form-list" cellspacing="0">
          <tbody>
            <tr>
              <td class="label"><h5>XML Root:</h5></td>
              <td class="value">
                <select id='supplier_xml_root' onchange='saveXMLRoot(this)'>
                </select>
              </td>
            </tr>
            <tr class="product_root">
              <td class="label"><h5>Product Root:</h5></td>
              <td class="value">
                <select id='supplier_root' onchange='saveRootMapping(this)'>
                </select>
              </td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>

  <div class="field_mapping">
    <div class="content-header">
        <table cellspacing="0">
            <tbody><tr>
                <td style="width:50%;"><h3 class="icon-head head-report-sales-sales">Supplier Field Mapping</h3></td>
            </tr>
        </tbody></table>
    </div>

    <div class="entry-edit">
        <form id="mapping_attributes_form">
          <div class="entry-edit-head">
              <h4 class="icon-head head-edit-form fieldset-legend">Field Mapping</h4>
              <div class="form-buttons"></div>
          </div>
        <div class="fieldset " id="sales_report_base_fieldset">
          <div>
            <ul class="messages">
              <li class="notice-msg">
                  <ul>
                    <li>
                      <span><?php echo $this->__('Make sure <span style="color:#eb5e00;">Mapping Field</span> is unique.') ?></span>
                    </li>
                  </ul>
                </li>
            </ul>
          </div>
          <div class="hor-scroll">
            <table class="form-list" cellspacing="0">
            <tbody>
              <tr>
                <div class="selects">
                  <div id="dynamicInput" class="dynamicInput"></div>
                </div>
              </tr>
              <tr>
                <td>
                  <button id="" title="Add Field Mapping" type="button" class="scalable add" onclick="addInput('dynamicInput');" style="margin-right:3px;"><span><span><span>Add Field Mapping</span></span></span></button>
                  <button title="Save Mapping" type="button" class="scalable " onclick="saveMapping();" style=""><span><span><span>Save Field Mapping</span></span></span></button>
                </td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
    </form>
    </div>
  </div>
</div>

<!-- Attributes Mapping like size,colors .. -->
<div class="attributes_code_mapp" id="attributes_code_mapp">
  <div class="sizeMap">
    <div class="content-header">
        <table cellspacing="0">
            <tbody>
              <tr>
                <td style="width:50%;"><h3 class="icon-head head-report-sales-sales">Size Attribute Mapping</h3></td>
              </tr>
        </tbody></table>
    </div>
    <div class="entry-edit">
        <form id="mapping_attributes_form">
          <div class="entry-edit-head">
              <h4 class="icon-head head-edit-form fieldset-legend">Size Mapping</h4>
              <div class="form-buttons"></div>
          </div>
        <div class="fieldset " id="sales_report_base_fieldset">
          <div class="hor-scroll">
            <table class="form-list" cellspacing="0">
            <tbody>
              <tr>
                <td class="label"><h5>Select Supplier Size Node:</h5></td>
                <td class="value">
                  <select id='supplier_size_root' name='supplier_size_root' onchange='selectSupplierRootSize(this)' size='8'>
                  </select>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <button title="Fetch Sizes" type="button" class="scalable" onclick="fetchSizes();" style=""><span><span><span>Fetch Sizes</span></span></span></button>
                </td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>

    <div class="size_mapping">
      <div class="entry-edit">
          <form id="mapping_attributes_size_form">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend">Field Mapping</h4>
                <div class="form-buttons"></div>
            </div>
          <div class="fieldset " id="sales_report_base_fieldset_size">
            <div>
              <ul class="messages">
                <li class="notice-msg">
                    <ul>
                      <li>
                        <span><?php echo $this->__('Make sure <span style="color:#eb5e00;">Mapping Size</span> is unique.') ?></span>
                      </li>
                    </ul>
                  </li>
              </ul>
            </div>
            <div class="hor-scroll">
              <table class="form-list" cellspacing="0">
              <tbody>
                <tr>
                  <div class="selects">
                    <div id="dynamicInput_size" class="dynamicInput"></div>
                  </div>
                </tr>
                <tr>
                  <td>
                    <button id="" title="Add Field Mapping" type="button" class="scalable add" onclick="sizeAddInput('dynamicInput_size');" style="margin-right:3px;"><span><span><span>Add Field Mapping</span></span></span></button>
                    <button title="Save Size Mapping" type="button" class="scalable " onclick="saveSizeMapping();" style=""><span><span><span>Save Size Mapping</span></span></span></button>
                  </td>
                </tr>
              </tbody>
              </table>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>

  <div class="colorMapp">
    <div class="content-header">
        <table cellspacing="0">
            <tbody>
              <tr>
                <td style="width:50%;"><h3 class="icon-head head-report-sales-sales">Color Attribute Mapping</h3></td>
              </tr>
        </tbody></table>
    </div>
    <div class="entry-edit">
        <form id="mapping_attributes_color_form">
          <div class="entry-edit-head">
              <h4 class="icon-head head-edit-form fieldset-legend">Color Mapping</h4>
              <div class="form-buttons"></div>
          </div>
        <div class="fieldset " id="sales_report_base_fieldset_color">
          <div class="hor-scroll">
            <table class="form-list" cellspacing="0">
            <tbody>
              <tr>
                <td class="label"><h5>Select Supplier Color Node:</h5></td>
                <td class="value">
                  <select id='supplier_color_root' name='supplier_color_root' onchange='selectSupplierRootColor(this)' size='8'>
                  </select>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <button title="Fetch Colors" type="button" class="scalable" onclick="fetchColors();" style=""><span><span><span>Fetch Colors</span></span></span></button>
                </td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>

    <div class="color_mapping">
      <div class="entry-edit">
          <form id="mapping_attributes_color_form">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend">Field Mapping</h4>
                <div class="form-buttons"></div>
            </div>
          <div class="fieldset " id="sales_report_base_fieldset_color">
            <div>
              <ul class="messages">
                <li class="notice-msg">
                    <ul>
                      <li>
                        <span><?php echo $this->__('Make sure <span style="color:#eb5e00;">Mapping Color</span> is unique.') ?></span>
                      </li>
                    </ul>
                  </li>
              </ul>
            </div>
            <div class="hor-scroll">
              <table class="form-list" cellspacing="0">
              <tbody>
                <tr>
                  <div class="selects">
                    <div id="dynamicInput_color" class="dynamicInput"></div>
                  </div>
                </tr>
                <tr>
                  <td>
                    <button id="" title="Add Field Mapping" type="button" class="scalable add" onclick="colorAddInput('dynamicInput_color');" style="margin-right:3px;"><span><span><span>Add Field Mapping</span></span></span></button>
                    <button title="Save Color Mapping" type="button" class="scalable " onclick="saveColorMapping();" style=""><span><span><span>Save Color Mapping</span></span></span></button>
                  </td>
                </tr>
              </tbody>
              </table>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>


</div>

<div id="information"></div>
<div id="snackbar">Saved!</div>
<div id="snackbarError">Not Saved!</div>
<script type="text/javascript">
  var options = '';
  var k = 0;
  window.kk = 0;
  var s = 0;
  window.ss = 0;
  var c = 0;
  window.cc = 0;
  var supplierRootSizes = '';
  var supplierRootColors = '';

  // Map variable
  window.supplierMappAttr = '';
  window.defaultMappAttr = '';

  // Size Option Variable
  window.supplierSizeAttr = '';
  window.defaultSizeAttr = '';

  // Color Option variable
  window.supplierColorAttr = '';
  window.defaultColorAttr = '';

  //var ArraySelect = [];
  $j('.field_mapping').hide();
  $j('.size_mapping').hide();
  $j('.color_mapping').hide();
  $j('.attributes_code_mapp').hide();
  $j('.product_root').hide();

  //localStorage.clear();

  //getSupplierAttributes();

  function getSupplierAttributes() {
    clear();
    $j('#supplier_root').html('');
    $j('#supplier_xml_root').html('');
    var supplierAtrHTML = '<option value="0">choose an Attribute</option>';
    var defaultAtrHTML = '<option value="0">choose an Attribute</option>';

    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getAttributes");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'supplierId' : supplierId},
      onSuccess: function(transport) {
        var response = transport.responseText;
        var result = JSON.parse(response);
        //console.log('result -->',result);
        if(!result.error) {
          if(result.translation) { // in translations case
            //console.log('translation case ***********');
            if(result.supplier.length == undefined) {
              //console.log('for in');
              for(var key in result.supplier) {
                var value = result.supplier[key];
                var valueKey = value.substring(0,value.indexOf(">>"));
                var valueTrans = value.split('>>')[1];
                supplierAtrHTML += '<option value="'+ valueKey +'">'+ valueTrans +'</option>';
              }
            }else {
              //console.log('for i');
              for(var i = 0; i < result.supplier.length ; i++) {
                var value = result.supplier[i];
                var valueKey = value.substring(0,value.indexOf(">>"));
                var valueTrans = value.split('>>')[1];
                supplierAtrHTML += '<option value="'+ valueKey +'">'+ valueTrans +'</option>';
              }
            }

            for (var i = 0; i < result.default.length; i++) {
              defaultAtrHTML += '<option value="'+ result.default[i].attribute_code +'">'+ result.default[i].attribute_code +'</option>';
            }

            window.supplierMappAttr = supplierAtrHTML;
            window.defaultMappAttr = defaultAtrHTML;

            $j('#supplier_root').append(supplierAtrHTML);
            $j('#supplier_xml_root').append(supplierAtrHTML);

            loadSavedData();

            // createSelectRootAttributes();
            // getSupplierSizes();
            // getSupplierColors();
            // getSupplierDataSaved();

          }else {
            //console.log('not translated ***********');
            if(result.supplier.length == undefined) {
              //console.log('for in');
              for(var key in result.supplier) {
                var value = result.supplier[key];
                var cleanValue = value.replace('.*.', "=>").replace('.', "=>");
                supplierAtrHTML += '<option value="'+ result.supplier[key] +'">'+ cleanValue +'</option>';
              }
            }else {
              //console.log('for i');
              for(var i = 0; i < result.supplier.length ; i++) {
                var value = result.supplier[i];
                ////console.log('result.supplier ->',result.supplier[i]);
                //var cleanValue = value.replace('.*.', "=>").replace('.', "=>");
                supplierAtrHTML += '<option value="'+ result.supplier[i] +'">'+ result.supplier[i] +'</option>';
              }
            }
            for (var i = 0; i < result.default.length; i++) {
              defaultAtrHTML += '<option value="'+ result.default[i].attribute_code +'">'+ result.default[i].attribute_code +'</option>';
            }
            window.supplierMappAttr = supplierAtrHTML;
            window.defaultMappAttr = defaultAtrHTML;

            $j('#supplier_root').append(supplierAtrHTML);
            $j('#supplier_xml_root').append(supplierAtrHTML);

            loadSavedData();

            // createSelectRootAttributes();
            // getSupplierSizes();
            // getSupplierColors();
            // getSupplierDataSaved();

          }
        }else {
          showMessage(result.msg,'error');
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  };

  // Save XML Root Function
  function saveXMLRoot() {
    var selectedRoot = $j( "#supplier_xml_root option:selected" ).val();
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/saveXMLRootAttributes");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'selectedRoot' : selectedRoot,'supplierId' : supplierId },
      onSuccess: function(transport) {
        var response = transport.responseText;
        if(response) {
          showToast();
          $j('.product_root').show();
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }

  // Save Product Root
  function saveRootMapping() {
    var selectedRoot = $j( "#supplier_root option:selected" ).val();
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/saveRootAttributes");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'selectedRoot' : selectedRoot,'supplierId' : supplierId },
      onSuccess: function(transport) {
        var response = transport.responseText;
        if(response) {
          showToast();
          $j('.field_mapping').show();
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }

  function addInput(divName) {
    var magento_choices = window.defaultMappAttr;
    var supplier_choices = window.supplierMappAttr;
    createSelectAttribute(divName,magento_choices,supplier_choices,k);
    k++;
  }

  function createSelectAttribute(divName,magento_choices,supplier_choices,k) {
    var newDiv = document.createElement('span');
    newDiv.className = 'field-row';

    var selectHTML = "";
    var selectSupplierHTML = "<span class='orange'>&#8592;&#8594;</span> ";

    selectHTML += '<span>In Magento Database: </span>';
    selectHTML +="<select class='magentoAttributes' id='magento_attributes_"+k+"'>";
    selectHTML += magento_choices;
    selectHTML += "</select>";

    selectSupplierHTML += '<span>In XML File: </span>';
    selectSupplierHTML +="<select class='supplierAttributes' id='supplier_attributes_"+k+"'>";
    selectSupplierHTML += supplier_choices;
    selectSupplierHTML += "</select>";

    selectSupplierHTML += '<button id="" title="Remove" type="button" class="scalable delete" onclick="deleteSelectOption(this);" style=""><span><span><span>Remove</span></span></span></button>';
    newDiv.innerHTML = selectHTML + selectSupplierHTML;
    $j('#'+divName).append(newDiv);
  }

  function deleteSelectOption(el) {
    var parent  = $j(el).parent();
    parent.remove();
    window.kk = k-1;
    k = window.kk;
  }

  function saveMapping() {
    var magentoArrayAttr = [];
    var supplierArrayAttr = [];
    var object = {};

    $j.each($j(".magentoAttributes option:selected"), function(){
       if (this.value == '') {
           //console.log('empty value');
       } else {
          var $val = this.value;
          if($val !== undefined && $val !== null) {
           magentoArrayAttr.push($val);
          }
       }
    });
    $j.each($j(".supplierAttributes option:selected"), function(){
       if (this.value == '') {
           //console.log('empty value');
       } else {
          var $val = this.value;
          if($val !== undefined && $val !== null) {
            supplierArrayAttr.push($val);
          }
       }
    });

    for (var i = 0; i < magentoArrayAttr.length; i++) {
      object[magentoArrayAttr[i]] = supplierArrayAttr[i];
    }

    if(supplierArrayAttr.length > 0 && magentoArrayAttr.length > 0) {
      for (var i = 0; i < magentoArrayAttr.length; i++) {
        if(magentoArrayAttr[i] !== undefined && supplierArrayAttr[i] !== undefined) {
          object[magentoArrayAttr[i]] = supplierArrayAttr[i];
        }
      }
      //console.log('1 -->>',magentoArrayAttr);
      //console.log('2 -->>',supplierArrayAttr);
      //console.log('3 -->',object);
      saveMappingAttributesAction(object);
    }else {
      showMessage('You need to Mapp Minimum required fields.','error');
    }
  }

  function saveMappingAttributesAction(mappingArray) {
    //console.log('>>>',JSON.stringify(mappingArray));
    var ifSize = mappingArray['size'];
    var ifColor = mappingArray['color'];
    var ifOptions = mappingArray['options'];
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/saveMappingAttributes");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'mappingArray' : JSON.stringify(mappingArray),'supplierId' : supplierId },
      onSuccess: function(transport) {
        var response = transport.responseText;
        //document.getElementById("information").innerHTML =  response;
        //console.log('response ->',response);
        if(response) {
          showMessage('Your Supplier Mapping has been saved','success');
          if( ifSize !== undefined  && ifColor !== undefined ){
            $j('.attributes_code_mapp').show();
            $j('.sizeMap').show();
            $j('.colorMapp').show();
            var options = window.supplierMappAttr;
            $j('#supplier_size_root').append(options);
            $j('#supplier_color_root').append(options);
            $j('#attributes_code_mapp').goTo();
            showToast();
          }else if(ifSize !== undefined) {
            $j('.attributes_code_mapp').show();
            $j('.sizeMap').show();
            $j('.colorMapp').hide();
            var options = window.supplierMappAttr;
            $j('#supplier_size_root').append(options);
            $j('#attributes_code_mapp').goTo();
            showToast();
          }else if(ifColor !== undefined) {
            $j('.attributes_code_mapp').show();
            $j('.sizeMap').hide();
            $j('.colorMapp').show();
            var options = window.supplierMappAttr;
            $j('#supplier_color_root').append(options);
            $j('#attributes_code_mapp').goTo();
            showToast();
          }else if(ifOptions !== undefined) {
            // option contain color and size
            $j('.attributes_code_mapp').show();
            $j('.sizeMap').show();
            $j('.colorMapp').show();
            var options = window.supplierMappAttr;
            $j('#supplier_size_root').append(options);
            $j('#supplier_color_root').append(options);
            $j('#attributes_code_mapp').goTo();
          }
        }else {
          showToastError();
          showMessage('Your Supplier Mapping has been not saved','error');
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }

  // Size and color Mapping Functions

  function selectSupplierRootSize() {
    var rootSize = $j( "#supplier_size_root" ).val();
    //console.log('selected -->',rootSize);
    supplierRootSizes = rootSize;
  }

  function fetchSizes(root) {
    var str = '';
    if (typeof root === "undefined" || root === null) {
    str = supplierRootSizes;
    }else {
      str = root;
    }
    //console.log('supplierRootSizes -->',supplierRootSizes);
    //console.log('str  -->',str);

    var sizeRoot = str.replace('.*.', "->").replace('.', "->");
    //console.log('supplierRootSizes -->',sizeRoot);
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getSizeValueMappingByNode");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    //console.log('supplier id -->',supplierId);
    new Ajax.Request(url, {
      method:'get',
      parameters: {'node' : sizeRoot ,'supplierId' : supplierId },
      onSuccess: function(transport) {
        var response = transport.responseText;
        var result = JSON.parse(response);
        //document.getElementById("information").innerHTML =  response;
        if(result.success) {
          storeSizesAttributes(result);
        }else {
          console.log('error');
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }

  // Display Size Attributes
  function storeSizesAttributes(result) {
    var supplierSizes = '<option value="0">choose an Attribute</option>';
    var defaultSizes = '<option value="0">choose an Attribute</option>';

    if(result.data.length == undefined) {
      //console.log('for in');
      for(var key in result.data) {
        var value = result.data[key];
        supplierSizes += '<option value="'+ value +'">'+ value.toUpperCase() +'</option>';
      }
    }else {
      //console.log('for i');
      for(var i = 0; i < result.data.length ; i++) {
        var value = result.data[i];
        supplierSizes += '<option value="'+ value +'">'+ value.toUpperCase() +'</option>';
      }
    }

    for (var i = 0; i < result.sizes.length; i++) {
      var value = result.sizes[i];
      defaultSizes += '<option value="'+ value +'">'+ value.toLowerCase() +'</option>';
    }
    window.supplierSizeAttr = supplierSizes;
    window.defaultSizeAttr = defaultSizes;
    $j('.size_mapping').show();
  }

  function sizeAddInput(divName) {
    var magento_size_choices = window.defaultSizeAttr;
    var supplier_size_choices = window.supplierSizeAttr;
    createSelectSizeAttribute(divName,magento_size_choices,supplier_size_choices,s);
    s++;
  }

  function createSelectSizeAttribute(divName,magento_size_choices,supplier_size_choices,s) {
    var newDiv = document.createElement('span');
    newDiv.className = 'field-row';

    var selectHTML = "<span class='orange'>&#8592;&#8594;</span> ";
    var selectSupplierHTML = "";

    selectHTML += '<span>In Magento Database: </span>';
    selectHTML +="<select class='magentoSizeAttributes' id='magento_size_attributes_"+s+"'>";
    selectHTML += magento_size_choices;
    selectHTML += "</select>";

    selectSupplierHTML += '<span>In XML File: </span>';
    selectSupplierHTML +="<select class='supplierSizeAttributes' id='supplier_size_attributes_"+s+"'>";
    selectSupplierHTML += supplier_size_choices;
    selectSupplierHTML += "</select>";

    selectHTML += '<button id="" title="Remove" type="button" class="scalable delete" onclick="deleteSelectSizeOption(this);" style=""><span><span><span>Remove</span></span></span></button>';
    newDiv.innerHTML = selectSupplierHTML + selectHTML;

    $j('#'+divName).append(newDiv);
  }

  function deleteSelectSizeOption(el) {
    var parent  = $j(el).parent();
    parent.remove();
    window.ss = s-1;
    s = window.ss;
  }

  // Save Size Mapping functions
  function saveSizeMapping() {
    var magentoArraySizeAttr = [];
    var supplierArraySizeAttr = [];
    var object = {};

    $j.each($j(".magentoSizeAttributes option:selected"), function(){
       var $val = $j(this).val() || [];
       magentoArraySizeAttr.push($val);
    });
    $j.each($j(".supplierSizeAttributes option:selected"), function(){
       var $val = $j(this).val() || [];
       supplierArraySizeAttr.push($val);
    });
    for (var i = 0; i < supplierArraySizeAttr.length; i++) {
      object[magentoArraySizeAttr[i]] = supplierArraySizeAttr[i];
    }
    //console.log('object -->>',object);
    var rootSize = supplierRootSizes;
    //console.log('root Size -->',rootSize);
    if(!rootSize) {
      rootSize = $j('#supplier_size_root').val();
    }
    saveSizeMappingAttributesAction(object,rootSize);
  }

  function saveSizeMappingAttributesAction(mappingArray,rootSize) {
    //console.log('>>>',JSON.stringify(mappingArray));
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/saveMappingSizes");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'mappingSizesArray' : JSON.stringify(mappingArray),'supplierId' : supplierId, 'rootSize' : rootSize },
      onSuccess: function(transport) {
        var response = transport.responseText;
        //document.getElementById("information").innerHTML =  response;
        //console.log('response ->',response);
        if(response) {
          showToast();
          showMessage('Size Mapping has been saved','success');
        }else {
          showToastError();
          showMessage('Size Mapping has been not saved','error');
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }


  // Color Functionality
  function selectSupplierRootColor() {
    var rootColor = $j( "#supplier_color_root" ).val();
    //console.log('selected -->',rootColor);
    supplierRootColors = rootColor;
  }

  function fetchColors(root) {
    str = supplierRootColors;
    //console.log('supplierRootColors -->',supplierRootColors);
    //console.log('str -->',str);
    var colorRoot = str.replace('.*.', "->").replace('.', "->");
    //console.log('supplierRootColors -->',colorRoot);
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getColorValueMappingByNode");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'node' : colorRoot ,'supplierId' : supplierId },
      onSuccess: function(transport) {
        var response = transport.responseText;
        var result = JSON.parse(response);
        //document.getElementById("information").innerHTML =  response;
        if(result.success) {
          displayColorsAttributes(result);
        }else {
          console.log('error');
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }

  function displayColorsAttributes(result) {
    var supplierColors = '<option value="0">choose an Attribute</option>';
    var defaultColors = '<option value="0">choose an Attribute</option>';

    if(result.data.length == undefined) {
      //console.log('for in');
      for(var key in result.data) {
        var value = result.data[key];
        supplierColors += '<option value="'+ value +'">'+ value.toUpperCase() +'</option>';
      }
    }else {
      //console.log('for i');
      for(var i = 0; i < result.data.length ; i++) {
        var value = result.data[i];
        supplierColors += '<option value="'+ value +'">'+ value.toUpperCase() +'</option>';
      }
    }

    for (var i = 0; i < result.colors.length; i++) {
      var value = result.colors[i];
      defaultColors += '<option value="'+ value +'">'+ value.toUpperCase() +'</option>';
    }
    window.supplierColorAttr = supplierColors;
    window.defaultColorAttr = defaultColors;
    $j('.color_mapping').show();
  }

  function colorAddInput(divName) {
    var magento_color_choices = window.defaultColorAttr;
    var supplier_color_choices = window.supplierColorAttr;
    createSelectColorAttribute(divName,magento_color_choices,supplier_color_choices,c);
    c++;
  }

  function createSelectColorAttribute(divName,magento_color_choices,supplier_color_choices,s) {
    var newDiv = document.createElement('span');
    newDiv.className = 'field-row';

    var selectHTML = "<span class='orange'>&#8592;&#8594;</span> ";
    var selectSupplierHTML = "";

    selectHTML += '<span>In Magento Database: </span>';
    selectHTML +="<select class='magentoColorAttributes' id='magento_color_attributes_"+s+"'>";
    selectHTML += magento_color_choices;
    selectHTML += "</select>";

    selectSupplierHTML += '<span>In XML File: </span>';
    selectSupplierHTML +="<select class='supplierColorAttributes' id='supplier_color_attributes_"+s+"'>";
    selectSupplierHTML += supplier_color_choices;
    selectSupplierHTML += "</select>";

    selectHTML += '<button id="" title="Remove" type="button" class="scalable delete" onclick="deleteSelectColorOption(this);" style=""><span><span><span>Remove</span></span></span></button>';
    newDiv.innerHTML = selectSupplierHTML + selectHTML;
    $j('#'+divName).append(newDiv);
  }

  function deleteSelectColorOption(el) {
    var parent  = $j(el).parent();
    parent.remove();
    window.cc = c-1;
    c = window.cc;
  }

  function saveColorMapping() {
    var magentoArrayColorAttr = [];
    var supplierArrayColorAttr = [];
    var object = {};

    $j.each($j(".magentoColorAttributes option:selected"), function(){
       var $val = $j(this).val() || [];
       magentoArrayColorAttr.push($val);
    });
    $j.each($j(".supplierColorAttributes option:selected"), function(){
       var $val = $j(this).val() || [];
       supplierArrayColorAttr.push($val);
    });
    for (var i = 0; i < supplierArrayColorAttr.length; i++) {
      object[magentoArrayColorAttr[i]] = supplierArrayColorAttr[i];
    }
    //console.log('object -->>',object);
    var rootColor = supplierRootColors;
    //console.log('root Color -->',rootColor);
    if(!rootColor) {
      rootColor = $j('#supplier_color_root').val();
    }
    saveColorMappingAttributesAction(object,rootColor);
  }

  function saveColorMappingAttributesAction(mappingArray,rootColor) {
    //console.log('>>>',JSON.stringify(mappingArray));
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/saveMappingColors");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'mappingColorsArray' : JSON.stringify(mappingArray),'supplierId' : supplierId, 'rootColor' : rootColor },
      onSuccess: function(transport) {
        var response = transport.responseText;
        //document.getElementById("information").innerHTML =  response;
        //console.log('response ->',transport);
        if(response) {
          showToast();
          showMessage('Your Mapping for Colors has been saved','success');
        }else {
          showToastError();
          showMessage('Your Mapping for Colors has been not saved','error');
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }


  // Load Save dData
  function loadSavedData() {
    clear();
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getSupplierDataSaved");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'supplierId' : supplierId },
      onSuccess: function(transport) {
        var response = transport.responseText;
        var jsonResponse = JSON.parse(response);
        //document.getElementById("information").innerHTML =  response;
        var checked = jsonResponse.checked;
        if(checked) { // supplier already mapped
          var xmlRoot = jsonResponse.xmlRoot;
          var productRoot = jsonResponse.productRoot;
          var mapping = jsonResponse.mapping;
          $j('#supplier_xml_root').val(xmlRoot);
          $j('#supplier_root').val(productRoot);
          $j('.product_root').show();
          showMappedData(mapping);
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }

  function showMappedData(mapping,ifSize,ifColor) {
    $j('.field_mapping').show();
    var magento_choices = window.defaultMappAttr;
    var supplier_choices = window.supplierMappAttr;
    var divName = 'dynamicInput';
    createExistingSelectMapping(divName,mapping,magento_choices,supplier_choices);
  }

  function createExistingSelectMapping(divName,mapping,magento_choices,supplier_choices) {
    k=0;
    for (var key in mapping) {
      if (mapping.hasOwnProperty(key)) {
        var key = key;
        var value = mapping[key];
        createSelectOption(divName,k,magento_choices,supplier_choices,mapping);
      }
      k++;
    }
    selectMappingSavedOptions(mapping);
  }

  function createSelectOption(divName,i,magento_choices,supplier_choices,mapping) {
    var newDiv = document.createElement('span');
    newDiv.className = 'field-row';
    var selectHTML = "";
    var selectSupplierHTML = "<span class='orange'>&#8592;&#8594;</span> ";

    selectHTML      += '<span>In Magento Database: </span>';
    magento_choices += '<option value="id">id</option>';
    selectHTML      +="<select class='magentoAttributes' id='magento_attributes_"+i+"'>";
    selectHTML      += magento_choices;
    selectHTML      += "</select>";
    newDiv.innerHTML = selectHTML;

    selectSupplierHTML += '<span>In XML File: </span>';
    selectSupplierHTML +="<select class='supplierAttributes' id='supplier_attributes_"+i+"'>";
    selectSupplierHTML += supplier_choices;
    selectSupplierHTML += "</select>";

    selectSupplierHTML += '<button id="" title="Remove" type="button" class="scalable delete" onclick="deleteSelectOption(this);" style=""><span><span><span> Remove</span></span></span></button>';
    newDiv.innerHTML = selectHTML + selectSupplierHTML;

    $j('#'+divName).append(newDiv);
  }

  function selectMappingSavedOptions(mapping) {
    var i = 0;
    for (var key in mapping) {
      if (mapping.hasOwnProperty(key)) {
        var key = key;
        var value = mapping[key];
        $j("#magento_attributes_"+i).val(key);
        $j("#supplier_attributes_" + i).val(value);
      }
      i++;
    }

    var ifSize = mapping['size'];
    var ifColor = mapping['color'];
    var ifOptions = mapping['options'];
    if( ifSize !== undefined  && ifColor !== undefined ){
      $j('.attributes_code_mapp').show();
      $j('.sizeMap').show();
      $j('.colorMapp').show();
      var options = window.supplierMappAttr;
      $j('#supplier_size_root').append(options);
      $j('#supplier_color_root').append(options);
      displaySizeMappingSaved();
      displayColorMappingSaved();
    }else if(ifSize !== undefined) {
      $j('.attributes_code_mapp').show();
      $j('.sizeMap').show();
      $j('.colorMapp').hide();
      var options = window.supplierMappAttr;
      $j('#supplier_size_root').append(options);
      displaySizeMappingSaved();
    }else if(ifColor !== undefined) {
      $j('.attributes_code_mapp').show();
      $j('.sizeMap').hide();
      $j('.colorMapp').show();
      var options = window.supplierMappAttr;
      $j('#supplier_color_root').append(options);
      displayColorMappingSaved();
    }else if(ifOptions !== undefined) {
      // option contain color and size
      $j('.attributes_code_mapp').show();
      $j('.sizeMap').show();
      $j('.colorMapp').show();
      var options = window.supplierMappAttr;
      $j('#supplier_size_root').append(options);
      $j('#supplier_color_root').append(options);
      $j('#attributes_code_mapp').goTo();
      displaySizeMappingSaved();
      displayColorMappingSaved();
    }
  }

  function displaySizeMappingSaved() {
    $j('.attributes_code_mapp').show();
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getSupplierSizeMappingSaved");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'supplierId' : supplierId },
      onSuccess: function(transport) {
        var response = transport.responseText;
        var jsonResponse = JSON.parse(response);
        //document.getElementById("information").innerHTML =  response;
        var checked = jsonResponse.checked;
        if(checked) { // supplier already mapped
          var mapping = jsonResponse.mapping;
          var rootSizeMapped = jsonResponse.rootSizeMapped;
          fetchSizesHelper(rootSizeMapped,mapping);
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }

  function fetchSizesHelper(root,mapping) {
    var str = root;
    //console.log('str  -->',str);
    var sizeRoot = str.replace('.*.', "->").replace('.', "->");
    //console.log('supplierRootSizes -->',sizeRoot);
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getSizeValueMappingByNode");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    //console.log('supplier id -->',supplierId);
    new Ajax.Request(url, {
      method:'get',
      parameters: {'node' : sizeRoot ,'supplierId' : supplierId },
      onSuccess: function(transport) {
        var response = transport.responseText;
        var result = JSON.parse(response);
        //document.getElementById("information").innerHTML =  response;
        if(result.success) {
          storeSizesAttributesHelper(result,root,mapping);
        }else {
          console.log('error');
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }
  function storeSizesAttributesHelper(result,root,mapping) {
    var supplierSizes = '<option value="0">choose an Attribute</option>';
    var defaultSizes = '<option value="0">choose an Attribute</option>';

    if(result.data.length == undefined) {
      //console.log('for in');
      for(var key in result.data) {
        var value = result.data[key];
        supplierSizes += '<option value="'+ value +'">'+ value.toUpperCase() +'</option>';
      }
    }else {
      //console.log('for i');
      for(var i = 0; i < result.data.length ; i++) {
        var value = result.data[i];
        supplierSizes += '<option value="'+ value +'">'+ value.toUpperCase() +'</option>';
      }
    }

    for (var i = 0; i < result.sizes.length; i++) {
      var value = result.sizes[i];
      defaultSizes += '<option value="'+ value +'">'+ value.toLowerCase() +'</option>';
    }
    window.supplierSizeAttr = supplierSizes;
    window.defaultSizeAttr = defaultSizes;
    $j('.size_mapping').show();
    showSizeMappedData(mapping,root);
  }

  function showSizeMappedData(mapping,rootSizeMapped) {
    $j('.size_mapping').show();
    var magento_size_choices = window.defaultSizeAttr;
    var supplier_size_choices = window.supplierSizeAttr;
    var divName = 'dynamicInput_size';
    createSizeExistingSelectMapping(divName,mapping,magento_size_choices,supplier_size_choices,rootSizeMapped);
  }

  function createSizeExistingSelectMapping(divName,mapping,magento_size_choices,supplier_size_choices,rootSizeMapped) {
    s = 0;
    for (var key in mapping) {
      if (mapping.hasOwnProperty(key)) {
        var key = key;
        var value = mapping[key];
        createSizeSelectOption(divName,s,magento_size_choices,supplier_size_choices);
      }
      s++;
    }
    selectSizeMappingSavedOptions(mapping,rootSizeMapped);
  }

  function createSizeSelectOption(divName,i,magento_size_choices,supplier_size_choices) {
    var newDiv = document.createElement('span');
    newDiv.className = 'field-row';

    var selectHTML = "<span class='orange'>&#8592;&#8594;</span> ";
    var selectSupplierHTML = "";

    selectHTML += '<span>In Magento Database: </span>';
    selectHTML +="<select class='magentoSizeAttributes' id='magento_size_attributes_"+s+"'>";
    selectHTML += magento_size_choices;
    selectHTML += "</select>";

    selectSupplierHTML += '<span>In XML File: </span>';
    selectSupplierHTML +="<select class='supplierSizeAttributes' id='supplier_size_attributes_"+s+"'>";
    selectSupplierHTML += supplier_size_choices;
    selectSupplierHTML += "</select>";

    selectHTML += '<button id="" title="Remove" type="button" class="scalable delete" onclick="deleteSelectSizeOption(this);" style=""><span><span><span>Remove</span></span></span></button>';
    newDiv.innerHTML = selectSupplierHTML + selectHTML;
    $j('#'+divName).append(newDiv);
  }

  function selectSizeMappingSavedOptions(mapping,rootSizeMapped) {
    var i = 0;
    for (var key in mapping) {
      if (mapping.hasOwnProperty(key)) {
        var key = key;
        var value = mapping[key];
        $j("#magento_size_attributes_"+i).val(key);
        $j("#supplier_size_attributes_" + i).val(value);
      }
      i++;
    }
    $j("#supplier_size_root option[value='" + rootSizeMapped + "']").prop("selected", true);
  }

  // Display Color Mapping
  function displayColorMappingSaved() {
    $j('.attributes_code_mapp').show();
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getSupplierColorMappingSaved");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'supplierId' : supplierId },
      onSuccess: function(transport) {
        var response = transport.responseText;
        var jsonResponse = JSON.parse(response);
        //document.getElementById("information").innerHTML =  response;
        var checked = jsonResponse.checked;
        if(checked) { // supplier already mapped
          var mapping = jsonResponse.mapping;
          var rootColorMapped = jsonResponse.rootColorMapped;
          fetchColorsHelper(rootColorMapped,mapping);
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }

  function fetchColorsHelper(root,mapping) {
    var str = root;
    //console.log('str -->',str);
    var sizeColor = str.replace('.*.', "->").replace('.', "->");
    //console.log('supplierRootSizes -->',sizeColor);
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getColorValueMappingByNode");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'node' : sizeColor ,'supplierId' : supplierId },
      onSuccess: function(transport) {
        var response = transport.responseText;
        var result = JSON.parse(response);
        //document.getElementById("information").innerHTML =  response;
        if(result.success) {
          storeColorsAttributesHelper(result,root,mapping);
        }else {
          console.log('error');
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }

  function storeColorsAttributesHelper(result,root,mapping) {
    var supplierColors = '<option value="0">choose an Attribute</option>';
    var defaultColors = '<option value="0">choose an Attribute</option>';

    if(result.data.length == undefined) {
      //console.log('for in');
      for(var key in result.data) {
        var value = result.data[key];
        supplierColors += '<option value="'+ value +'">'+ value.toUpperCase() +'</option>';
      }
    }else {
      //console.log('for i');
      for(var i = 0; i < result.data.length ; i++) {
        var value = result.data[i];
        supplierColors += '<option value="'+ value +'">'+ value.toUpperCase() +'</option>';
      }
    }

    for (var i = 0; i < result.colors.length; i++) {
      var value = result.colors[i];
      defaultColors += '<option value="'+ value +'">'+ value.toUpperCase() +'</option>';
    }
    window.supplierColorAttr = supplierColors;
    window.defaultColorAttr = defaultColors;
    $j('.color_mapping').show();
    showColorMappedData(mapping,root);
  }

  function showColorMappedData(mapping,rootColorMapped) {
    $j('.color_mapping').show();
    var magento_color_choices = window.defaultColorAttr;
    var supplier_color_choices = window.supplierColorAttr;
    var divName = 'dynamicInput_color';
    createColorExistingSelectMapping(divName,mapping,magento_color_choices,supplier_color_choices,rootColorMapped);
  }

  function createColorExistingSelectMapping(divName,mapping,magento_color_choices,supplier_color_choices,rootColorMapped) {
    c = 0;
    for (var key in mapping) {
      if (mapping.hasOwnProperty(key)) {
        var key = key;
        var value = mapping[key];
        createColorSelectOption(divName,c,magento_color_choices,supplier_color_choices);
      }
      c++;
    }
    selectColorMappingSavedOptions(mapping,rootColorMapped);
  }

  function createColorSelectOption(divName,i,magento_color_choices,supplier_color_choices) {
    var newDiv = document.createElement('span');
    newDiv.className = 'field-row';

    var selectHTML = "<span class='orange'>&#8592;&#8594;</span> ";
    var selectSupplierHTML = "";

    selectHTML += '<span>In Magento Database: </span>';
    selectHTML +="<select class='magentoColorAttributes' id='magento_color_attributes_"+c+"'>";
    selectHTML += magento_color_choices;
    selectHTML += "</select>";

    selectSupplierHTML += '<span>In XML File: </span>';
    selectSupplierHTML +="<select class='supplierColorAttributes' id='supplier_color_attributes_"+c+"'>";
    selectSupplierHTML += supplier_color_choices;
    selectSupplierHTML += "</select>";

    selectHTML += '<button id="" title="Remove" type="button" class="scalable delete" onclick="deleteSelectColorOption(this);" style=""><span><span><span>Remove</span></span></span></button>';
    newDiv.innerHTML = selectSupplierHTML + selectHTML;
    $j('#'+divName).append(newDiv);
  }

  function selectColorMappingSavedOptions(mapping,rootColorMapped) {
    var i = 0;
    for (var key in mapping) {
      if (mapping.hasOwnProperty(key)) {
        var key = key;
        var value = mapping[key];
        $j("#magento_color_attributes_"+i).val(key);
        $j("#supplier_color_attributes_" + i).val(value);
      }
      i++;
    }
    $j("#supplier_color_root option[value='" + rootColorMapped + "']").prop("selected", true);
  }

  function clear() {
    var options = '';
    var k = 0;
    window.kk = 0;
    var s = 0;
    window.ss = 0;
    var c = 0;
    window.cc = 0;
    $j('#dynamicInput').html('');
    $j('#dynamicInput_size').html('');
    $j('#dynamicInput_color').html('');
  }


/**************************************************************************************/

  function back() {
    history.go(-1);
    return false;
  }

  function showToast() {
    // Get the snackbar DIV
    var x = document.getElementById("snackbar");
    // Add the "show" class to DIV
    x.className = "show";
    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
  }

  function showToastError() {
    // Get the snackbar DIV
    var x = document.getElementById("snackbarError");
    // Add the "show" class to DIV
    x.className = "show";
    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
  }

  function showMessage(txt, type) { //The type could be 'error', 'success', 'notice' or 'warning'.
    var html = '<ul class="messages"><li class="'+type+'-msg"><ul><li>' + txt + '</li></ul></li></ul>';
    $j('#messages').append(html);
    $j('.showNoticeMsg').show();
  }

  (function($) {
    $j.fn.goTo = function() {
        $j('html, body').animate({
            scrollTop: $j(this).offset().top + 'px'
        }, 200);
        return this; // for chaining...
    }
  })(jQuery);

</script>

<style media="screen">
  .selects {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }
  select { margin-right: 10px;min-width: 200px;width: 200px;}

  /*Toast Msg Style*/
  #snackbar {
      visibility: hidden; /* Hidden by default. Visible on click */
      min-width: 50px; /* Set a default minimum width */
      margin-left: -25px; /* Divide value of min-width by 2 */
      background-color: #333; /* Black background color */
      color: #fff; /* White text color */
      text-align: center; /* Centered text */
      border-radius: 2px; /* Rounded borders */
      padding: 16px; /* Padding */
      position: fixed; /* Sit on top of the screen */
      z-index: 1; /* Add a z-index if needed */
      left: 50%; /* Center the snackbar */
      bottom: 30px; /* 30px from the bottom */
  }

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
      visibility: visible; /* Show the snackbar */

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  /*Toast Msg Style*/
  #snackbarError {
      visibility: hidden; /* Hidden by default. Visible on click */
      min-width: 50px; /* Set a default minimum width */
      margin-left: -25px; /* Divide value of min-width by 2 */
      background-color: #333; /* Black background color */
      color: #fff; /* White text color */
      text-align: center; /* Centered text */
      border-radius: 2px; /* Rounded borders */
      padding: 16px; /* Padding */
      position: fixed; /* Sit on top of the screen */
      z-index: 1; /* Add a z-index if needed */
      left: 50%; /* Center the snackbarError */
      bottom: 30px; /* 30px from the bottom */
  }

  /* Show the snackbarError when clicking on a button (class added with JavaScript) */
  #snackbarError.show {
      visibility: visible; /* Show the snackbar */

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
  }
  .orange {color: #d75f07;}

  .content-header-floating {display: none !important;}
</style>
