<?php
$supplierId = $this->getSupplierID();
?>
<div id="page:main-container">
<div>
  <ul class="messages">
    <li class="notice-msg">
        <ul>
          <li>
            <span><?php echo $this->__('Make sure your translations is unique and will be saved automatically EVERY <span style="color:red;font-weight:bold;">3</span> Secondes. To start click <span style="color:#eb5e00;">Prepare XML</span> Button.') ?></span>
          </li>
        </ul>
      </li>
  </ul>
</div>
<div id="messages" class="showNoticeMsg"></div>

<div class="content-header">
    <table cellspacing="0">
        <tbody><tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sales-sales">Field Translations</h3></td>
            <td class="form-buttons">
              <button title="Back" type="button" class="scalable back" onclick="back();" style=""><span><span><span>Back</span></span></span></button>
              <button title="Prepare XML" id="prepareXML" type="button" class="scalable" onclick="getSupplierAttributes();" style=""><span><span><span>Prepare XML</span></span></span></button>
              <button title="Save Mapping" type="button" class="scalable saveTranslations" onclick="saveTranslations();" style=""><span><span><span>Save Filed Translations</span></span></span></button>
            </td>
        </tr>
    </tbody></table>
</div>

<div class="entry-edit">
    <form id="mapping_attributes_form">
      <div class="entry-edit-head">
          <h4 class="icon-head head-edit-form fieldset-legend">Translations Field</h4>
          <div class="form-buttons"></div>
      </div>
    <div class="fieldset " id="sales_report_base_fieldset">
      <div class="hor-scroll">
        <table class="form-list" cellspacing="0">
        <tbody>
          <tr>
            <div class="selects">
              <div id="dynamicInput" class="dynamicInput"></div>
            </div>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
</form>
</div>
</div>
<div id="information"></div>
<script type="text/javascript">
var options = '';
var k = 0;
window.kk = 0;
var supplierRootCategories = '';
$j('.saveTranslations').hide();

function getSupplierAttributes() {
  $j('#dynamicInput').html('');
  var html = '<form>';
  var Inputs = '';
  var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/getAttributesTranslations");?>';
  var supplierId = '<?php echo $this->getSupplierID(); ?>';
  new Ajax.Request(url, {
    method:'get',
    parameters: {'supplierId' : supplierId},
    onSuccess: function(transport) {
      var response = transport.responseText;
      var result = JSON.parse(response);
      //console.log('result -->',result);
      if(result.supplier.length == undefined) {
        //console.log('for in');
        var j = 0;
        for(var key in result.supplier) {
          var value = result.supplier[key];
          var cleanValue = value.replace('.*.', "=>").replace('.', "=>");
          html += '<div class="inputs">';
          html += '<span>Supplier Filed: </span>';
          html += '<input type="text" name="supplier_field_translate" value="'+ cleanValue +'" id="mg_attributes_translated_'+j+'" readonly/>';
          html += ' <span class="orange">&#8592;&#8594;</span> ';
          html += '<span>Translated To: </span>';
          html +='<input type="text" name="supplier_attributes_translated" value="" id="supplier_attributes_translated_'+j+'"/>';
          html +='</div>';
          j++;
        }
      }else {
        //console.log('for i');
        for(var i = 0; i < result.supplier.length ; i++) {
          var value = result.supplier[i];
          var cleanValue = value.replace('.*.', "=>").replace('.', "=>");
          html += '<div class="inputs">';
          html += '<span>Supplier Filed: </span>';
          html += '<input type="text" name="supplier_field_translate" value="'+ cleanValue +'" id="mg_attributes_translated_'+i+'" readonly/>';
          html += ' <span class="orange">&#8592;&#8594;</span> ';
          html += '<span>Translated To: </span>';
          html +='<input type="text" name="supplier_attributes_translated" id="supplier_attributes_translated_'+i+'"/>';
          html +='</div>';
        }
      }
      html += '</form>';
      $j('#dynamicInput').append(html);
      $j('.saveTranslations').show();
      var timeo;
      timeo = setTimeout(function(){
        clearTimeout(timeo);
        loadTranslations();
      },1000);
      var timeoutId;
      $j('input').on('input propertychange change', function() {
        //console.log('Inputs Change');
        clearTimeout(timeoutId);
        timeoutId = setTimeout(function() {
          // Runs 1 second (1000 ms) after the last change
          saveTranslations();
          // Now show them we saved and when we did
          var d = new Date();
          //console.log('Saved! Last: ' + d.toLocaleTimeString());
        }, 3000); // auto save run every 3 secondes
      });
    },
    onFailure: function() {
      document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
    }
  });
};

function loadTranslations() {
  var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/checkSupplierTranslations");?>';
  var supplierId = '<?php echo $this->getSupplierID(); ?>';
  new Ajax.Request(url, {
    method:'get',
    parameters: {'supplierId' : supplierId },
    onSuccess: function(transport) {
      var response = transport.responseText;
      var result = JSON.parse(response);
      //console.log('result -->>',result);
      var val = '';
      if(result.saved) {
        if(result.data !== undefined ) { // translations saved exist
          var j = 0;
          $j('input[name^="supplier_field_translate"]').each(function(){
            if(this.value) {
              var value,cleanValue,inputVal,keyVal;
              for(var key in result.data) {
                //if(result.data[key].indexOf(this.value)!=-1) {
                  //console.log('*********************************************************************');
                  value = result.data[key];
                  cleanValue = value.replace('.*.', "=>").replace('.', "=>");
                  keyVal = key;
                  //console.log('cleanValue = ',cleanValue);
                  //console.log('value -->>',value);
                  //console.log('key -->',key);
                  inputVal = this.value;//$j("#mg_attributes_translated_"+ j).val();
                  //console.log('input val = ',inputVal);
                  if( inputVal === cleanValue ) {
                    //console.log('****** ' + inputVal + ' = ' + cleanValue);
                    $j("#supplier_attributes_translated_"+ j).val(keyVal);
                  }
                //}
              }
              j++;
            }
          });
        }
      }
    },
    onFailure: function() {
      document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
    }
  });
}

function saveTranslations() {
  var translatedArrayAttr = [];
  var supplierTranslateArrayAttr = [];
  var object = {};
  var counter = 0;

  $j('input[name^="supplier_field_translate"]').each(function(){
    if (this.value == '') {
        //console.log('empty value');
        supplierTranslateArrayAttr.push('empty');
    } else {
         var $val = this.value;
         var cleanValue = '';
         if ($val.indexOf('=>') > -1) {
            var count = ($val.match(/=>/g) || []).length;
            if(count == 1) {
              cleanValue = $val.replace('=>', ".*.");
            }else {
              cleanValue = $val.replace('=>', ".").replace('=>', ".*.");
            }
         }else {
           cleanValue = $val;
         }
         //console.log('clean value = ',cleanValue);
         if(cleanValue !== undefined && cleanValue !== null) {
          supplierTranslateArrayAttr.push(cleanValue);
          counter++;
         }
    }
  });

  $j('input[name^="supplier_attributes_translated"]').each(function(){
    if (this.value == '') {
        //console.log('empty value');
        translatedArrayAttr.push('empty');
    } else {
       var $val = this.value;
       //console.log('$val = ',$val);
       if($val !== undefined && $val !== null) {
         translatedArrayAttr.push($val.toLowerCase());
       }
    }
  });
  //console.log('counter -->>',counter);
  //console.log('translatedArrayAttr -->>',translatedArrayAttr.length);
  if(supplierTranslateArrayAttr.length > 0 && translatedArrayAttr.length > 0) {
    for (var i = 0; i < supplierTranslateArrayAttr.length; i++) {
      //console.log('***>>>>>>',translatedArrayAttr[i]);
      //console.log('***>>>>>>**',supplierTranslateArrayAttr[i]);
      if(translatedArrayAttr[i] !== undefined) {
        var $vall = supplierTranslateArrayAttr[i];
        var cleanValue = '';
        var count = ($vall.match(/=>/g) || []).length;
        if(count == 1) {
          cleanValue = $vall.replace(".*.",'=>');
        }else {
          cleanValue = $vall.replace(".*.",'=>').replace(".",'=>');
        }
        var v = translatedArrayAttr[i] != 'empty' ? translatedArrayAttr[i] : cleanValue;
        object[v] = supplierTranslateArrayAttr[i];
      }
    }
    // console.log('1 -->>',translatedArrayAttr);
    // console.log('2 -->>',supplierTranslateArrayAttr);
    // console.log('3 -->',object);
    saveSupplierTranslation(object);
  }else {
    showMessage('You need to translate all the field.','error');
  }
}

function saveSupplierTranslation(translationArray) {
  $j('#messages').html("");
  //console.log('>>>',JSON.stringify(translationArray));
  var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/saveSupplierTranslations");?>';
  var supplierId = '<?php echo $this->getSupplierID(); ?>';
  new Ajax.Request(url, {
    method:'post',
    parameters: {'translationArray' : JSON.stringify(translationArray),'supplierId' : supplierId },
    onCreate: function(request) {
      Ajax.Responders.unregister(varienLoaderHandler.handler);
    },
    onSuccess: function(transport) {
      Ajax.Responders.register(varienLoaderHandler.handler);
      var response = transport.responseText;
      //console.log('transport >>>>>',transport);
      if(response){
        // Now show them we saved and when we did
        var d = new Date();
        showMessage('Your translation has beed saved. ' + 'Saved! Last: ' + d.toLocaleTimeString(),'success');
      }else {
        showMessage('Your translation has beed not saved.','error');
      }
    },
    onFailure: function() {
      document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
    }
  });
}

function showMessage(txt, type) { //The type could be 'error', 'success', 'notice' or 'warning'.
  var html = '<ul class="messages"><li class="'+type+'-msg"><ul><li>' + txt + '</li></ul></li></ul>';
  $j('#messages').append(html);
  $j('.showNoticeMsg').show();
}

function back() {
  history.go(-1);
  return false;
}

</script>

<style media="screen">
.selects {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
input { margin-right: 10px;min-width: 200px;width: 200px;}
.inputs {margin: 10px 0;}
.orange {color: #d75f07;}

.wrapperTrans {display: flex;}
.half {
  width:50%;/* do not mind flex, just set a width */
  padding: 15px;
}
</style>
