<?php
$supplierId = $this->getSupplierID();
$supplier = Mage::getModel('codendot_picksel/supplier')->load($supplierId);
if($supplier->getStatus()){
  $supplierName = str_replace(" ", "_", $supplier->getSupplierName());
}
?>
<div id="page:main-container">
<div id="messages" class="messages"></div>

<div class="supplier_products">
  <div class="content-header">
      <table cellspacing="0">
          <tbody>
            <tr>
              <td style="width:50%;"><h3 class="icon-head head-report-sales-sales">Products</h3></td>
              <td class="form-buttons">
                <button title="Back" type="button" class="scalable back" onclick="back();" style=""><span><span><span>Back</span></span></span></button>
                <button title="Check For update" type="button" class="scalable checkXmlUpdate" onclick="checkXmlUpdate();" style=""><span><span><span>Check For update</span></span></span></button>
                <button title="Fetch Supplier Products" type="button" class="scalable" onclick="fetchSupplierProducts();" style=""><span><span><span>Fetch Supplier Products</span></span></span></button>
                <!-- <button title="Export to CSV" id="download-csv" type="button" class="scalable " style=""><span><span><span>Export to CSV</span></span></span>
                </button> -->
              </td>
          </tr>
      </tbody></table>
  </div>

  <div class="entry-edit">
      <form id="mapping_attributes_form">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Supplier Products</h4>
            <div class="form-buttons"></div>
        </div>
        <div class="fieldset " id="sales_report_base_fieldset">
          <div class="hor-scroll">
            <table class="form-list" cellspacing="0">
            <tbody>
              <tr>
                <!-- <td class="label"><h5>Product Here</h5></td>
                <td class="value">
                </td> -->
                <div class="no_products"><?php echo $this->__('No records found.') ?></div>
                <div id="products-table"></div>
              </tr>
              <tr>
                <table id="data-table" class="display table table-striped table-bordered" cellspacing="0" width="100%"></table>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
      </form>
  </div>
</div>

<div id="information"></div>
</div>
<script type="text/javascript">

  $j("#download-csv").hide();
  $j('.no_products').show();
  $j('.messages').hide();
  $j('.checkXmlUpdate').hide();

  checkSupplierFirstRun();

  function ReadXmlAction() {
    var tableData = [];
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/FormatXML");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'supplierId' : supplierId },
      onSuccess: function(transport) {
        console.log('transport -->',transport);
        var response = transport.responseText;
        var result = JSON.parse(response);
        //document.getElementById("information").innerHTML =  response;
        if(result.success) {
          if(result.data.length > 0) { // check result.data length > 0
            for (var i = 0; i < result.data.length; i++) {
              var data = result.data[i];
              if( Object.prototype.toString.call( data ) === '[object Array]' ) { // value is array
                var k = 0;
                for (var j = 0; j < data.length; j++) {
                  var value = data[j];
                  tableData.push({
                      id: k,
                      store: value.store,
                      websites: value.websites,
                      attribute_set: value.attribute_set,
                      configurable_attributes: value.configurable_attributes,
                      type: value.type,
                      name: value.name,
                      system_name: value.system_name,
                      supplier_prod_name: value.supplier_prod_name,
                      product_name: value.product_name,
                      categories: value.categories,
                      simples_skus: value.simples_skus,
                      sku: value.sku,
                      code:value.code,
                      prod_id: value.prod_id,
                      has_options: value.has_options,
                      news_from_date: value.news_from_date,
                      news_to_date: value.news_to_date,
                      weight: value.weight,
                      description: value.description,
                      short_description: value.short_description,
                      meta_title: value.meta_title,
                      meta_keyword: value.meta_keyword,
                      meta_description: value.meta_description,
                      url_key: value.url_key,
                      url_path: value.url_path,
                      image: value.image,
                      media_gallery : value.media_gallery,
                      small_image: value.small_image,
                      thumbnail: value.thumbnail,
                      image_label: value.image_label,
                      thumbnail_label: value.thumbnail_label,
                      small_image_label: value.small_image_label,
                      status: value.status,
                      visibility: value.visibility,
                      tax_class_id: value.tax_class_id,
                      price: value.price,
                      supplier_price: value.supplier_price,
                      tags: value.tags,
                      special_price: value.special_price,
                      size: value.size,
                      color: value.color,
                      brand: value.brand,
                      qty: value.qty,
                      is_in_stock: value.is_in_stock,
                      supplier_name: value.supplier_name,
                      options_container: value.options_container
                  });
                  k++;
                }
              }else { // value not array
                //for (var m = 0; m < result.data.length; m++) {
                  tableData.push({
                      id: k,
                      store: data.store,
                      websites: data.websites,
                      attribute_set: data.attribute_set,
                      configurable_attributes: data.configurable_attributes,
                      type: data.type,
                      name: data.name,
                      system_name: data.system_name,
                      supplier_prod_name: data.supplier_prod_name,
                      product_name: data.product_name,
                      categories: data.categories,
                      simples_skus: data.simples_skus,
                      sku: data.sku,
                      code:data.code,
                      prod_id: data.prod_id,
                      has_options: data.has_options,
                      news_from_date: data.news_from_date,
                      news_to_date: data.news_to_date,
                      weight: data.weight,
                      description: data.description,
                      short_description: data.short_description,
                      meta_title: data.meta_title,
                      meta_keyword: data.meta_keyword,
                      meta_description: data.meta_description,
                      url_key: data.url_key,
                      url_path: data.url_path,
                      image: data.image,
                      media_gallery : data.media_gallery,
                      small_image: data.small_image,
                      thumbnail: data.thumbnail,
                      image_label: data.image_label,
                      thumbnail_label: data.thumbnail_label,
                      small_image_label: data.small_image_label,
                      status: data.status,
                      visibility: data.visibility,
                      tax_class_id: data.tax_class_id,
                      price: data.price,
                      supplier_price: data.supplier_price,
                      tags: data.tags,
                      special_price: data.special_price,
                      size: data.size,
                      color: data.color,
                      brand: data.brand,
                      qty: data.qty,
                      is_in_stock: data.is_in_stock,
                      supplier_name: data.supplier_name,
                      options_container: data.options_container
                  });
                  k++;
                //}
              }
            }
            //drowTable(tableData);
            drowDataTable(tableData);
            showMessage('Success','success');
          }else { // no records found
            showMessage(result.data,'error');
          }
        }else {
          showMessage(result.data,'error');
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
}

  function fetchSupplierProducts() {
    console.log('fetch supplier products');
    ReadXmlAction();
  }

  function drowTable(data) {
    $j('.no_products').hide();
    var tabledata = data;
    //Status editor
    var statusEditor = function(cell, value){
      var editor = $j("<select><option value=''></option><option value='1'>Enabled</option><option value='2'>Disabled</option></select>");
      editor.css({
        "padding":"4px",
        "width":"100%",
        "box-sizing":"border-box",
      })
      .val(value);
      setTimeout(function(){
        editor.focus();
      },100)
      editor.on("change blur", function(e){
        cell.trigger("editval", editor.val());
      });
      return editor;
    };


    $j("#products-table").tabulator({
      height: '600px',
      pagination:false,
      pagination:"local",
      paginationSize:20,
      tooltips:true,
      columns:[

        {formatter:"rownum", align:"center", width:40,frozen:true},
        {title:"store", field:"store", editable:false,headerFilter:false,width:100},
        {title:"websites", field:"websites",headerFilter:true,width:100,sortable:false},
        {title:"attribute_set", field:"attribute_set",headerFilter:true,width:100,sortable:false},
        {title:"configurable_attributes", field:"configurable_attributes",headerFilter:true,sortable:false},
        {title:"type", field:"type",headerFilter:true,width:100,sortable:false},
        {title:"categories",field:"categories",editable:true,headerFilter:true},
        {title:"simples_skus",field:"simples_skus",editable:false,headerFilter:false},
        {title:"sku", field:"sku",editable:true,headerFilter:true,width: 100,sortable:false},
        {title:"has_options",field:"has_options",editable:false,headerFilter:false,width:100},
        {title:"supplier_prod_name", field:"supplier_prod_name", editable:true,headerFilter:false,width:200,frozen:false},
        {title:"system_name", field:"system_name", editable:true,headerFilter:false,width:200,frozen:false},
        {title:"name", field:"name", editable:true,headerFilter:false,width:200,frozen:false},
        {title:"weight", field:"weight",editable: true,headerFilter:true,sortable:false},
        {title:"description", field:"description",editable:true,headerFilter:true,width:300,sortable:false},
        {title:"short_description", field:"short_description",editable:true,headerFilter:true,width:300,sortable:false},
        {title:"meta_title", field:"meta_title",editable:true,headerFilter:true,width:200,sortable:false},
        {title:"meta_keyword", field:"meta_keyword",editable:true,headerFilter:true,width:200,sortable:false},
        {title:"meta_description", field:"meta_description",editable:true,headerFilter:true,width:200,sortable:false},
        {title:"image", field:"image",editable:true,headerFilter:true,sortable:false},
        {title:"small_image", field:"small_image",editable:true,headerFilter:true,sortable:false},
        {title:"thumbnail", field:"thumbnail",editable:true,headerFilter:true,sortable:false},
        {title:"status", field:"status",editable:true,editor:statusEditor,headerFilter:true,width:100,sortable:false},
        {title:"visibility", field:"visibility",headerFilter:true,width:150,sortable:false},
        {title:"tax_class_id", field:"tax_class_id",headerFilter:true,sortable:false},
        {title:"supplier_price", field:"supplier_price", editable:true,headerFilter:true,sortable:false},
        {title:"price", field:"price", editable:true,headerFilter:true,sortable:false},
        //{title:"special_price", field:"special_price",editable:true,headerFilter:true,sortable:false},
        {title:"size", field:"size",editable:true,headerFilter:true,sortable:false},
        {title:"color", field:"color",editable:true,headerFilter:true,sortable:false},
        {title:"brand", field:"brand",editable:true,headerFilter:true,sortable:false},
        {title:"qty", field:"qty",editable:true,headerFilter:true,sortable:false},
        {title:"is_in_stock", field:"is_in_stock",editable:true,headerFilter:true,sortable:false},
        {title:"media_gallery", field:"media_gallery",editable:true,headerFilter:true,sortable:false},
        {title:"code", field:"code",editable:true,headerFilter:true,width: 200,sortable:false},
        {title:"prod_id", field:"prod_id",editable:true,headerFilter:true,width: 200,sortable:false},
        {title:"supplier_name", field:"supplier_name",editable:true,headerFilter:true,sortable:false},
        {title:"options_container", field:"options_container",editable:true,headerFilter:true,sortable:false}
        //{title:"tags", field:"tags", editable:true,headerFilter:true,sortable:false}


      ////{formatter:"rownum", align:"center", width:40,frozen:true},
      ////{title:"name", field:"name", editable:true,headerFilter:true,width:200,frozen:false},
      ////{title:"categories",field:"categories",editable:true,headerFilter:true,width:600},
      ////{title:"simples_skus",field:"simples_skus",editable:false,headerFilter:true},
      ////{title:"sku", field:"sku",editable:true,headerFilter:true,width: 200,sortable:false},
      ////{title:"code", field:"code",editable:true,headerFilter:true,width: 200,sortable:false},
      ////{title:"prod_id", field:"prod_id",editable:true,headerFilter:true,width: 200,sortable:false},
      ////{title:"image", field:"image",editable:true,headerFilter:true,sortable:false},
      ////{title:"media_gallery", field:"media_gallery",editable:true,headerFilter:true,sortable:false},
      ////{title:"small_image", field:"small_image",editable:true,headerFilter:true,sortable:false},
      ////{title:"thumbnail", field:"thumbnail",editable:true,headerFilter:true,sortable:false},
      ////{title:"status", field:"status",editable:true,editor:statusEditor,headerFilter:true,width:100,sortable:false},
      ////{title:"price", field:"price", editable:true,headerFilter:true,sortable:false},
      /////{title:"supplier_price", field:"supplier_price", editable:true,headerFilter:true,sortable:false},
      ////{title:"tags", field:"tags", editable:true,headerFilter:true,sortable:false},
      ////{title:"size", field:"size",editable:true,headerFilter:true,sortable:false},
      ////{title:"color", field:"color",editable:true,headerFilter:true,sortable:false},
      ////{title:"qty", field:"qty",editable:true,headerFilter:true,sortable:false},

      ////{title:"store", field:"store", editable:false,headerFilter:false,width:100},
      ////{title:"websites", field:"websites",headerFilter:true,width:100,sortable:false},
      ////{title:"attribute_set", field:"attribute_set",headerFilter:true,width:100,sortable:false},
      ////{title:"configurable_attributes", field:"configurable_attributes",headerFilter:true,sortable:false},
      ////{title:"type", field:"type",headerFilter:true,width:100,sortable:false},
      //{title:"Product Name", field:"product_name",editable:true,headerFilter:true,width:250},
      ////{title:"has_options",field:"has_options",editable:false,headerFilter:false,width:100},
      //{title:"news_from_date", field:"news_from_date",editable:true,headerFilter:true,sorter:"date"},
      //{title:"news_to_date", field:"news_to_date",editable:true,headerFilter:true,sorter:"date"},
      ////{title:"weight", field:"weight",editable: true,headerFilter:true,sortable:false},
      ////{title:"description", field:"description",editable:true,headerFilter:true,width:300,sortable:false},
      ////{title:"short_description", field:"short_description",editable:true,headerFilter:true,width:300,sortable:false},
      ////{title:"meta_title", field:"meta_title",editable:true,headerFilter:true,width:200,sortable:false},
      ////{title:"meta_keyword", field:"meta_keyword",editable:true,headerFilter:true,width:200,sortable:false},
      ////{title:"meta_description", field:"meta_description",editable:true,headerFilter:true,width:200,sortable:false},
      //{title:"url_key", field:"url_key",editable:true,headerFilter:true},
      //{title:"url_path",field:"url_path",editable:true,headerFilter:true},
      ////{title:"visibility", field:"visibility",headerFilter:true,width:150,sortable:false},
      ////{title:"tax_class_id", field:"tax_class_id",headerFilter:true,sortable:false},
      //{title:"special_price", field:"special_price",editable:true,headerFilter:true,sortable:false},
      ////{title:"is_in_stock", field:"is_in_stock",editable:true,headerFilter:true,sortable:false},
      ////{title:"supplier_name", field:"supplier_name",editable:true,headerFilter:true,sortable:false}
      ],
      rowEdit:function(id,data,row){

      }
    });

    $j("#products-table").tabulator("setData", tabledata);
    $j('#download-csv').show();
    $j(window).resize(function(){
      $j("#products-table").tabulator("redraw");
    });
  }

  function drowDataTable(data) {
    $j('.no_products').hide();
    var tabledata = data;
    var supplierName = '<?php echo $supplierName; ?>';
    var d = new Date();
    var n = d.getTime();
    var today = getTodayDate(false);
    var fileName = supplierName+'_'+ today + '_' + n;
    $j('#data-table').DataTable( {
      dom: ':Blfrtip',
      buttons: [
        {
          extend: 'csvHtml5',
          title: fileName,
          text: 'Export To CSV'
        },
      ],
      scrollX:        true,
      scrollCollapse: true,
  		data: tabledata,
      ordering: false,
      responsive: true,
  		"columns": [
        { "title": "store","data": "store" },
        { "title": "websites","data": "websites" },
        { "title": "attribute_set","data": "attribute_set" },
        { "title": "configurable_attributes","data": "configurable_attributes" },
        { "title": "type","data": "type" },
        { "title": "categories","data": "categories" },
        { "title": "simples_skus","data": "simples_skus" },
        { "title": "sku","data": "sku" },
        { "title": "has_options","data": "has_options" },
        { "title": "supplier_prod_name","data": "supplier_prod_name" },
        { "title": "system_name","data": "system_name" },
        { "title": "name","data": "name" },
        { "title": "weight","data": "weight" },
        { "title": "description","data": "description" },
        { "title": "short_description","data": "short_description" },
        { "title": "meta_title","data": "meta_title" },
        { "title": "meta_keyword","data": "meta_keyword" },
        { "title": "meta_description","data": "meta_description" },
        { "title": "image","data": "image" },
        { "title": "small_image","data": "small_image" },
        { "title": "thumbnail","data": "thumbnail" },
        { "title": "status","data": "status" },
        { "title": "visibility","data": "visibility" },
        { "title": "tax_class_id","data": "tax_class_id" },
        { "title": "supplier_price","data": "supplier_price" },
        { "title": "price","data": "price" },
        //{ "title": "special_price","data": "special_price" },
        { "title": "size","data": "size" },
        { "title": "color","data": "color" },
        { "title": "brand","data": "brand" },
        { "title": "qty","data": "qty" },
        { "title": "is_in_stock","data": "is_in_stock" },
        { "title": "media_gallery","data": "media_gallery" },
        { "title": "code","data": "code" },
        { "title": "prod_id","data": "prod_id" },
        { "title": "supplier_name","data": "supplier_name" },
        { "title": "options_container","data": "options_container"}
  		]
  	});
  }

  //trigger download of data.csv file
  $j("#download-csv").click(function(){
    var supplierName = '<?php echo $supplierName; ?>';
    var d = new Date();
    var n = d.getTime();
    var today = getTodayDate(false);
    var fileName = supplierName+'_'+ today + '_' + n + '.csv';
    $j("#products-table").tabulator("download", "csv", fileName);
  });

  function getTodayDate(symb) {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10) {
        dd='0'+dd
    }
    if(mm<10) {
        mm='0'+mm
    }
    var sep = symb ? '/' : '_';
    today = dd+sep+mm+sep+yyyy;
    return today;
  }

  function showMessage(txt, type) { //The type could be 'error', 'success', 'notice' or 'warning'.
    var html = '<ul class="messages"><li class="'+type+'-msg"><ul><li>' + txt + '</li></ul></li></ul>';
    $j('#messages').append(html);
    $j('.messages').show();
  }

  function back() {
    history.go(-1);
    return false;
  }

  function checkXmlUpdate() {
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/checkXmlUpdate");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'supplierId' : supplierId },
      onSuccess: function(transport) {
        console.log('transport -->',transport);
        var response = transport.responseText;
        //var result = JSON.parse(response);
        //document.getElementById("information").innerHTML =  response;
        if(response) {
          showMessage('An Update found','success');
        }else {
          showMessage('No update found','error');
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }

  function checkSupplierFirstRun() {
    var url='<?php echo Mage::helper("adminhtml")->getUrl("admin_picksel/adminhtml_picksel_supplier/checkSupplierFirstRun");?>';
    var supplierId = '<?php echo $this->getSupplierID(); ?>';
    new Ajax.Request(url, {
      method:'get',
      parameters: {'supplierId' : supplierId },
      onSuccess: function(transport) {
        console.log('transport -->',transport);
        var response = transport.responseText;
        var result = JSON.parse(response);
        //document.getElementById("information").innerHTML =  response;
        if(result.success) {
          $j('.checkXmlUpdate').show();
        }else {
          $j('.checkXmlUpdate').hide();
        }
      },
      onFailure: function() {
        document.getElementById("information").innerHTML =  'There is error. Plz try again !.';
      }
    });
  }

</script>

<style media="screen">
.no_products {
  text-align: center;
}


table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

#data-table {
    /*width: 500px;*/
    table-layout: fixed;
}

th,td  {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#data-table_length {padding: 0.5em 1em;}
</style>
