.em-footer-style20{
	.em-footer-top{
		padding-top:40px;
	}
	.em-footer-top-logo{
		border-bottom-style: solid;
		border-bottom-width: 1px;
		padding-bottom: 30px;
		.img-responsive{display:inline}
	}
	.em-footer-bottom{
		border-top-style: solid;
		border-top-width: 1px;
		padding-top: 45px;
		padding-bottom: 15px;
		text-align:center;
		address{width:100%;}
	}
	.em-footer-info{
		.col-sm-6{padding-top: 50px;padding-bottom: 30px;}
	}
	address{
		margin-top:5px;
	}
	.em-links{
		li{
			padding:0 0 $padding1x; 
		}
	}
	.em-wrapper-social{
		overflow: hidden;
		display:inline-block;
		.em-block-title{
			float:left;
			margin-right:20px;
			margin-top: 10px;
		}
		.em-block-content{
			overflow:hidden;
			float:left;
		}
		.em-social{
			.em-social-icon{
				@include border-radius(0);
				padding: 4px 6px;
				font-size:1.6rem;
				border-style: solid;
				border-width: 1px;
			}
		}
	}		
}
/*===============RTL=================*/
.em-rtl{
	.em-footer-style20{
		.line-left{
			border-left-width: 0px;
			border-right-width: 1px;
			border-right-style: solid;
		}
		.line-right{
			border-right-width: 0px;
			border-left-width: 1px;
			border-left-style: solid;
		}
	}
}