.em-footer-style15{
	border-top:3px solid #effcff; padding-top:$space_block;
	.em-footer-bottom{ background:#207193; color:#fff; padding:($padding2x * 2) 0 !important;
	ul.links{margin-bottom:20px;
		li{ padding:0 15px;}
	}
		a{ color:#fff;}
		address{font-size:90%; margin-bottom:0;}
	}
	.em-links li{
		margin-bottom:$padding2x;
	}
	.em-social{
		.em-social-icon{
			@include border-radius(100%);
			padding: 3px 6px;
			font-size:2rem; 
			background:#88e2f7; color:#fff;
		}
	}
	.em-ads-item{
		margin-top:25px;
		p{ margin-bottom:5px;
			.fa{color:#88e2f7; font-size:2.1em}
		}
	}
	.em-wrapper-social{ width:100%;}
	.em-footer-info-bottom{ border-top:1px solid #f1f1f1;padding-top:$space_block + 5; margin-top:$space_block; padding-bottom:$padding3x + 5}
	.em-wrapper-newsletter{
		.em-block-title{ width:100%; margin:0}
		.form-subscribe-content{position:relative; clear:both;}
		.block-subscribe{
			.input-box{ width:100%;}
			input.input-text{ background:#f4f4f4; border-color:#f4f4f4; font-size:90%}
			.actions{ position:absolute; top:0; right:0;
			}
		}
	}
}


/*============= RTL =================*/

.em-rtl{
	.em-footer-style15{		
		
	}
}