.em-footer-style21{
	.em-footer-top{
		padding-top:40px;
	}
	.em-footer-info-top{
		padding:15px 0;
		margin-bottom:40px;
	}
	.em-footer-info-bottom{
		border-top-style: solid;
		border-top-width: 1px;
		padding-top: 45px;
		padding-bottom: 15px;
		margin-top: 20px;
	}	
	.em-footer-bottom .em-footer-address{
		padding-top:40px;
		margin-top:40px;
		border-top-style: solid;
		border-top-width: 1px;
		address{
			width:100%;
		}
	}
	address{
		margin-top:5px;
	}
	.em-links{
		li{
			padding:0 0 $padding1x; 
		}
	}
	.em-wrapper-ads-13{
		.text-box{
			margin-bottom:40px
		}
		.text-box .text-box-content{
			border-right-width: 1px;
			border-right-style: solid;
			&.last{border-right-width: 0px;}
		}
		.icon-banner-left{
			padding: 10px 6px 10px 9px;
			min-width: 44px;
			text-align: center;
			border:none;
			-moz-border-radius: 0;-webkit-border-radius: 0; border-radius: 0; 
			&:after{display:none;}
		}
	}
	.em-wrapper-newsletter{
		margin:0;
		.em-block-title{ margin-right:0; margin-left:0;
			.h4{ padding:12px 0; margin:0;}
		}		
		.block-subscribe{
			input.input-text{
				margin-bottom:0;
				height:65px; line-height:65px;
			}
			.actions button.button{
				height:45px; width:80px; border-left:1px solid #cdcdcd; top:10px;
			}
		}
	}
	.em-wrapper-social{
		overflow: hidden;
		display:inline-block;
		.em-social{
			.em-social-icon{
				@include border-radius(0);
				padding: 4px 6px;
				font-size:1.6rem;
				border-style: solid;
				border-width: 1px;
			}
		}
	}		
}
/*===============RTL=================*/
.em-rtl{
	.em-footer-style21{		
		.block-subscribe{
			.actions button.button{
				border-left:none;
				border-right:1px solid #cdcdcd; top:10px;
			}
		}
		.block-subscribe .input-box{ float:right;}		
		.em-wrapper-ads-13 .text-box .text-box-content{
			border-right-width: 0px;
			border-left-width: 1px;
			border-left-style: solid;
			&.last{
				border-left-width: 0px;
			}
		}
	}
}