.em-footer-style13{
	padding-top:80px;
	.em-footer-top{ 
		> .container{			
			padding-bottom:40px;
			border-bottom-style: dashed;
			border-bottom-width: 1px;
		}
		.em-payment{display:inline-block;}
	}
	.em-logo-footer{ display:inline-block}
	.newsletter-boder-input-act .block-subscribe{ padding:9px 10px;
		.actions button.button{ padding:9px 20px}
		input.input-text{ height:40px;}
	}
	.block-subscribe {
		button.button{
			border-style: solid;
			border-width: 0px;
		}
	}
	ul.footer-menu-links{
		li{ display:inline-block; margin:0 10px;}
		a{ text-transform:uppercase}
	}
	.em-footer-bottom{
		padding-top:30px;
		a{ text-transform:uppercase}
		ul.links{ margin-bottom:0}
	}
	.em-footer-address address{width:100%}
}

.em-rtl{
	.em-footer-style13{
		.newsletter-boder-input-act .block-subscribe .actions{ 
			float:left;
			button.button{ margin-left:0;}
		}
		.block-subscribe .input-box{ float:right;}
	}
}
