.em-footer-style18{	
	.em-block-content{
		margin-bottom:$padding2x;
	}
	.em-footer-bottom{
		padding-top: $padding3x;
	}
	.four-block-middle{
		padding: $padding2x*2 0px $padding1x;
		display:inline-block;
		width:100%;		
		border-top-width: 1px;
		border-top-style: solid;
	}
	.em-social{
		.em-social-icon{
			padding: 6px 8px;
			font-size:1.6rem;
		}
	}
	.em-links li{
		margin-bottom:$padding1x;
	}	
	.block-info{
		.em-address,
		.em-email,
		.em-phone{ margin:0 -#{($padding1x / 2)} 1.55rem}
		.fa{
			margin:0 ($padding1x / 2);
		}
	}
	.block-subscribe {
		
	}
}

.em-rtl{
	.em-footer-style08{
		.newsletter-boder-input-act .block-subscribe .actions{ 
			float:left;
			button.button{ margin-left:0;}
		}
		.block-subscribe .input-box{ float:right;}
		.em-container-ads{
			.box-date{
				float:right;
			}
		}
	}
}

