.em-footer-style19{	
	.em-footer-info-top{
		padding:20px;
	}
	.em-footer-info{ margin-bottom:$space_small_block * 2;}
	.em-wrapper-newsletter{
		margin:0;
		.em-block-title{ /*width:30%; */margin-right:0;
			.h4{ padding:12px 0; margin:0;}
		}
		/*.em-newsletter{ float:left; width:65%}*/
		.block-subscribe{
			input.input-text{
				margin-bottom:0;
				height:65px; line-height:65px;
			}
			.actions button.button{
				height:45px; width:80px; border-left:1px solid #cdcdcd; top:10px;
			}
		}
	}
	.four-block-middle{		
		padding-top:$space_block;
		.em-blog-title{
			margin-bottom:2px;
		}
		.em-date{ font-size:90%;}
	}
	.em-follow-us{
		margin-bottom:$space_block;
	}
	.em-social{
		.em-social-icon{
			@include border-radius(0);
			padding: 4px 6px;
			font-size:2rem;
			border-style: solid;
			border-width: 1px;
		}
	}
	.em-links li{
		margin-bottom:$padding1x;
	}	
	.block-info{
		.em-address,
		.em-email,
		.em-phone{ margin:0 -#{($padding1x / 2)} 1.55rem}
		.fa{
			margin:0 ($padding1x / 2);
		}
	}
	.em-payment{
		margin:0 -10px;
		.em-payment-icon{
			margin:0 10px 10px;
		}
	}
	.em-payment-icon.em-paypal{
	@include changeIcon(59px, 34px, icons, 0 -591px);
	}

	.em-payment-icon.em-master{
		@include changeIcon(59px, 34px, icons, -77px -591px);
	}

	.em-payment-icon.em-express{
		@include changeIcon(59px, 34px, icons, -154px -591px);
	}
	.em-payment-icon.em-visa{
		@include changeIcon(59px, 34px, icons, -231px -591px);
	}
	.em-payment-icon.em-dhl{
		@include changeIcon(59px, 34px, icons, -308px -591px);
	}
	.em-footer-bottom{
		padding-top:$space_small_block;
		border-top:1px dashed #cdcdcd;
		text-align:center;
		.em-footer-address{
			ul.links li{ text-transform:uppercase; font-size:80%;}
			@include text-link();
			@include link-center();
			@include line-link();
			address{
				font-size:100%;
				width:100%;
			}
		}
	}
}

.em-rtl{
	.em-footer-style19{
		.newsletter-boder-input-act .block-subscribe .actions{ 
			float:left;
			button.button{ margin-left:0;}
		}
		.block-subscribe .input-box{ float:right;}
		.em-container-ads{
			.box-date{
				float:right;
			}
		}
	}
}

