.em-footer-style17{
	.em-footer-top{
		padding-top:40px;
	}
	.block-info{
		.em-address,
		.em-email,
		.em-phone{ margin:0 -#{($padding1x / 2)} 1.55rem}
		.fa{
			margin:0 ($padding1x / 2);
		}
	}
	.em-wrapper-subscribe{
		margin-bottom:2rem;
	}
	.em-footer-bottom{
		padding-top:50px;
	}
	address{
		margin-top:5px;
	}
	.em-links{
		li{
			padding:0 0 $padding1x; 
		}
	}
	.four-block-middle .col-sm-8{
		margin-bottom:2rem;
	}
	.em-wrapper-newsletter{
		.em-block-title{
			float:none;
			margin-right:0px;
		}
		.block-subscribe{
			input.input-text{
				border-width:0;
			}
		}
	}
	.em-wrapper-social{
		overflow: hidden;
		.em-block-title{
			margin-top: 10px;
		}
		.em-block-content{
			overflow:hidden;
			float:left;
		}
		.em-social{
			.em-social-icon{
				@include border-radius(0);
				padding: 4px 6px;
				font-size:1.6rem;
				border-style: solid;
				border-width: 1px;
			}
		}
	}		
}
/*===============RTL=================*/
.em-rtl{
	.em-newsletter-style05 .block-subscribe .actions button.button{ right:auto; left:0; margin-left:0;}
	.em-newsletter-style05 .block-subscribe .input-box input.input-text{ padding-right:10px; padding-left:100px;}
}