.em-header-style33{
	.em-header-top{
		font-size:85%;
		border-bottom-width:1px;
		border-bottom-style:solid;
	}
	.link-account,.em-logout-link{
		position:relative;
		text-transform:uppercase;
		&:before{
			@include font-awesome(\f13e,100%);
			margin-right:10px;			
		}
	}
	.em-register-link,.em-account-link{
		position:relative;
		text-transform:uppercase;
		&:before{
			@include font-awesome(\f084,100%);
			margin-right:10px;			
		}
	}
	.em-links-wishlist a{
		position:relative;
		text-transform:uppercase;
		&:before{
			@include font-awesome(\f004,100%);
			margin-right:10px;			
		}
	}
	.top-link-deal{
		position:relative;
		text-transform:uppercase;
		&:before{
			@include font-awesome(\f02c,100%);
			margin-right:10px;			
		}
	}
	.welcome-msg,
	.account-link,
	.em-top-links > ul li,	
	.em-top-links ul.links li,	
	.em-top-links ul.em-links-wishlist li{	
		padding:$padding1x 0;	
		margin-left:$padding3x;
		display:inline-block;
		@include effect-hover-line-center;
		overflow:initial;
		&:before{
			bottom:auto;
			top:0;
		}
	}
	.em-language-currency{
		margin:0 -#{($padding3x/2)};
	}
	.toolbar-switch{		
		margin:0 ($padding3x/2);		
		@include effect-hover-line-center;
		overflow:initial;
		text-transform:uppercase;
		&:before{
			bottom:auto;
			top:0;
		}
		span.current{
			padding:$padding1x 0;			
			min-height:38px;
		}
	}
	.em-language-currency .form-language.toolbar-switch span.current{
		padding-left:25px;
		background-position: 0px center;
	}
	.em-logo .logo{
		margin:$padding3x + 6 0;
	}
	.em-phone{
		margin:$padding1x - 1 0 0;
		text-transform:uppercase;
		.fa{
			vertical-align:middle;
		}
		span{
			vertical-align:middle;
		}
	}
	.em-call-us{
		font-size:85%;
		margin-top:3.5rem;
		font-weight:700;
		.small{
			font-size:85%;
		}
		.em-ads-right{
			margin:0 $padding2x 0 $padding1x;
		}
	}
	.em-account{
		top:38px;
	}
	.em-search{
		margin-top: 3.5rem;
		.form-search{
			input.input-text{
				height: 41px;
				line-height: 39px;
			}
			.input_cat{
				select{
					height: 41px;
					line-height: 40px;
				}
				.catsearch-dropdown{
					span.current{
						padding: 10px 30px 10px 5px;
						min-height: 41px;
					}
					ul{
						top:41px;
					}
				}
			}
		}
		.em-search-style02 .form-search button.button{
			padding: 14px 14px 13px;
			width: 43px;
		}
	}
	.em_nav{
		.hnav .menu-item-depth-0,
		.hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0{
			margin:0;
			> a{
				span{
					padding:16px $padding2x;
					border-color:transparent;
					text-transform:uppercase;
				}
			}
			&.menu_custom{
				margin-right:$padding2x;
			}
			> .menu-container{
				top:50px;
			}
		}
	}
	.em-top-cart{		
		margin-top:3.2rem;
		/*.em-amount-topcart{
			text-transform:uppercase;
			display: inline-block;
			padding: 10px 20px;
			&:before{
				@include font-awesome(\f07a,14px);
				margin-right:10px;
				width:auto; height:auto;
			}
			.em-topcart-qty{ position:static; background:none;}
			.em-topcart-text{ display:inline;}
		}
		.em-container-topcart .em-amount-topcart:after{content:''; display:none;}*/
	}
	/*fixed top*/
	.em-fixed-top{
		&.navbar-fixed-top{
			.em-phone{
				display:none;
			}
			.em-search{
				width:auto;
			}
		}
	}
}


/*===============RTL=================*/
.em-rtl{
	.em-header-style33{
		.welcome-msg,
		.account-link,
		.em-top-links > ul li,	
		.em-top-links ul.links li,	
		.em-top-links ul.em-links-wishlist li{
			margin-left:0;
			margin-right:30px;
		}
		.em-links-wishlist a:before,.link-account:before, .em-logout-link:before,
		.em-register-link:before, .em-account-link:before{ margin-right:0; margin-left:10px;}
		
		.em-top-cart .em-amount-topcart .em-topcart-qty{
			left: 25%;
		}
	}
}