@import "core/theme_config";
@import "module/currency-language";
@import "module/form-login";


@import "header_style14";
@import "header_style03";
@import "header_style29";/*Header layout sport*/
@import "header_style30";/*Header layout fashionnova*/
@import "header_style31";/*Header layout market deal*/


@import "header_style27";/*Header layout fashionclean*/
@import "header_style32";/*Header layout Kidtoy*/
@import "header_style33";/*Header layout Shoppingmall*/
@import "header_style08";/*Header layout Bakery - layout T-shirt - Tools*//*logo 1hang*/ 
@import "header_style28";/*Header layout Health*/
@import "header_style34";/*Header layout Game - Bags*/
@import "header_style36";/*Header layout Application*/
@import "header_style35";/*Header layout Hightech*/
@import "header_style38";/*Header layout SuperMarket*/
.em-top-links{
	ul,ol{
		margin:0;
	}
	.list-inline > li{
		padding:0;
	}
}

/*Logo*/
.em-logo{
    .logo{
        display:inline-block; 
        text-decoration:none;
		img{
			max-width:232px;
		}
    }
    strong { 
        @include hideText();
		display:none;
    }
}

/*Header welcome*/
.welcome-msg{
	display:inline-block;
	margin-bottom:0;
}


/*Header Link Mobile*/
.list-link-mobile{
	overflow:hidden;
	margin:0 !important;
	
	padding:10px 0 0;
	li{
		padding:10px 0;
		a{
			&:before{
				font-size:16px;
				text-align: center;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border: 1px solid #ffffff;
				@include border-radius(50%);
				margin-bottom: 1px;
				font-family:FontAwesome;
				display:inline-block;
				color:#ffffff;
				background:transparent;
			}
			&.fa-shopping-cart:before{
				color:#ffffff;
				background:#50b200;
				border: 1px solid #50b200;
			}
		}
		span{
			display:inline-block;
			width:100%;
			
		}
		&:first-child{
			border-left:0;
		}
	}
}

/*=================== fix top menu-search-cart ==========*/
.em-wrapper-header{
	.navbar-fixed-top{
		position:fixed!important;	  
		@include eff_slideshow(fadeInDown);		
		-webkit-animation-iteration-count: 1;
		-moz-animation-iteration-count: 1;	
		-webkit-animation-duration: 0.7s;
		-moz-animation-duration: 0.7s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
		-webkit-animation-timing-function: ease-out;
		-moz-animation-timing-function: ease-out;
	}
	.em-fixed-top{
		.em-logo-sticky{
			float:left;
			margin-right:1rem;
			display:none;
			img{				
				width: 0;
				height: 0;
				@include opacity(0);
				visibility: hidden;
			}
		}
		.em-search-sticky,
		.em-top-cart-sticky{
			display:none;
		}
		&.navbar-fixed-top{
			.line-top{ border:0;}
			.em_nav{
				padding-top:0;
				padding-right:110px; 
				padding-left:180px;
				.hnav{
					.menu-item-depth-0,
					.menu-item-depth-0 > .em-catalog-navigation > li.level0{
						> a.em-menu-link{							
							span{
								padding-bottom:16px;
								padding-top:16px;
								text-transform:uppercase;
							}
						}
					}
					.menu-item-depth-0 > .menu-container{
						top:50px;
					}
				}
			}
			.em-logo{
				display:none;
			}
			.em-logo-sticky{
				display:block;
				width: 138px;
				padding: 4px 0;
				position:absolute;
				z-index:1;
				a{ line-height:38px;}
				img{				
					width: 100%;
					height: auto;
					@include opacity(1);
					visibility: visible;
					@include transition1;
				}
			}
			.em-search-sticky{
				display:block;
				position:absolute;
				top:9px;
				right:65px;
				padding:0;
				margin:0;
				width:auto;
				border:none;
				
				&:before{
					content: "";
					float: right;
					height: 100%;
					position: absolute;
					left: -10px;
					top: 3px;
					height:30px;
					color: #989898;
					border-left-width: 1px;
					border-left-style: solid;
				}
				.em-search-icon{
					padding:0;
					border:none;
					span:before{
						width: 40px;
						height: 35px;
						padding: 8px 10px;
						@include border-radius(5px);
						font-size: 2rem; text-align:center;
					}
				}
				.em-search-style01 .em-container-js-search{
					top:39px;
					.form-search{
						input.input-text{
							height: 42px;
							line-height: 34px;
						}
						button.button {  
							padding: 13px 15px;
						}
					}
				}
			}
			.em-top-cart{	
				@include position_style(absolute, right, 10px, top, 5px);
				margin:0;
				display:block;
				.em-amount-topcart{ 
					&:before{
						font-size: 3rem;
					}
				}
				.topcart-popup{
					top:42px;
				}
			}
			.em-menu-hoz{
				float:right!important;
				width:auto;
			}			
		}
	}
}

.em-rtl{
	.em-wrapper-header .em-fixed-top {
		.em-logo-sticky{
			float:right;
			margin-right: 0rem;
			margin-left: 1rem;
		}
		&.navbar-fixed-top{
			.em-menu-hoz{
				float:right!important;
			}
			.em_nav{
				padding-right: 60px;
				padding-left: 100px;
			}
			.em-search{
				right: auto;
				left: 52px;
				&:before{
					left: 0;
					right: auto;
				}
				.em-search-style01 .em-container-js-search{
					right:auto;
					left:0;
				}
			}
			.em-top-cart{
				right: auto;
				left: 10px;
			}
		}
	}
}