.em-header-style35{
	.em-header-top{ border-bottom:1px solid #3a3c41; padding:5px 0; }
	.link-account,.em-logout-link{
		position:relative;
		&:before{
			@include font-awesome(\f13e,100%);
			margin-right:10px;			
		}
	}
	.em-non-login{
		.link-account:after{@include font-awesome(\f107,100%); margin-left:5px;}
	}
	.em-register-link,.em-account-link{
		position:relative;
		&:before{
			@include font-awesome(\f084,100%);
			margin-right:10px;			
		}
	}
	.em-links-wishlist a{
		position:relative;
		&:before{
			@include font-awesome(\f004,100%);
			margin-right:10px;			
		}
	}
	.top-link-deal{
		position:relative;
		&:before{
			@include font-awesome(\f02c,100%);
			margin-right:10px;			
		}
	}
	.em-logo .logo{
		margin:$padding3x 0;
	}
	.welcome-msg,
	.account-link,
	.em-top-links > ul li,	
	.em-top-links ul.links li,	
	.em-top-links ul.em-links-wishlist li{	
		vertical-align:top;
		display:inline-block;
		> a{ padding:0px $padding2x; border-right:1px solid #3b3d42; float:right; margin:10px 0;}
	}
	.toolbar-switch{
		span.current{
			padding:0px $padding2x; border-right:1px solid #3b3d42;  margin:10px 0;
			&:after{content:'\f107'}
		}
		.toolbar-dropdown ul{
			left:0;
			right:auto;
			top:47px;
		}
	}
	.em-top-cart .topcart-popup{ top:47px; right:-10px;}
	.em-account{ top:41px;}
	.em-header-top .em-search{
		.form-search {
			border:0; margin-top:0;
			input.input-text{ height:40px; padding:5px 10px 5px 50px}
			button.button{
				background-color: transparent;
				border: 0;
				left:0;
				right:auto;
			}
		}
	}
	.em_nav{
		margin:23px 0;
		.hnav .menu-item-depth-0,
		.hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0{
			margin:0;
			> a{
				span{
					padding:17px $padding2x;
					text-transform:uppercase;
				}
			}
			> .menu-container,.level0 ul{
				text-align:left;
			}
		}
	}
	
	.em-top-cart{
		margin-left:20px;
		.em-amount-topcart{ 
			&:before{
				font-size: 2.7rem;
				width:auto; height:auto;	
			}
			.em-topcart-qty{
				padding:0 6px; font-size:11px;
			}
			
		}
	}
	/*fixed top*/
	.em-fixed-top{	
		&.navbar-fixed-top{
			.em_nav{ margin:0;}
		}
	}
	
}
.em-wrapper-header .navbar-fixed-top{ background:#000}