.em-header-style32{
	.em-header-bottom{ border-bottom:2px solid #f1f1f1}
	.link-account,.em-logout-link{
		position:relative;
		&:before{
			@include font-awesome(\f13e,100%);
			margin-right:10px;			
		}
	}
	.em-non-login{
		.link-account:after{@include font-awesome(\f107,100%); margin-left:5px;}
	}
	.em-register-link,.em-account-link{
		position:relative;
		&:before{
			@include font-awesome(\f084,100%);
			margin-right:10px;			
		}
	}
	.em-links-wishlist a{
		position:relative;
		&:before{
			@include font-awesome(\f004,100%);
			margin-right:10px;			
		}
	}
	.top-link-deal{
		position:relative;
		&:before{
			@include font-awesome(\f02c,100%);
			margin-right:10px;			
		}
	}
	.em-logo .logo{
		margin:$padding3x 0;
	}
	.welcome-msg,
	.account-link,
	.em-top-links > ul li,	
	.em-top-links ul.links li,	
	.em-top-links ul.em-links-wishlist li{	
		padding:$padding2x / 2;
		display:inline-block;
	}
	.toolbar-switch{
		span.current{
			padding:$padding2x / 2;
			&:after{content:'\f107'}
		}
		.toolbar-dropdown ul{
			left:0;
			right:auto;
			top:41px;
		}
	}
	.em-top-cart .topcart-popup{ top:31px; right:-10px;}
	.em-account{ top:41px;}
	.em-search{
		 width:25%; float:left;
		.form-search {
			border:0; margin-top:10px;
			input.input-text{ height:40px;}
			button.button{
				background-color: transparent;
				border: 0;
			}
		}
	}
	.em-menu-hoz{ width:75%; float:left;
		.em_nav{
			.hnav .menu-item-depth-0,
			.hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0{
				margin:0 40px 0 0;
				display: inline-block;
				float: none;
				> a{
					span{
						padding:17px 0;
						text-transform:uppercase;
						border:0 !important;
					}
				}
				> .menu-container,.level0 ul{
					text-align:left;
				}
			}
		}
	}
	.em-top-cart{
		/*margin-top:$padding2x / 2;
		margin-left:$padding3x / 2;*/
		padding:$padding2x / 2;
		.em-amount-topcart{
			&:before{
				@include font-awesome(\f07a,14px);
				margin-right:10px;
				width:auto; height:auto;
			}
			.em-topcart-qty{ position:static;}
			.em-topcart-text{ display:inline}
		}
		.em-container-topcart .em-amount-topcart:after{content:'\f107'}
	}
	.em-fixed-top.navbar-fixed-top{
		.em-search{ display:none}
		.em-search.em-search-sticky{ display:inline-block}
		.em-top-cart{background:transparent!important; padding:0; top:13px;}
		.em-menu-hoz{text-align:right;}
		.em-amount-topcart{
			&:before{
				content:"\e60d";
				font-family: 'themify', sans-serif;
				width: 51px;
				height: 48px;
				margin-right:0;
				line-height:48px;
			}
			.em-topcart-qty{ position:absolute;}
			.em-topcart-text{ display:none}
		}
	}
	
}
.em-rtl .em-wrapper-header .em-header-style32{
	.em-links-wishlist a:before,.link-account:before, .em-logout-link:before, 
	.em-register-link:before, .em-account-link:before{ margin-right:0; margin-left:10px;}
	.toolbar-switch:after,
	.welcome-msg:after, 
	.account-link:after, 
	.em-top-links > ul li:after, 
	.em-top-links ul.links li:after, 
	.em-top-links ul.em-links-wishlist li:after{ right:0; left:auto}
	.em-summary-topcart{ margin-right:0;}
	.em-top-cart .topcart-popup{
		right: auto;
		left: -10px;
	}
	.em-menu-hoz{ float:right;
		.em_nav{
			.hnav .menu-item-depth-0,
			.hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0{
				margin:0 0px 0 40px;
				> .menu-container,.level0 ul{
					text-align:right;
				}
			}
		}
	}
	.em-fixed-top.navbar-fixed-top .em-top-cart{
		left:20px; right:auto;
	}
	.em-fixed-top.navbar-fixed-top .em-search-sticky:before{
		float:left; left:0; right:auto;
	}
	.em-fixed-top.navbar-fixed-top .em-top-cart .topcart-popup {
		left: -10px;
		right: auto;
	}
}