.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  width: 70%;
  left: 14%;
  top: 23%;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-1 {
  width: 50%;
  left: 44%;
  top: 24%;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-0 {
  width: 50%;
  left: 5%;
  top: 24%;
}
.em-slideshow .owl-theme .owl-controls .owl-buttons div {
  top: 41%;
}

.em-header-style36 .line-top {
  margin-bottom: 0;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #446aa7;
}
.em-color span.emColorStyle02 {
  background: #add19e;
}
.em-color span.emColorStyle03 {
  background: #cb5d96;
}
.em-color span.emColorStyle04 {
  background: #47647b;
}
