.em-wrapper-slideshow .col-sm-6 {
  padding-right: 0;
}
.em-wrapper-slideshow .col-sm-18 {
  padding-left: 0;
}
.em-wrapper-slideshow .menu-wrapper {
  margin-top: -50px;
}

.cms-index-index .em-wrapper-main .container-main {
  padding-top: 0;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #fea129;
}
.em-color span.emColorStyle02 {
  background: #cc0000;
}
.em-color span.emColorStyle03 {
  background: #202020;
}
.em-color span.emColorStyle04 {
  background: #10ad70;
}
