<?php
/**
 * OneStepCheckout by EMThemes
 *
 * Based on Magento 1.7.0.0 source code
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2012 EMThemes. (http://www.emthemes.com)
 * @license     Commercial License. Granted for authorized users only.
 */?>
<?php
/**
 * Customer onepage checkout login form template
 *
 * @see app/design/frontend/base/default/template/checkout/onepage/login.phtml
 */
/** @var $this Mage_Checkout_Block_Onepage_Login */
?>
<p><a href="javascript:void(0)" onclick="checkout.showLoginPopup(); return false;"><?php echo $this->__("Already registered? Click here to login") ?></a></p>

<?php echo $this->getMessagesBlock()->toHtml() ?>

<div id="opc-login-popup" style="display:none">
	<h3><?php echo $this->__('Login') ?></h3>
	<form id="login-form" action="<?php echo $this->getPostAction() ?>" method="post">
	<fieldset>
		 <?php echo $this->getBlockHtml('formkey'); ?>
		<ul class="form-list">
			<li>
				<label for="login-email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
				<div class="input-box">
					<input type="text" class="input-text required-entry validate-email" id="login-email" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" />
				</div>
			</li>
			<li>
				<label for="login-password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
				<div class="input-box">
					<input type="password" class="input-text required-entry" id="login-password" name="login[password]" />
				</div>
			</li>
			<?php echo $this->getChildHtml('form.additional.info'); ?>
		</ul>
	</fieldset>
	</form>

	<div class="buttons-set">
		<p class="required"><?php echo $this->__('* Required Fields') ?></p>
		<a href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>" class="f-left"><?php echo $this->__('Forgot your password?') ?></a>
		<button type="submit" class="button" onclick="onepageLogin(this)"><span><span><?php echo $this->__('Login') ?></span></span></button>
	</div>
	<a href="javascript:void(0)" onclick="checkout.hideLoginPopup()" class="close-btn"><?php echo $this->__("Close") ?></a>
</div>
<a id="opc-login-popup-overlay" href="javascript:void(0)" onclick="checkout.hideLoginPopup(); return false;" style="display:none"> </a>

<script type="text/javascript">
//<![CDATA[
    var loginForm = new VarienForm('login-form', true);
    $('login-email').observe('keypress', bindLoginPost);
    $('login-password').observe('keypress', bindLoginPost);
    function bindLoginPost(evt){
        if (evt.keyCode == Event.KEY_RETURN) {
            loginForm.submit();
        }
    }
    function onepageLogin(button)
    {
        if(loginForm.validator && loginForm.validator.validate()){
            button.disabled = true;
            loginForm.submit();
        }
    }
//]]>
</script>
<?php
    $registerParam = $this->getRequest()->getParam('register');
    if ($registerParam || $registerParam === ''):
?>
    <script type="text/javascript">
    //<![CDATA[
        document.observe("dom:loaded", function() {
            if($('login:register')) {
                $('login:register').checked = true;
                checkout.setMethod();
            }
        })
    //]]>
    </script>
<?php endif; ?>
