.em-slideshow{
	a.button-link{
		.changeAllColor(#252525; #252525; transparent; @btn4_font);
		span{
			.changeFont(@btn4_font)
		}
		&:hover{
			.changeAllColor(#252525; #252525; transparent);			
		}
	}
}

h2 a{ .link(@body_text2_color, @body_text7_color)}


