#em-mheader{ .changeBkg(@header_bg2_color)}
.em-today-deals{
	.widget-title h2{
		.changeColor(@body_text4_color);
	}
}
.em_nav .vnav .menu-item-link.fa:before{ .changeColor(@vnav_hover_text_color);}
.em-wrapper-ads-item{
	.em-box{
		h3,
		.fa{ .changeColor(@body_text5_color);}
		.button-link{
			.changeFont(@h4_font); 
			span{text-transform:capitalize;}
		}
	}
}
.product-name a{
	.changeFont(@h4_font);
}
.em-wrapper-product-30{
	margin-bottom:50px;
	.em-box{
		.em-widget-title{
			h3{
				.changeFont(@h4_font); font-weight:bold; position:relative; padding-bottom:5px; margin-bottom:20px;
				&:before{
					content:''; width:30px; bottom:0; position:absolute; left:0; height:2px; background:@body_line2_color;
				}
				
			}
		}
	}
}
.owl-theme .owl-controls .owl-buttons div{
	.changeAllColor(@btn1_text_color, @btn1_line_color, @btn1_bg_color);
	&:hover{
		.changeAllColor(@btn4_text_color, @btn4_line_color, @btn4_bg_color);
	}
}

/*===============FOOTER STYLE 17================*/
.em-wrapper-footer .em-footer-style17{
	.em-footer-bottom .em-footer-address address{ .changeColor(@footer_text_color); font-size:100%; margin:0;
		a{ .link(@footer_text_color, @footer_text3_color);}
	}

}
