.em-header-top{ border-bottom:1px solid @header_line_color}
.em-header-bottom{ .changeBkg(@topmenu_bg_color);}

.em-wrapper-brands{.changeBkg(@body_bg2_color)}
.slider-product-img .item .product-shop-top{.changeBkg(@body_bg2_color)}

.em-search .em-search-style01 .em-container-js-search{.changeBkg(@header_bg5_color)}

.em-wrapper-header .navbar-fixed-top .em-search:hover .em-search-icon span:before{ color:@btn4_bg_color !important}
/*===============FOOTER STYLE 09================*/
.em-wrapper-footer .em-footer-style09{
	.em-footer-info{ .changeLine(@footer_line_color)}
	.em-wrapper-social{
		.em-social{
			.em-social-icon{
				.changeAllColor(@footer_text2_color; @footer_bg3_color; @footer_bg3_color);
				&:hover{
					.changeAllColor(@footer_text2_color; @footer_text4_color; @footer_text4_color);
				}
			}
		}
	}
	.em-wrapper-newsletter .block-subscribe input.input-text{ background:transparent; .changeColor(@footer_text_color);}
	address{ font-size:100%; .changeColor(@footer_text_color);
		a{.link(@footer_text_color, @footer_text3_color)}
	}
}

.productlabels_icons .label {
    .border-radius(50%);
    height: 40px;
    width: 40px;
    padding: 5px;
    line-height: 28px !important;
}
.productlabels_icons .label{
	.changeAllColor(@body_text6_color; @body_label_bg_color; @body_label_bg_color; @h6_font);
	> p{	
		.changeBkg(@body_label_bg_color);
	}	
}
.productlabels_icons .label.special{
	.changeAllColor(@body_text6_color; @body_label_bg3_color; @body_label_bg3_color; @h6_font);
	> p{	
		.changeBkg(@body_label_bg3_color);
	}
}
.productlabels_icons .label.hot{
	.changeAllColor(@body_text6_color; @body_label_bg2_color; @body_label_bg2_color; @h6_font);
	> p{	
		.changeBkg(@body_label_bg2_color);
	}
}