#em-mheader{
	.changeBkg(@topmenu_bg_color);
}
.em-wrapper-ads-19{
	.em-box{
		.em-ads-title a{ .link(@body_text7_color, @body_text3_color)}
	}
}
.em-wrapper-ads-24{
	.changeBkg(@body_bg4_color);
	.em-wrapper-ads-item{ .changeLine(darken(@body_bg4_color, 5%))}
}
.em-header-style33{
	.em_nav{
		.hnav .menu-item-depth-0,
		.hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0{
			margin:0;
			> a{
				span{
					border-right:1px solid @topmenu_line_color; 
					border-left:1px solid @topmenu_line_color;
				}
			}
			
		}
	}
}
/*===============FOOTER STYLE 19================*/
.em-wrapper-footer .em-footer-style19{
	.em-social{
		.em-social-icon{
			.changeAllColor(@footer_text4_color; @footer_bg3_color; @footer_bg3_color);
			&:hover{
				.changeAllColor(@footer_text4_color; @footer_text3_color; @footer_text3_color);
			}
		}
	}
	
}
