<?php 
    $storeId = Mage::app()->getStore()->getId();
	$posts = Mage::getModel('blog/post')->getCollection()
			->setStoreId($storeId)	
			->addAttributeToSelect('*')
			->addAttributeToFilter('status',1)
			->addAttributeToSort('created_at','DESC');
    $thumnailWidth = 380;
    $thumnailHeight = 266;
    $helper = Mage::helper('cms');
	$helperBlog = Mage::helper('blog'); 
    $limit = $posts->count();
    
?>
<?php if($limit > 0):?>
<div class="em-blog-style08">
    <?php $i=0; foreach ($posts as $p): ?>
    	<div class="row">
			<div class="col-sm-8 col-xs-9 first">
				<div class="em-effect-14">
					<?php if($p->getImage()):?>
					<a title="em-sample-title" href="<?php echo $p->getPostUrl();?>">
						<img class="img-responsive img-banner-small img-banner-lazyload" src="<?php echo $this->getSkinUrl('images/loading.gif') ?>" data-original="<?php echo $helperBlog->resizeImage($p->getImage(),$thumnailWidth,$thumnailHeight,"emblog/post",'thumbnail');?>"/>
					</a>
					<?php endif;?>
					<div class="hov">&nbsp;</div>
				</div>
			</div>
			<?php $date = new DateTime($p->getCreatedAt());?>
			<div class="col-sm-16 col-xs-15 last">    			
				<h5 class="em-blog-title"><a href="<?php echo $p->getPostUrl(false);?>"><?php echo $p->getTitle();?></a></h5>    			
				<span class="em-date"><?php echo $date->format('M j, Y'); ?></span>    			
			</div>
    		
    	</div>
    <?php $i++;?>
    <?php if($i>=3 || $i==$limit) break;?>
    <?php endforeach ?>
</div>
<?php else:?>
    <p class="note-msg"><?php echo $this->__('There are no posts matching the selection.')?></p>
<?php endif;?>