.em-slideshow {
  margin-bottom: 0;
}
.em-slideshow h3:before, .em-slideshow h3:after, .em-slideshow h2:before, .em-slideshow h2:after {
  display: none;
}
.em-slideshow .owl-theme .owl-controls .owl-buttons div {
  top: 44%;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  left: 15%;
  top: 37%;
  width: 67%;
}

.em-wrapper-banners {
  margin-top: -100px;
  z-index: 5;
  background-color: #fff;
  padding: 20px 20px 0;
  margin-bottom: 0;
}

.em-wrapper-area02 {
  background: #fff;
}

.em-flex > div {
  background: #fff;
}

.em-wrapper-newsletter {
  padding: 70px 0;
}
.em-wrapper-newsletter .em-block-title {
  float: none;
  margin: 0;
}
.em-wrapper-newsletter .news-desc {
  margin: 20px 0;
}

.rating-box {
  background: url(../images/bkg_rating.png) 0 0 repeat-x;
}

.rating-box .rating {
  background: url(../images/bkg_rating.png) 0 100% repeat-x;
}

.em-wrapper-ads-17 {
  background-image: url(../images/media/bkg-parallax.jpg);
  text-align: left;
  padding: 50px 0 0;
  margin-bottom: 0;
}

.em-wrapper-blog {
  overflow: hidden;
}
.em-wrapper-blog.em-line-01 {
  margin-bottom: 0;
}

.em-wrapper-ads-12 {
  border: 0 !important;
  margin-bottom: 20px;
}

.em-footer-style09 .em-footer-info-bottom {
  margin: 20px 0 35px;
  padding: 0 0 10px;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.em-footer-style09 .em-area-footer02 {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.em-footer-style09 .em-area-footer02 .em-wrapper-social {
  display: inline-block;
}
.em-footer-style09 .em-footer-info {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 20px;
}
.em-footer-style09 .em-footer-bottom {
  padding: 30px 0 10px !important;
}
.em-footer-style09 .em-footer-bottom address {
  float: none !important;
  text-align: center;
}

.product-view {
  padding: 20px;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #87ab03;
}
.em-color span.emColorStyle02 {
  background: #f58e2f;
}
.em-color span.emColorStyle03 {
  background: #dc0604;
}
.em-color span.emColorStyle04 {
  background: #2cc067;
}
