.em-box-bkg{
	background:transparent;
	border:1px solid @footer_line_color;
	.changeColor(@footer_text_color);
	.fa{ .changeColor(@footer_text3_color);}
	h5{ .changeColor(@footer_text2_color); font-weight:600}
}
#em-mheader .em-top-search .form-search input.input-text{ .changeColor(@header_text4_color)}
.em-wrapper-ads-10.em-line-01 .em-block-title h2{ .changeColor(@body_text6_color);}








.em-wrapper-header .navbar-fixed-top{
	
}

/*===============FOOTER STYLE 09================*/
.em-wrapper-footer .em-footer-style09{
	.em-footer-info{ .changeLine(@footer_line_color)}
	.em-wrapper-social{
		.em-social{
			.em-social-icon{
				.changeAllColor(@footer_text2_color; @footer_bg3_color; @footer_bg3_color);
				&:hover{
					.changeAllColor(@footer_text4_color; @footer_text2_color; @footer_text2_color);
				}
			}
		}
	}
	.em-wrapper-newsletter .block-subscribe input.input-text{ background:transparent; .changeColor(@footer_text_color);}
	address{ font-size:100%; .changeColor(@footer_text_color);
		a{.link(@footer_text_color, @footer_text3_color)}
	}
}
	

