<?php
/**
 * CodenDot_PickSel extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category       CodenDot
 * @package        CodenDot_PickSel
 * @copyright      Copyright (c) 2017
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
?>
<?php $_element = $this->getElement() ?>
<?php $this->checkFieldDisable() ?>

<!-- Make Translations Field Read Only -->
<?php
if((strpos(trim($this->getElementHtml()), '"supplier_xml_translations"') !== false)){
    $_element->setReadOnly(true);
}
?>
<!-- Make Supplier Xml Root Read Only -->
<?php
if((strpos(trim($this->getElementHtml()), '"supplier_xml_root"') !== false)){
    $_element->setReadOnly(true);
}
?>
<!-- Make Supplier Xml Root Field Read Only -->
<?php
if((strpos(trim($this->getElementHtml()), '"supplier_xml_root_field"') !== false)){
    $_element->setReadOnly(true);
}
?>
<!-- Make Supplier Mapping Field Read Only -->
<?php
if((strpos(trim($this->getElementHtml()), '"supplier_format"') !== false)){
    $_element->setReadOnly(true);
}
?>
<!-- Make Supplier Mapped Field Read Only -->
<?php
if((strpos(trim($this->getElementHtml()), '"supplier_check_if_mapped"') !== false)){
    $_element->setReadOnly(true);
}
?>
<!-- Make Supplier Category Translations Field Read Only -->
<?php
if((strpos(trim($this->getElementHtml()), '"supplier_xml_cat_translations"') !== false)){
    $_element->setReadOnly(true);
}
?>
<!-- Make Supplier Category Mapping Read Only -->
<?php
if((strpos(trim($this->getElementHtml()), '"supplier_category_mapping"') !== false)){
    $_element->setReadOnly(true);
}
?>
<!-- Make Supplier Category Mapping Read Only -->
<?php
if((strpos(trim($this->getElementHtml()), '"supplier_main_category_root"') !== false)){
    $_element->setReadOnly(true);
}
?>
<!-- Make Supplier Size Mapping Read Only -->
<?php
if((strpos(trim($this->getElementHtml()), '"supplier_size_mapping"') !== false)){
    $_element->setReadOnly(true);
}
?>
<!-- Make Supplier Size Root Mapping Read Only -->
<?php
if((strpos(trim($this->getElementHtml()), '"supplier_size_mapping_root"') !== false)){
    $_element->setReadOnly(true);
}
?>
<!-- Make Supplier Color Mapping Read Only -->
<?php
if((strpos(trim($this->getElementHtml()), '"supplier_color_mapping"') !== false)){
    $_element->setReadOnly(true);
}
?>
<!-- Make Supplier Color Root Mapping Read Only -->
<?php
if((strpos(trim($this->getElementHtml()), '"supplier_color_mapping_root"') !== false)){
    $_element->setReadOnly(true);
}
?>

<?php if ($_element->getType()=='hidden'): ?>
<tr>
    <td class="hidden" colspan="100"><?php echo trim($_element->getElementHtml()) ?></td>
</tr>
<?php else: ?>
<tr>
    <td class="label"><?php echo trim($this->getElementLabelHtml()) ?></td>
    <td class="value">
        <?php echo trim($this->getElementHtml()) ?>
        <?php if ($_element->getNote()) : ?>
            <p class="note"><?php echo $_element->getNote() ?></p>
        <?php endif; ?>
    </td>
    <td class="scope-label"><span class="nobr"><?php echo $this->getScopeLabel() ?></span></td>
    <?php if ($this->canDisplayUseDefault()): ?>
    <td class="value use-default">
        <input <?php if ($_element->getReadonly()):?> disabled="disabled"<?php endif; ?> type="checkbox" name="use_default[]" id="<?php echo $_element->getHtmlId() ?>_default"<?php if ($this->usedDefault()): ?> checked="checked"<?php endif; ?> onclick="toggleValueElements(this, this.parentNode.parentNode)" value="<?php echo $this->getAttributeCode() ?>"/>
        <label for="<?php echo $_element->getHtmlId() ?>_default" class="normal"><?php echo Mage::helper('codendot_picksel')->__('Use Default Value') ?></label>
    </td>
    <?php endif; ?>
</tr>
<?php endif; ?>
<script language="JavaScript">
document.oncontextmenu =new Function("return false;");
document.getElementById("supplier_xml_file").disabled = true;
</script>
<style media="screen">
  /*label[for="supplier_xml_translations"] { display: none !important;}
  label[for="supplier_format"] { display: none !important;}
  label[for="supplier_check_if_mapped"] { display: none !important;}*/
  #supplier_xml_root_field, #supplier_xml_root {
    pointer-events:none;
    color: #bdbdbd;
  }
  #supplier_xml_translations,#supplier_format, #supplier_check_if_mapped, #supplier_xml_cat_translations, #supplier_category_mapping, #supplier_main_category_root, #supplier_size_mapping, #supplier_size_mapping_root, #supplier_color_mapping, #supplier_color_mapping_root {
    /*display: none;*/
    pointer-events:none;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    color: #ddd;
  }
  input[disabled] {pointer-events:none}
  label[for="supplier_new_price"], #supplier_new_price { display: none !important;}
</style>
