.em-wrapper-header .navbar-fixed-top{
	.em-search{
		color:@header_text4_color;
		.em-search-icon{				
			span:before{
				.changeColor(@header_text_color);
			}				
		}
		&:hover{
			.em-search-icon{
				.changeAllColor(@topmenu_hover_text_color;  @topmenu_line_color;  transparent);
				span:before{
					.changeColor(@topmenu_hover_text_color);
				}
			}
		}
	}
}
.em-slideshow{
	a.button-link{
		&.first{
			.changeAllColor(@btn1_text_color; @btn1_line_color; @btn1_bg_color);			
			&:hover{
				.changeAllColor(@btn1_bg_color; @btn1_line_color; @btn1_text_color);	
			}
		}
	}
}
/*===============FOOTER STYLE 09================*/
.em-wrapper-footer .em-footer-style09{
	.em-footer-info{ .changeLine(@footer_line_color)}
	.em-wrapper-social{
		.em-social{
			.em-social-icon{
				.changeAllColor(@footer_text2_color; @footer_bg3_color; @footer_bg3_color);
				&:hover{
					.changeAllColor(@footer_text4_color; @footer_bg3_color; @footer_bg3_color);
				}
			}
		}
	}
	.em-wrapper-newsletter .block-subscribe input.input-text{ background:transparent; .changeColor(@footer_text_color);}
	address{ font-size:100%; .changeColor(@footer_text_color);
		a{.link(@footer_text_color, @footer_text3_color)}
	}
}
	

