.em-wrapper-slideshow .col-sm-6 {
  padding-right: 0;
}
.em-wrapper-slideshow .col-sm-18 {
  padding-left: 0;
}
.em-wrapper-slideshow .menu-wrapper {
  margin-top: -50px;
}

.cms-index-index .em-wrapper-main .container-main {
  padding-top: 0;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #fea129;
}
.em-color span.emColorStyle02 {
  background: #cc0000;
}
.em-color span.emColorStyle03 {
  background: #202020;
}
.em-color span.emColorStyle04 {
  background: #10ad70;
}


 /*picksellers style*/

 /*Slide show margin top*/
.picksellers_home_margin_top {margin-top: 3em;}

/*Support Client Style*/
.em-wrapper-ads-13 {background-color: #fbfbfb; margin-bottom: 20px;}
.em-wrapper-ads-13 .text-box {margin-top: 20px;}

/*Tabs Products Style*/
.embase-tab-01 .owl-controls {
  position: absolute;
  top: -6em;
  right: 0;
}

.em-tabs-widget .owl-theme .owl-controls .owl-buttons div.owl-prev::before {
  content: "\f053" !important;
  font-size: 20px !important;
}
.em-tabs-widget .owl-theme .owl-controls .owl-buttons div.owl-next::before {
  content: "\f054" !important;
  font-size: 20px !important;
}
.em-tabs-widget .owl-theme .owl-controls .owl-buttons div::after {border-color: transparent !important;}
.embase-tab-01 .em-tabs-content .owl-theme .owl-controls .owl-buttons div.owl-next, .embase-tab-01 .em-tabs-content .owl-theme .owl-controls .owl-buttons div.owl-prev, .embase-tab-01 .tab-content-container .owl-theme .owl-controls .owl-buttons div.owl-next, .embase-tab-01 .tab-content-container .owl-theme .owl-controls .owl-buttons div.owl-prev {margin: 0 !important;}
.em-tabs-widget .embase-tab-01 .r-tabs .owl-theme .owl-controls .owl-buttons div, .embase-tab-01 .em-tabs .owl-theme .owl-controls .owl-buttons div {color: #58595b;}

.bgWhite {background: #fff;padding: 6px;}
.titleStyleWidgets {padding-bottom: 0 !important;font: 700 16px/1.35 Raleway, Helvetica Neue, Helvetica, Arial, sans-serif !important;}

/*Support Client Footer*/
.em-wrapper-ads-13 .em-banner-right p {color: #808080;}

/*Footer Style*/
.em-footer-style09 .em-footer-bottom .em-footer-address {
  padding-top: 40px;
  border-top-style: solid;
  border-top-width: 1px;
}

.em-wrapper-footer .em-footer-style09 .em-footer-bottom, .em-wrapper-footer a {
  color: #808080;
}
.em-footer-style09 .em-wrapper-newsletter .block-subscribe input.input-text {border-width: 1px;}
.em-wrapper-footer .em-footer-style09 .em-wrapper-newsletter .block-subscribe input.input-text {border-color: #808080;background-color: transparent; color: #808080;font-weight: bold;}
.em-wrapper-footer .em-footer-style09 .em-wrapper-social .em-social .em-social-icon {background-color: #272727;border-color: #272727;}
.em-wrapper-footer .em-footer-style09 .em-wrapper-social .em-social .em-social-icon:hover {background-color: #272727;border-color: #272727;color: #ffc20e;}

button.button {color: #808080 !important;}

.em-footer-style09 .em-footer-info-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-top: none;
  color: #808080;
}
.em-wrapper-footer .em-footer-style09 .em-footer-info-bottom {border-color: #808080;}
.em-footer-style09 .em-footer-bottom {padding-top: 0;}
.em-wrapper-footer, .em-wrapper-ads-13 {background-color: #ffffff !important;}
