.all_categories .menuleftText{
	padding:14px 20px 13px;
	.changeBkg(@topmenu_hover_bg_color);
	.changeLine(@topmenu_hover_bg_color);
}


.em-wrapper-product-32{
	&.em-wrapper-product-32-01{
		.em-box-cate .box-cate-left{
			border-top-color: @body_bg5_color;	
			.em-widget-title{.changeColor(@body_bg5_color);}
			.em-box-list .tab-link{
				&:hover a, &.active a{.changeColor(@body_bg5_color);}	
			}
		}
	}
	&.em-wrapper-product-32-02{
		.em-box-cate .box-cate-left{
			border-top-color: @body_bg6_color;	
			.em-widget-title{.changeColor(@body_bg6_color);}
			.em-box-list .tab-link{
				&:hover a, &.active a{.changeColor(@body_bg6_color);}	
			}
		}
	}
	&.em-wrapper-product-32-03{
		.em-box-cate .box-cate-left{
			border-top-color: @body_bg7_color;	
			.em-widget-title{.changeColor(@body_bg7_color);}
			.em-box-list .tab-link{
				&:hover a, &.active a{.changeColor(@body_bg7_color);}	
			}
		}
	}
	&.em-wrapper-product-32-04{
		.em-box-cate .box-cate-left{
			border-top-color: @body_bg8_color;	
			.em-widget-title{.changeColor(@body_bg8_color);}
			.em-box-list .tab-link{
				&:hover a, &.active a{.changeColor(@body_bg8_color);}	
			}
		}
	}
}