/* ============================================ *
 * Product Effects
 * ============================================ */
@mixin cat-effect01{
}
/*=============Effect Alternative Images Product==============*/
/*show-hide*/
@mixin opacity-image{
	a.product-image{
		.em-alt-hover{
			@include position_style(absolute, left, 0%, top, 0%);
			opacity: 0!important;
			filter: alpha(opacity=0)!important;
			@include transition1;
		}
	}
	&:hover{
		a.product-image{
			.em-alt-org{
				opacity: 0!important;
				filter: alpha(opacity=0)!important;
				@include transition1;
			}
			.em-alt-hover{
				opacity: 1!important;
				filter: alpha(opacity=100)!important;
				@include transition1;
				@include position_style(absolute, left, 0, top, 0);
			}
		}
	}
}
.products-list .item,
.products-grid.isotope .item,
.product-item{
	@include opacity-image;
}

/*===============effect hover line center===============*/
@mixin effect-hover-line-center{
	/*display: inline-block;*/
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	&:before{
		content: "";
		position: absolute;
		left: 50%;
		right: 50%;
		bottom: 0;
		z-index:1;
		background: #2098d1;
		height: 4px;
		-webkit-transition-property: left, right;
		transition-property: left, right;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
		@include opacity(0);
	}
	&:hover{
		&:before{
			left: 0;
			right: 0;
			@include opacity(1);
		}
	}
}

.effect-img-hover{
	.effect-container{		
		position:relative;
		img{
			position: absolute;
			@include transition1;	
		}
		.hover{	
			z-index:1;
		}
	}
	&:hover{
		.hover {
			@include scale(0)
		}
	}
	img{
		@include border-radius(0px);	
	}
}

/*============Hover Banner===============*/
$width:0;
$left:0;
$delay:0;
.b-stripe{
	position:relative;
	@for $i from 5 through 15{		
		.b-line-#{$i}{
			position: absolute;
			top: 0;
			bottom: auto;
			height: 0;
			$width:100% / $i ;
			width:#{$width};
			left:0;
			-moz-transition: all 300ms ease;
			-webkit-transition: all 300ms ease;
			-o-transition: all 300ms ease;
			transition: all 300ms ease;
			-moz-backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			background-color: rgba(0, 0, 0, 0.2);
			@for $j from 2 through $i{
				&.b-position-#{$j}{
					$left:100% / $i  + $left;
					left:$left;
					$delay : 0.06 + $delay ;
					transition-delay: $delay + s;
					-moz-transition-delay:  $delay + s;
					-ms-transition-delay:  $delay + s;
					-o-transition-delay:  $delay + s;
					-webkit-transition-delay:  $delay + s;
				}
			}
			$left:0;
			$delay:0;
		}
		&:hover .b-line-#{$i}{ 
			height: 100%;
		}
	}
}

.zoom-image{
	overflow:hidden;
	a.banner-img{ display:block; position:relative;
		&:after{
			content:''; top:0; left:0; position:absolute; background:transparent; @include transition1; width:100%; height:100%;
		}
	}
	img{@include transition1};
	&:hover{
		a.banner-img:after{
			background:rgba(0, 0, 0, 0.25);
		}
		img{
			-ms-transform: scale(1.05, 1.05); /* IE 9 */
			-webkit-transform: scale(1.05, 1.05); /* Safari */
			transform: scale(1.05, 1.05);
		}
	}
}

/*effect hover text*/
@mixin effect-hover-text{
	position:relative;
	overflow:hidden;
	@include transition1;
	.banner-img{
		img{
			@include transition1;
			@include scale(1);
		}		
	}
	.banner-text{
		@include transition1;
		@include position_style(absolute, left, 0, top, 0%);
		right:0;
		img{
			margin:0;
		}
	}
	&:hover{
		.banner-img{
			img{
				@include scale(1.1,1.1);
			}
		}
	}
}
/*effect hover bkg shadow top to bottom*/
@mixin effect-hover-bkg3{
	.banner-img{
		display: block;
		max-width:100%;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			background: rgba(0, 0, 0, 0.48);
			-webkit-transform: scaleY(0);
			transform: scaleY(0);
			-webkit-transform-origin: 50% 0;
			transform-origin: 50% 0;
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}
	}
	&:hover{
		.banner-img:before{
			-webkit-transform: scaleY(1);
			transform: scaleY(1);
		}
	}
}
.effect-hover-text{				
	@include effect-hover-bkg3;
	@include effect-hover-text;
	&:hover .banner-text{
		top: -30px;
	}
}

/*effect blog*/
.em-effect-13{
	.em-blog-content{
		position:relative;
		&:before{
			content: "";
			position: absolute;
			left: 0;
			right: 100%;
			top: 0;
			height: 4px;
			-webkit-transition-property: right;
			transition-property: right;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}
		&:after{
			content: "";
			  position: absolute;
			  left: 0;
			  top: 0;
			  width: 4px;
			  height: 0;
			  -webkit-transition-property: height;
			  transition-property: height;
			  -webkit-transition-duration: 0.3s;
			  transition-duration: 0.3s;
			  -webkit-transition-timing-function: ease-out;
			  transition-timing-function: ease-out;
		}
		a{
			display:block;
			margin-bottom:0rem;
			&:before{
				content: "";
			  position: absolute;
			  left: 100%;
			  right: 0;
			  bottom: 0;
			  height: 4px;
			  -webkit-transition-property: left;
			  transition-property: left;
			  -webkit-transition-duration: 0.3s;
			  transition-duration: 0.3s;
			  -webkit-transition-timing-function: ease-out;
			  transition-timing-function: ease-out;
			}
			&:after{
				content: "";
			  position: absolute;
			  right: 0;
			  bottom: 0;
			  width: 4px;
			  height: 0;
			  -webkit-transition-property: height;
			  transition-property: height;
			  -webkit-transition-duration: 0.3s;
			  transition-duration: 0.3s;
			  -webkit-transition-timing-function: ease-out;
			  transition-timing-function: ease-out;
			}
		}
		.hov{			
			position: absolute;
			left: 49%;
			top: 45%;
			-webkit-transform: scale(0);
			transform: scale(0);
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
			&:before{
				@include font-awesome(\f067,140%);
			}
		}
	}
	&:hover .em-blog-content{
		&:before {
		  right: 0;
		}
		&:after {
		  height: 100%;
		}
		a{
			&:before {
			  left: 0;
			}
			&:after {
			  height: 100%;
			}
		}
		.hov{
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
}

.em-effect-14{
	.hov{			
		position: absolute;
		left: 42%;
		top: 34%;
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
		&:before{
			@include font-awesome(\f067,140%);
		}
	}
	&:hover{
		.hov{
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
}

/* ============================================ *
 * Product Effects
 * ============================================ */
.cat-effect01 {}

.products-grid .item{
	position:relative;
}


