.em-slideshow h1, .em-slideshow h3, .em-slideshow h4, .em-slideshow h2 {
  color: #ffffff;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  text-align: center;
  top: 30%;
}

.em-header-style27 .line-top {
  border: 0;
}
.em-header-style27 .em_nav .hnav .menu-item-depth-0 > a span,
.em-header-style27 .em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a span {
  border-top-width: 0;
}

.em-wrapper-ads-17 {
  background-image: url(../images/media/bkg-parallax.jpg);
}

.em-wrapper-area02 .em-box-bkg {
  padding-top: 7rem;
}
.em-wrapper-area02 .em-box-bkg a.button-link {
  float: none;
  padding: 10px 20px;
  font-size: 120%;
  display: inline-block;
}

.em-footer-style13 .em-footer-address address {
  display: none;
}

.em-footer-style13 .em-footer-top > .container {
  border-bottom-width: 2px;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #be5960;
}
.em-color span.emColorStyle02 {
  background: #0ba6bd;
}
.em-color span.emColorStyle03 {
  background: #313959;
}
.em-color span.emColorStyle04 {
  background: #4b1f11;
}
