.em-wrapper-area02{
	.em-box-bkg{
		.changeColor(@body_text_color);
		.changeBkg(@body_bg4_color);
		a.button-link{
			border-color:@body_text2_color;
			color:@body_text2_color;
			background-color:transparent;
			&:hover{
				border-color:@btn1_line_color;
				color:@btn1_text_color;
				background-color:@btn1_bg_color;
			}
		}
	}
}
#em-mheader,
.em-header-bottom{ .changeBkg(@topmenu_bg_color);}
.em-header-style27 .em-header-top{ border-bottom:1px solid @header_line_color}
.em-newsletter-style06 .block-subscribe .input-box input.input-text{
	.changeBkg(@footer_bg3_color); .changeLine(@footer_bg3_color);
}