/*==============Multidealpro==============*/
.clock_style_1{overflow:hidden;margin:3px 0 0;}
.clock_style_1 .clock li{display:inline-block;text-align:center;margin:0 1px 1px 0;}
.clock_style_1 .clock > li{margin:0 0 1px 0;}
.clock_style_1 .clock > li:first-child{margin:0 1px 1px 0;}
.clock_style_1 .clock li span{
	height: 32px;
	line-height: 32px;
	display: inline-block;
	padding: 0 12px;
	position: relative; }

.clock_style_1 .clock li span:after{}
.clock_style_1 .clock li span{}
.clock_style_1 .clock li p{text-transform:uppercase;margin:0; padding:3px}
.show_details .clock_style_1 .clock li{margin-bottom:0;}
.deal-clock-message{margin-bottom:5px;}
.multidealpro_products{
	.products-grid{
		clear:both;
		margin:0 -10px;
		.item{
			width:280px;
			margin:0 10px;
			display:inline-table;
			float:none !important;
			.product-item{
			}
		}
		
	}
}
.em_multidealpro{
	.show_clock,
	.price-box{
		display:inline-block;
		vertical-align: middle;
	}
	.ratings{
		padding-bottom:0;
	}
	
}

.multidealpro_recent .multidealpro_products{
	/*border-style: solid;
	border-width: 1px;
	border-top:0;*/
}
.show_clock{
	.price-box p.special-price .price-label{ 
		display:inline-block; 
	}
	.price-box p:first-child{
		margin-top:0;
	}
}
/*Deal Home Page - Slider Multidealpro*/
.em-special-deals{
	.products-grid {
		.price-box{display:none;}
	}
}


.multidealpro_products{
	/*border-style: solid;
	border-width: 1px;
	padding:10px;
	@include border-radius(5px);*/
}

/*=======Multidealpro - Product Grid======*/
.em_multidealpro{
	.products-grid {
		li.item{
			display:inline-block;
			float:none;
			vertical-align:top;
			@include border-radius(5px);
		}
	}
}

/*=======Multidealpro - Product List======*/
.em_multidealpro,
.multidealpro_products{
	.products-list {
		clear:both;
		margin-top:20px;
		li.item{
			margin-bottom:20px;
			.deal_qty,
			.show_clock{
				text-align:left;
			}
		}
	}
}
/*=======Multidealpro - Sidebar======*/
.em-sidebar {
	.multidealpro_recent .multidealpro_products{ 
		@include border-radius(0 0 5px 5px);
		border:0;
		padding-top:0;
		.products-grid li.item{
			padding:15px;
			margin:0;
			width:100%;
			.product-item{
				border:0;
				@include box-shadow(none);
			}
		}
	}
	.em_multidealpro .products-grid{
		li.item{
			width:100%;
			margin-right:0 !important;
			border:0 !important;
		}
	}
}


.em_multidealpro{
	.products-grid.owl-carousel .owl-item .item{
		min-height:425px;
	}
}
