/* ============================================ *
 * Popup Login/Newsletter/Advertising/Add To Wishlist/Compare
 * ============================================ */
/*popup login*/
.em-popup-modal,
.qs-modal{
	.modal-content{@include border-radius(0px !important);}
	.modal-header{
		padding: 0;
		min-height: 0;
		border: 0;
	}
	.modal-body{padding:0 !important;}
	.close{   opacity: 1;
    filter: alpha(opacity=100);}
}

.fancybox-opened .fancybox-skin{
	padding:0 !important;
}
.fancybox-skin{
	@include border-radius(0px !important);
}
.popup-content{
	width:100%;
}
.popup-content{	
	.em-account-popup{
		padding:50px 30px;
		.action-forgot{
			padding-top:5px;
			overflow:hidden;
			.actions{
				float:left;
				clear:both;
				.required{
					float:left;
					clear:none;
					margin-top:5px;
				}
			}
			
			.login_forgotpassword{
				float:left;
				padding-bottom:10px;
				a{
					text-transform:capitalize;
					
				}
				p{
					margin-bottom:6px;
				}
			}
		}
		.form-list{
			li{
				width:100%;
				margin-right:0;
			}
			p.required{
				font-size:85%;
				padding:0;
				margin:0;
			}
		}	
	}
	#show_popup{
		margin-right: 5px;
		margin-top: -2px;
	}
}
/*end popup login*/

/*Popup Ads*/
.em-block-ads{
	display:inline-block;
	width:100%;
	text-align:center;
	padding:20px 10px;
	.icon-gift{
		
	}
	.em-social{display:inline-block;}
	.em-social-icon{
		padding: 4px 6px;
		font-size: 1.6rem;
		border-style: solid;
		border-width: 1px;
	}
}

/*Popup newsletter*/
.popup-subscribe{
	padding:20px 20px 10px;
	width:80%;
	margin:0 auto;
	text-align:center;
	background:url("../images/popup-gift.png") 0 0 no-repaeat;
	&:before{
		content:"$";
		background:url("../images/popup-gift.png") center top no-repeat oldlace;
		width: 180px;
		height: 40px;
		font-size: 18px;
		padding:13px 0 5px;
		font-weight: bold;
		display:inline-block;
		font-style: italic;
		margin-bottom:10px;
	}
	.em-block-title{
		width:100%;
		margin:0;
		text-transform:uppercase;
		p.h3{
			margin-bottom:6px;
		}
	}	
}



/*popup addtoContainer*/
#addtoContainer{
	@include position_style(fixed, left, 37%, top, 30px);
	width: 400px;
	padding:20px;
	background: #fff;
	z-index: 9999;
	border:10px solid #a1a1a1;
	text-align:center;
	@include border-radius(5px);
	.back{
		@include changeIcon(38px, 38px, btn_popup-close, 0 0);
		@include hideText();
		@include position_style(absolute, right, -25px, top, -25px)
	}
	.row2 a.btn_ajaxaddto{
		display:inline-block;
		padding: 10px 25px;
		text-transform: uppercase;
		margin:10px 5px 5px;
		border:1px solid;
		@include transition1;
	}
}
/*end popup addtoContainer*/