a.product-image{
	position:relative; 
	margin-bottom:18px; 
	display:block;
	img{
		/*width:100%;
		height:auto;*/
		@include border-radius(0)
	}
}
.products-grid a.product-image{
	img{
		width:100%;
		height:auto;
	}
}
.product-name{

}
.ratings{
	padding:0 0 1rem;
	.rating-box{ 
		margin-right:0;
	}
	.amount{
		/*display:none;*/
	}
}
div.desc{
	margin-bottom:1.55rem;
}
/* View Type: Grid */
.products-grid{
	.item{
		margin:0 0 10px;
		float:left;
		margin-right:20px;
		.product-item{
			overflow:hidden;
			width:100%;			
			border-width:1px;
			border-style:solid;
		}
		img{
			width:100%;
			height:auto;
		}
		.product-shop{
			display:inline-block;
			width:100%;
			@include transition1;
			padding:0 30px 10px;
			.wrapper-price-review{
				display: inline-block;
				width: 100%;
				.price-box{
					float:none;
					overflow:hidden;
					min-width:60px;
					text-align:left;
				}
				.ratings{
					float:right;
					padding:4px 0 0;
				}
			}
			.bottom{
			}
		}
		.add-to-links li{
			float:none;
			display:inline-block; vertical-align:top;
		}
	}
}


@mixin clearcss-item{
	.products-grid{
		li.item{
			padding:0 !important;
			border:0;
			margin-right:0;
			&:hover{
				.product-item{
					margin:-10px;
				}
			}
		}
	}
}

.em-crosssell-noslider,
.em-upsell-noslider{
	&.products-grid{
		li.item{
			padding:10px !important;
			margin-right:0;
		}
	}
}
.category-products {
	.products-grid{
		li.item{
			padding:0 10px;
			margin-right:0;			
		}
	}
	.item .product-item{
		overflow:hidden;
		width:auto; display:block; min-height:100%;
		&:hover{
			position:absolute;
			top:0;
			left:10px;
			right:10px;
			z-index:2;
		}
	}
	.products-grid .em-btn-addto button.button{
		/*margin-bottom:0;
		font-size:0;
		span{
			padding:0;
		}*/
	}
}

	
/* View Type: List */
.products-list{
	.product-image { 
		float:left; 
		margin:0 20px 10px 0; 
		img{
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}
	}
	.product-shop {
		overflow:hidden;
		text-align:left;
		.price-box{
			margin-bottom:14px;
		}
	}
	div.item{
		display:inline-block;
		width:100%;
		margin-bottom:20px;
	}
	li.item{
		overflow:hidden;
	}
}
.em-sidebar {
	.products-list{
		margin-bottom:0;
		.product-shop .price-box{
			margin-bottom:0;
		}
	}
}
.products-list{
	> .item{
		padding:10px;
		@include cat-effect01;
		border:1px solid transparent;
		@include border-radius(3px);
		margin-bottom:40px;
		a.product-image{
			margin-bottom:0;
		}
		.product-shop{
			margin-bottom:10px;
		}
	}
}

/*=================setting admin=====================*/
/*single line*/
.products-grid .item{
	.product-name{
	}
	&:hover .product-name{
	}
}

/*=======category setting hover effect===========*/
@mixin product-hover{
	&.products-grid li.item{
		.product-item{
			.em-element-display-hover{
				transform: scale(0,0);
				-moz-transform: scale(0,0);
				-webkit-transform: scale(0,0);
				@include transition1;
				height:0;
				opacity: 0!important;
				// IE8 filter
				filter: #{alpha(opacity=0!important)};
			}
			&:hover{
				.em-element-display-hover{
					@include transition1;
					transform: scale(1,1);
					-moz-transform: scale(1,1);
					-webkit-transform: scale(1,1);
					height:100%;
					opacity: 1!important;
					// IE8 filter
					filter: #{alpha(opacity=100!important)};
				}
			}
		}
	}
}

/*Enable on all devices*/
.emcatalog-enable-hover{
	@include product-hover;
}

a.product-image .em-img-lazy{
	
}

/*Effect Show Button Add Cart - Wishlist - Compare*/


.bottom{
	.em-btn-addto,
	.quickshop-link-container{ display:inline-block; vertical-align:top}
	
}
@mixin button-show01{
	.item{
		.product-shop-top{
			position:relative;
			overflow:hidden;
			margin-bottom:2rem;
			a.product-image{margin-bottom:0;}
		}
		.bottom{			
			@include position_style(absolute, left, 0, bottom, 0px);
			right:0;
			@include transition1;									
			@include opacity(0);
			.em-btn-addto{
				text-align:left;
				display:inline-block;
				width:100%;
				button.button.btn-cart{
					margin:0;	
					@include border-radius(0);	
					float:none;
					width:100%;
					padding:16px 10px;
					min-height:50px;
					span{
						float:none;
					}
				}
				.add-to-links{
					float:right;
					@include position_style(absolute, right, 0, bottom, 0px);
					li{
						width:50px;
						float:right;
						margin:0;
						margin-left:-1px;
						a{ 
							width:100%; 
							text-align:center; 
							padding:17px 7px;
							min-height:50px;
						}
					}
				}
			}
			.quickshop-link-container{
				@include position_style(absolute, right, 98px, bottom, 0px);
				float:right;
				a{ 
					width:50px; 
					text-align:center; 
					padding:17px 7px;
					min-height:50px;
				}
			}
			.out-of-stock{
				display:inline-block;
				vertical-align:top;
				margin-right:0.5rem;
				margin-top: 4px;
			}
		}
		.product-item:hover{
			.bottom{
				bottom:0px;				
				@include opacity(1);
				
			}
		}		
	}	
}
@mixin button-hide-text{
	button.button.btn-cart{
		font-size:0;
		span{
			padding:0;
		}
	}
}

@mixin button-show02{
	.item{
		.bottom{
			@include transition1;
			@include opacity(0);			
			.em-btn-addto{
				width: 75%;
				float: left;
				button.button.btn-cart{
					font-size:0;
					font-size: 0;
					width: 33.3333%;
					float: left;
					border: 0;
					margin: 0; text-align:center; @include border-radius(0); padding:10px 7px;
					position:static;
					min-height:40px;
					span{
						padding:0;
					}
				}
				.add-to-links{
					width:66.6667%;
					float:left;
					position:static;
					li{
						width:50%;
						float:left;
						margin:0;
						a{ width:100%; text-align:center; @include border-radius(0); border:0; padding:13px 7px; min-height:40px;}
					}
				}
			}
			
			.quickshop-link-container{width:25%; float:left; position:static;a{ width:100%; border:0; text-align:center;@include border-radius(0); padding:13px 7px; min-height:40px;}}
		}
		.product-shop-top{
			
			.bottom{
				
				.em-element-cotent{
					display:inline-block;
					width: 100%;
					vertical-align: top;
				}
			}
		}		
		&:hover{
			.bottom{
				@include opacity(1);	
				bottom: -15px;
			}
		}
	}
}
@mixin button-show03{
	.item{	
		.product-shop{
			padding-left:1rem;
			padding-right:1rem;
			.wrapper-price-review .price-box{
				margin-bottom: 0;
				min-height: 60px;
			}
		}
		.em-btn-addto{
			width: 100%;
			float: left;
			.add-to-links{
				width:100%!important;
				float:left;				
				position:static;
				li{
					width:100%!important;
					float:left;
					margin:0 0 -1px;
					a{ width:100%; text-align:center; @include border-radius(0); padding:10px; min-height:1px; }
				}
			}
			button.button.btn-cart{
				font-size:0;
				font-size: 0;
				width: 100%!important;
				float: left;
				padding:10px; 
				min-height:1px; 
				position:static;
				margin: 0 0 -1px; text-align:center; @include border-radius(0);
				span{
					padding:0;
				}
			}
		}
		
		.quickshop-link-container{width:100%; float:left;position:static; a{ width:100%; text-align:center;padding:10px; min-height:1px; }}
		.bottom{
			position:absolute;
			top:10px;
			bottom:auto;
			right:auto;
			left:-10px;
			width:36px;
			text-align:center;
			visibility: hidden;
			@include transition1;
			@include opacity(0);
			.em-element-cotent{
				display:inline-block;
				width: 100%;
				vertical-align: top;
			}
		}	
		.product-item:hover{
			.bottom{
				@include opacity(1);
				left:10px;
				bottom:auto;
				right:auto;
				visibility: visible;
				box-shadow:none;
			}
		}
	}
}
.category-products,
.products-grid,
.button-show01 .products-grid{ @include button-show01;}
.button-show02 .products-grid{ @include button-show02;}
.button-show03 .products-grid{ @include button-show03;}
.button-hide-text{ @include button-hide-text }


.em-filterproducts-custom{ @extend .products-grid;}
.em-filterproducts-custom,
.products-grid{
	&.owl-carousel .owl-wrapper-outer{
		padding-bottom: 40px;
		margin-bottom: -40px;
		padding-top: 10px;
		margin-top: -10px;
		&:hover{			
			z-index:1
		}
	}
	.product-item{
		&:hover{
			margin-top: -5px;
			padding-bottom: 5px;
			overflow: initial;
		}
	}
	.item{
		.bottom{
			bottom:0;
		}
		.product-item:hover{
			.bottom{
				bottom:-35px;
				z-index:4;
			}
		}
	}
}


/*rtl*/
.em-rtl .button-show03 .products-grid{ 
	.item{			
		.bottom{
			right:-10px;
			left:auto;
		}	
		.product-item:hover{
			.bottom{
				right:10px;
				left:auto;
			}
		}
	}
}
