/*=============Tab Slider Simple============*/
.em-tabs,
.em-details-tabs{
	display:inline-block;
	width:100%;
	ul.em-tabs-control{
		li{
			display:inline-block;
			margin-bottom:0;
			a{
				position:relative;
				margin-right:0;
				padding:10px 20px;
				text-transform:uppercase;
			}
		}
	}
}

/*two tab in sidebar*/
.em-two-tabs{
	.em-tabs{
		border-style: solid;
		border-width: 1px;
		margin-bottom:$space_block;
		.em-tabs-control{
			li{
				width:50%;
				a{
					width:100%;
					padding: 10px;
					border-width: 0px;
					border-bottom-width: 1px;
				}
				&:first-child a{
					border-right-width: 1px;
				}
			}			
		}
		.em-tabs-content{
			padding:0;
			.r-tabs-panel{
				padding-bottom:0;
			}
			.widget{
				border-width: 0px;
				margin:0;
				.widget-products{
					padding:0;
				}
				.products-list  .item{					
					padding:2rem 2rem 1rem
				}
			}
		}
	}
}


.products-list,
.products-grid{
	&.owl-carousel .owl-item{		
		.item{
			margin-right:0;	
		}
		.em-item-slider .products-grid{
			.item{
				margin-bottom:2rem;
				&.last{
					margin-bottom:0;
				}
			}
		}
	}
}

/*==========Show Pagination============*/
.owl-carousel{
	.owl-item{
		.item{
			float:none;
			margin-bottom:0;
			width:100%;
		}
	}
}

/*=============Tab Slider Product============*/
.em-details-tabs.r-tabs,
.em-tabs{
	.custom-tab,
	.em-tabs-control{
		overflow:hidden;
		width:100%;
		margin-bottom:-1px;
		text-align:center;
		li{
			float:left;
			margin:0;
			a{				
				margin:0;
				padding: 10px;
			}
		}
	}
	.tab-link a,
	.r-tabs-nav .r-tabs-anchor{		
		border-width:1px;
		border-style:solid;
	}
	&.r-tabs .r-tabs-panel{
		margin-bottom:0;
		padding:0;
	}
	.em-details-tabs-content,
	.em-tabs-content{
		padding:0;
		div.item{
		}
	}
}

.em-tabs .custom-tab {
	&.list-inline{
		margin:0 0 -1px;
		> li{padding:0}
	}
	li.tab-link{
		display:inline-block;
		a{
			display: inline-block;
			padding: 10px 20px;
			margin-right: -1px;
			-moz-backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
		}
	}
}
.em-two-custom-tab{
	.em-tabs{
		.custom-tab{
			li.tab-link{
				width:50%;
				width: -moz-calc(50% - 1px);
				width: -webkit-calc(50% - 1px);
				width: -o-calc(50% - 1px);
				width: calc(50% - 1px);
				a{
					width:100%;
					width: -moz-calc(100% + 2px);
					width: -webkit-calc(100% + 2px);
					width: -o-calc(100% + 2px);
					width: calc(100% + 2px);
				}
			}			
		}
	}
}



.em-details-tabs{
	&.r-tabs .r-tabs-nav .r-tabs-anchor{
		
	}
	&.r-tabs .em-details-tabs-content{
		border-width:1px;
		border-style:solid;
		margin-top:-1px;
		padding: 2rem;
		@include border-radius(0px);
	}
	.tabs-control{
		text-align:left;
	}
}

.embase-tab-01 {
	.em-tabs.r-tabs .r-tabs-panel,
	.tab-content-container .tab-content{ padding-bottom:$padding2x * 2}
	.r-tabs .r-tabs-nav .r-tabs-anchor,
	.custom-tab li.tab-link a{
		position:relative;
		padding:10px 0;
		margin:0 40px 30px;
		border:0;
		border-bottom-width:3px;
		border-bottom-style:solid;
		background:transparent;
		@include transition1;
	}
	.r-tabs .r-tabs-nav,
	.custom-tab{
		text-align:center;
		li{ float:none; position:relative;
			&:before{
				@include font-awesome("\f04d",5px);
				vertical-align: middle;
				margin-top: -3px;
			}
			&:first-child{
				&:before{ display:none}
			}
		}
	}
	.em-tabs-content,
	.tab-content-container{
		.owl-theme .owl-controls{
			padding: 20px 0;
			.owl-buttons div.owl-next,
			.owl-buttons div.owl-prev{
				position:relative; margin:0 15px !important;    top: 0;    right: 0;    left: 0;
			}
		}
	}
}

/*tab title center, show icon*/
.em-tabs-widget{
	.products-grid li.item{
		width:100%;
	}
}

/*tab mobile*/
.r-tabs {
	.r-tabs-accordion-title{
		.r-tabs-anchor{
			text-transform:uppercase !important;
			border-width:1px !important;
			border-style:solid !important;
			clear:both;
			@include transition1;
		}
		&.r-tabs-state-active{
			.r-tabs-anchor{
				
			}
		}
	}
}

/*===========Next Pre Slider============*/
.owl-theme .owl-controls{
	text-align: center;	
	margin-top:0 !important;
	.owl-pagination{
		margin-top:20px;
		margin-bottom:1px;
	}
}
.slider-icon-bottom{
	.owl-theme .owl-controls{
		position:static;
	}
}

.em-tabs-content{
	.owl-theme .owl-controls{
		top:-39px;
		right:11px;
		overflow:initial;
		margin-top:0;
	}
}


/*===========End Next Pre Slider============*/

/*===========Show Icon Next Pre Slider============*/
@mixin next-pre($font, $mar, $pad, $width){
	font-size:$font !important;
	margin:$mar !important;
	padding:$pad !important;
	width:$width;
	height:$width;
}
@mixin next-pre-css3(){
	@include box-shadow(none !important);

}
@mixin next-pre-border(){
	border:1px solid;
	@include next-pre-css3();
}
@mixin next-pre-text(){
	text-transform:uppercase;
	@include next-pre(80%, 0, 0, auto);
	@include next-pre-css3();
	&:first-child{
		border-right:1px solid;
		padding-right:10px !important;
		margin-right:10px !important;
	}
	&:before{
		display:none !important
	}
}
@mixin next-pre-icon($font-icon-next, $font-icon-prev, $font-size){
	&:after{
		content:"";
		border-style: solid;
		border-width: 1px;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
	}
	&.owl-next:before{
		@include font-awesome($font-icon-next,$font-size);//mixin in mixin/_theme-mixin.scss
		@include transition1;// mixin in mixin/_theme-mixin.scss
		margin-left:3px;
	}
	&.owl-prev:before{
		@include font-awesome($font-icon-prev,$font-size);
		@include transition1;
		margin-right: 2px;
	}
}

/*show next-pre icon*/
.owl-theme .owl-controls .owl-buttons div{
	@include next-pre-icon(\f178,\f177,15px);
	@include next-pre(0, 0, 10px 6px, 35px);
	&.owl-prev{ @include border-radius(0); position:absolute; right:80px; top:-60px}
	&.owl-next{ @include border-radius(0); position:absolute; right:17px; top:-60px}
}

/*show next-pre text*/
.slider-icon-text{
	.owl-theme .owl-controls .owl-buttons div{
		@include next-pre-text();
	}
	.owl-theme .owl-controls{
		top:-33px;
	}
}

/*slider style padding left right, button slider left right*/
.slider-style02{
	padding:0 57px;
	margin:40px 0;
	.em-slider-navigation-icon{
		&.owl-theme .owl-controls{
			position:static;
			.owl-buttons div{
				position:absolute;
				top:23%;				
				&.owl-prev{
					left:-40px;
					right:auto;
				}
				&.owl-next{
					left:auto;
					right:-40px;
				}
			}
		}
	}
}

/*slider style navigation bottom*/
.slider-navi-bottom{
	.owl-theme .owl-controls{ margin-top:20px !important}
	.owl-theme .owl-controls .owl-buttons div.owl-next,
	.owl-theme .owl-controls .owl-buttons div.owl-prev{
		position:relative; margin:0 15px !important;    top: 0;    right: 0;    left: 0;
	}
}

/*slider style navigation top center*/
.slider-navi-top{	
	.owl-theme .owl-controls{
		position: absolute;
		top: -7rem;
		left: 0;
		right: 0;
	    padding: 1rem
	}
	&.em-line-01{		
		.owl-theme .owl-controls{
			position: static;
			padding: 3rem 1rem 1rem;
		}
	}
	.widget-title,
	.em-widget-title,
	.block-title,
	.em-block-title{
		text-align:center;
		margin-bottom:9rem;
		text-transform:uppercase;
	}
	.owl-theme .owl-controls .owl-buttons div.owl-next,
	.owl-theme .owl-controls .owl-buttons div.owl-prev{
		position:relative; margin:0 15px !important;    top: 0;    right: 0!important;    left: 0!important;
	}
}

/*slider brand border item*/
.slider-brand-line{
	.em-slider{
		&.owl-carousel{
			margin:0;
			.owl-wrapper-outer{
				width: calc(100% + 1px);
				padding-bottom:1px;
			}
			.owl-item{
				padding:0;
				.em-banners-item p{
					margin:0 -1px -1px 0;
					padding:0 2rem;
					border-style: solid;
					border-width: 1px;
					img{
						margin: 0 auto;
						transition:all 0.5s ease 0s;
						-webkit-transition:all 0.5s ease 0s;
						-moz-transition:all 0.5s ease 0s;
						-webkit-filter: grayscale(100%);
						-moz-filter: grayscale(100%);
						-ms-filter: grayscale(100%);
						-o-filter: grayscale(100%);
						filter: grayscale(100%);
						filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 4+ */
						filter: gray;
					}
					&:hover img{
						-webkit-filter: grayscale(0);
						-moz-filter: grayscale(0);
						-ms-filter: grayscale(0);
						-o-filter: grayscale(0);
						filter: none;
					}
				}
			}
		}
		&.owl-theme .owl-controls .owl-buttons div.owl-next{
			right:10px;
		}
		&.owl-theme .owl-controls .owl-buttons div.owl-prev{
			right:70px;
		}
	}
}


/*===========End Show Icon Next Pre Slider============*/

/*==========Show Pagination============*/
@mixin bullet($width, $height, $margin){
	width:$width !important;
	height:$height !important;
	margin:$margin !important;
}
/*Show icon circle*/
@mixin bullet-circle(){
	@include bullet(12px, 12px, 0 0 0 10px);
	@include border-radius(50% !important);//mixin in bootstrap/_mixins.scss
	@include opacity(1);// mixin in mixin/_theme-mixin.scss
}
@mixin bullet-circle-border(){
	@include bullet(12px, 12px, 0 0 0 10px);
	position:relative;
	border:2px solid;
	&:before{
		@include bullet(0, 0, 0);
		content:"";
		position:absolute;
		top:2px; left:2px;
		@include border-radius(50% !important);//mixin in bootstrap/_mixins.scss
		@include opacity(1);
	}
}
.owl-theme .owl-controls .owl-page{ 
	&.active, &:hover{
		span:before{
			width:4px !important;
			height:4px !important;
		}
	}
	span{
		border:1px solid;
		@include bullet-circle();
	}
}
/*Show icon square*/
@mixin bullet-square(){
	@include bullet(8px, 8px, 0 0 0 2px);
	@include border-radius(0 !important);
	@include opacity(1);
}
@mixin bullet-square-border(){
	@include bullet(12px, 12px, 0 0 0 10px);
	position:relative;
	@include border-radius(0 !important);
	border:1px solid;
	&:before{
		@include bullet(8px, 8px, 0);
		content:"";
		position:absolute;
		top:1px; left:1px;
		@include border-radius(0 !important);
		@include opacity(1);
	}
}
.slider-icon-square{
	.owl-theme .owl-controls .owl-page span{
		@include bullet-square();
	}
}



/*show number*/
@mixin bullet-number(){
	@include bullet(auto, auto, 0 0 0 1px);
	@include border-radius(0 !important);
	border:1px solid;
	padding:2px 7px !important;
	font-size:80%;
	&:before{
		display:none !important;
	}
}
.owl-pagination-numbers{
	&.owl-theme .owl-controls {
		.owl-page span.owl-numbers{
			@include bullet-number();
		}
		.owl-pagination{
			margin-top:1px;
		}
	}
}

/*slider in product img*/
.slider-product-img .item {
	.product-shop-top{
		padding:10% 0;
		background-color: #f8f8f8;
			.item{				
				position:absolute;
				left:10%;
				bottom:0;
				top:0;
				width:80%;
				display:block;
				@include opacity(0);
				-webkit-transition: -webkit-transform .4s, opacity .4s;
				-moz-transition: -moz-transform .4s, opacity .4s;
				transition: transform .4s, opacity .4s;
				&.active{
					position:relative;
					left:0;
					margin:0 auto;
					-webkit-transform: translateX(0) scale(1)!important;
					-moz-transform: translateX(0) scale(1)!important;
					-ms-transform: translateX(0) scale(1)!important;
					-o-transform: translateX(0) scale(1)!important;
					transform: translateX(0) scale(1) !important;
					@include opacity(1);
				}
				&.item-right{
					-webkit-transform: translateX(65%) scale(0.7);
					-moz-transform: translateX(65%) scale(0.7);
					-ms-transform: translateX(65%) scale(0.7);
					-o-transform: translateX(65%) scale(0.7);
					transform: translateX(65%) scale(0.7);
				}
				&.item-left{
					-webkit-transform: translateX(-65%) scale(0.7);
					-moz-transform: translateX(-65%) scale(0.7);
					-ms-transform: translateX(-65%) scale(0.7);
					-o-transform: translateX(-65%) scale(0.7);
					transform: translateX(-65%) scale(0.7);
				}
			}
	}
	.carousel-indicators{
		bottom: -10%;
		margin-bottom:0;
		li{
			border-color:#807E7E;
			width:7px;
			height:7px;
			margin:0 2px;
			background-color:#807E7E
		}
		.active{
			background-color:#0C0C0C;
			border-color:#0C0C0C;
			width:9px;
			height:9px;
		}		
	}
	&:hover{
		.product-shop-top .item.item-right,
		.product-shop-top .item.item-left{
			@include opacity(1);
			&:after{
				content:"";
				position:absolute;
				left:0;
				top:0;
				bottom:0;
				width:100%;
				background-color:#f8f8f8;
				@include opacity(0.5);
			}
		}
	}
}

/*RTL*/
.em-rtl{
	.owl-theme .owl-controls .owl-buttons div.owl-prev{ right:auto; left:19px;}
	.owl-theme .owl-controls .owl-buttons div.owl-next{ right:auto; left:80px;}
	.slider-brand-line .em-slider{
		&.owl-theme .owl-controls .owl-buttons div.owl-prev{
			right:auto;
			left:0;
		}
		&.owl-theme .owl-controls .owl-buttons div.owl-next{
			right:auto;
			left:35px;
		}
	}
}

