@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spinAround2 {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(-360deg);
	}
}
@-moz-keyframes spinAround2 {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(-360deg);
	}
}
@keyframes spinAround2 {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(-360deg);
	}
}


/*============Variation demo fontend==============*/
.em-variation{
	@include position_style(fixed, right, 0, top, 0);
	z-index: 9999;
	background-color:#fff;
	height:100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-transform: translateZ(0);
	@include box-shadow(-5px 0px rgba(0,0,0,0.1)) ;
	
	.em-variation-btn{
		z-index: 0;
		padding:13px 9px;
		box-shadow: 0 0 10px #999999;
		color:#36312d;
		@include hideText();
		@include transition1;
		text-indent:0;
		@include position_style(absolute, left, -48px, top, 20%);
		width: 52px;
		height: 52px;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-moz-transform: translateZ(0);
		@include box-shadow(-5px 5px rgba(0,0,0,0.1)) ;	
		background: #ffffff;
		cursor: pointer;
		&:before{
			@include font-awesome(\f013,28px);
			@include transition1;
			-webkit-animation: spinAround 6s linear infinite;
			-moz-animation: spinAround 6s linear infinite;
			animation: spinAround 6s linear infinite;
		}
		&:after{
			@include font-awesome(\f013,14px);
			@include transition1;
			-webkit-animation: spinAround2 5s linear infinite;
			-moz-animation: spinAround2 5s linear infinite;
			animation: spinAround2 5s linear infinite;
			position: absolute;
			left: 30px;
			top: 10px;
		}
	}
	.reset-button{
		padding:5px;
		border: 1px solid #000;
		background-color:#000;
		color:#fff;
		@include transition1;
		text-indent:0;
		font-size:16px;
		height:38px;
		width: 100%;
		display: inline-block;
		text-align: center;
		text-transform: uppercase;
		&:hover{
			background-color:#fff;
			color:#000;
			border-color:#000;
		}
	}
	.em-variation-wrapper{
		width:350px;
		padding:1.5rem 2rem;
		background:#fff;
		position:relative;
		@include transition1;
		display:block!important;
		visibility:hidden;
		&.show{
			visibility:visible;
		}
		.wrapper-input-color{
			margin: 0 30px 10px;
			overflow:hidden;
			text-align:left;
			.label{ display:inline-block; margin-bottom:5px;}
			.em-custom-color{
				overflow:hidden;
				border:1px solid #ccc;
				@include border-radius(3px);
				width:200px;
				.input-lg{
					border:0;
					border-right:1px solid #ccc;
					height: 35px;
					padding: 5px;
					margin-bottom: 0;
					font-size: 14px;
					color: #000;
					width:103px;
					@include border-radius(0px); float:left;
				}
				a.select-color{ padding:0 10px; height:35px; line-height:35px; width:95px; background:#f6f6f6;@include border-radius(0 3px 0 3px);float:left}
			}
		}
	}
	.copyright{
		overflow:hidden;
		text-align:center;
		padding-top:10px;
	}	
}



/*Main Color*/
.em-wrapper-variation{
	display: inline-block;
	width: 100%;
	clear: both;
	text-align:center;
	margin-bottom:1.5rem;
	h1.title-custom{
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		color:#000;
	}
	.label{ color:#808080}
	.color-picker{
		@include changeIcon(40px, 40px, icon_colorpicker, 0 0);
		display:inline;
		margin-top:-5px;
		border:none;
		background-color:transparent!important;
		cursor:pointer;
	}
}

.em-color{
	display:inline-block;
	margin-right:1rem;
	margin-bottom:1rem;
	padding:2px;
	@include transition1;
	@include border-radius(100%);
	&.selected{@include box-shadow(0 0px 5px #8E8E8E);}
	&:hover{
		@include box-shadow(0 0px 5px #8E8E8E);
	}
	span{			
		width:36px;
		height:36px;
		@include border-radius(100%);
		background:#e72d04;
		position:relative;
		@include hideText();
		display:inline-block;		
		&.emColorStyle01{
			background:#be5960;
		}
		&.emColorStyle02{
			background:#F3AE3C;
		}
		&.emColorStyle03{
			background:#6db088;
		}
		&.emColorStyle04{
			background:#aa916a;
		}
	}		
}
				
/*Main Font*/
.em-font-family{
	display:inline-block;
	border:1px solid #a7a7a7;
	padding:5px;
	min-width:95px;
	margin:3px 2px;
	@include border-radius(5px);
	@include opacity(0.5);
	@include transition1;
	&.selected{ @include opacity(1);}
	&:hover{
		@include box-shadow(0 0px 5px #8E8E8E);@include opacity(1);
	}
	span{
		vertical-align:middle;
		@include hideText();
		display:inline-block;
		&.architectsdaughter{@include changeIcon(70px, 40px, icons, -4px -458px);}
		&.arvo{@include changeIcon(36px, 40px, icons, -89px -458px);}
		&.dancingscript{@include changeIcon(78px, 40px, icons, -146px -456px);}
		&.lato{@include changeIcon(38px, 40px, icons, -243px -457px);}
		&.novasquare{@include changeIcon(83px, 40px, icons, -298px -457px);}
		&.opensans{@include changeIcon(72px, 40px, icons, -402px -456px);}
		&.adventpro{@include changeIcon(64px, 40px, icons, -491px -457px);}
		&.raleway{@include changeIcon(57px, 40px, icons, -572px -457px);}
	}
	
}

#em-variation-store{
	margin:2rem -2rem 0;
	background-color: #272727;
	.title-custom{
		padding:10px 2rem;
		font-size:14px;
		background: #363636;
		color: #aaa;
		margin:0;
	}
	.em-wrapper-variation-store{		
		overflow:auto;
		.em-store-item{
			float:left;
			width:50%;
			padding: 1px;
			a.em-store-switch{
				display:block;
				position:relative;
				&:before{	
					width:100%;
					height:0;
					bottom:0;
					right:0;
					content: '';
					position: absolute;
					z-index: 1;
					height: 0;  
					-moz-transition: all 200ms ease;
					-webkit-transition: all 200ms ease;
					-o-transition: all 200ms ease;
					transition: all 200ms ease;
					-moz-backface-visibility: hidden;
					-webkit-backface-visibility: hidden;
					  backface-visibility: hidden;
					background: rgba(0,0,0,0.8);
				}
				.bkg-hover{
					position:absolute;
					top:35%;
					left:0;
					width:100%;
					@include opacity(0);
					color:#dbdbdb;
					text-align:center;
					text-transform: uppercase;
					font-size: 14px;
					font-weight: bold;
					z-index:1;
				}
			}
			img{
				@include border-radius(0)
			}			
			&:hover{
				a.em-store-switch{
					&:before{
						height:100%;
					}
					.bkg-hover{
						@include opacity(1);
					}
				}
			}
		}
	}
}
/* Let's get this party started */
.em-wrapper-variation-store::-webkit-scrollbar {
    width: 0px;
}
.em-wrapper-variation-store::-moz-scrollbar {
    width: 0px;
}


@-moz-document url-prefix(http://),url-prefix(https://) {
	.em-wrapper-variation-store[orient="vertical"] {
	  width: 0px !important;
	}

	.em-wrapper-variation-store[orient="horizontal"] {
	  width: 0px !important;
	}
}


/*right to left*/
.em-rtl{
	.em-variation{
		left: 0;
		right:auto;
		.em-variation-btn{
			right: -48px;
			left: auto;
			text-align:right;
			&:after{
				left:10px
			}
		}
	}
}
