.em-wrapper-area01,
.em-slideshow{
	.changeBkg(@body_bg_color);
}
.container-area23{
	.changeBkg(@body_bg4_color);
}


.em-footer-style11 .em-footer-bottom{.changeBkg(@footer_bg2_color);}
#em-mheader .em-top-search .form-search input.input-text{ .changeColor(@header_text4_color);}

.productlabels_icons .label {
    .border-radius(50%);
    height: 40px;
    width: 40px;
    padding: 5px;
    line-height: 28px !important;
}
.productlabels_icons .label{
	.changeAllColor(@body_text6_color; @body_label_bg_color; @body_label_bg_color; @h6_font);
	> p{	
		.changeBkg(@body_label_bg_color);
	}	
}
.productlabels_icons .label.special{
	.changeAllColor(@body_text6_color; @body_label_bg3_color; @body_label_bg3_color; @h6_font);
	> p{	
		.changeBkg(@body_label_bg3_color);
	}
}
.productlabels_icons .label.hot{
	.changeAllColor(@body_text6_color; @body_label_bg2_color; @body_label_bg2_color; @h6_font);
	> p{	
		.changeBkg(@body_label_bg2_color);
	}
}