/*$max-content-width: value screen*/
/*Category product*/
/*button style*/
/* ============================================ *
 * Link
 * ============================================ */
/* ============================================ *
 * Menu
 * ============================================ */
/*.em-wrapper-menu-hoz #navpos{
	display:none;
}*/
#navpos {
  float: left;
  width: 0;
  height: 0;
}

.em-top-menu {
  float: left;
  width: 100%;
  text-align: left;
}

.wrapper-menu-hoz {
  border-bottom: 1px solid #e8e8e8;
  /*margin-bottom:16px;*/
}

/*effect hover*/
.hnav .menu-item-depth-0 {
  /*@include line;*/
}

/*menu custom*/
.em_nav .hnav .menu_custom.menu-item-depth-0 > a span:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0c9";
  font-size: 17px;
  float: right;
}

/*=========Menu Simple======*/
code,
.em_nav em,
.em_nav code {
  word-wrap: break-word;
  white-space: normal;
  background: none;
}

/*=========End Menu Simple======*/
/*=========Title Menu Ipod======*/
.menu-title {
  text-transform: uppercase;
  padding: 10px 19px;
  border: 1px solid;
  margin-bottom: 3px;
  cursor: pointer;
}
.menu-title .option {
  float: right;
  font-size: 0;
}
.menu-title .option:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f022";
  font-size: 18px;
}

/*=========End Title Menu Ipod======*/
/*=======None dropdown======*/
.none-dropdown .level0.parent a.arrow {
  display: none;
}
.none-dropdown .level0 ul {
  display: none;
}

/*=======End None dropdown======*/
/*======Icon Arrow Font-Anwsome========*/
a.arrow {
  border-left: 0px solid;
  padding: 10px 10px !important;
  position: relative;
}
a.arrow:before {
  width: 10px;
  text-align: center;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0da";
  font-size: 14px;
}
a.arrow:after {
  display: none !important;
}
a.arrow span {
  display: none;
}

.menu-container a.arrow,
.nav-container.em_nav ul.level0 a.arrow {
  padding: 10px 0px 10px 10px !important;
  text-align: right;
}

/*icon menu right*/
.nav-right a.arrow:before {
  display: inline-block !important;
  content: "\f104";
}

/*icon menu mobile*/
.em-menu-mobile .nav-right a.arrow:before,
.em-menu-mobile a.arrow:before {
  content: "\f0d7";
}

/*Icon Font Awesome*/
.em-menu-mobile .vnav.nav-text-right .menu-item-link.fa:before,
.menu-item-link.fa:before,
.em-menu-mobile .hnav .menu-item-depth-0:before,
.em-menu-mobile .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0:before {
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 11;
  padding: 14px 0;
}
.em-menu-mobile .vnav.nav-text-right .menu-item-link.fa > .em-menu-link span,
.menu-item-link.fa > .em-menu-link span,
.em-menu-mobile .hnav .menu-item-depth-0 > .em-menu-link span,
.em-menu-mobile .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > .em-menu-link span {
  padding-left: 45px !important;
}

/*.em-menu-mobile .vnav.nav-text-right*/
.vnav {
  border: 1px solid;
  border-top-width: 0;
  padding-bottom: 13px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.vnav .menu-item-link.fa {
  display: block;
}
.vnav .menu-item-link.fa:before {
  padding: 14px 0;
  line-height: 1.55;
}
.vnav .menu-item-depth-0 > .em-catalog-navigation li.parent.level0 > a.arrow,
.vnav .menu-item-link > a.arrow {
  top: 5px;
}

/*Icon menu right - icon align left, text align right*/
.vnav.nav-text-right .menu-item-link.fa:before {
  left: auto;
  right: 10px;
}
.vnav.nav-text-right .menu-item-link.fa > .em-menu-link span {
  padding-left: 0 !important;
  padding-right: 35px !important;
}

.em-menu-mobile .menu-item-link.micon:before,
.vnav .menu-item-link.micon:before {
  top: 7px;
}

/*End Icon Font Awesome*/
/*Icon Image*/
.menu-item-link.i-small:before {
  z-index: 11;
  width: 23px;
  height: 23px;
  background-image: url("../images/icons_menu_small.png");
  background-position: 0 -4px;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
}
.menu-item-link.i-small > .em-menu-link span {
  padding-left: 35px !important;
}
.menu-item-link.i-small.i-small01:before {
  background-position: 0 1px;
}
.menu-item-link.i-small.i-small02:before {
  background-position: 0 -34px;
}
.menu-item-link.i-small.i-small03:before {
  background-position: 0 -71px;
}
.menu-item-link.i-small.i-small04:before {
  background-position: 0 -107px;
}
.menu-item-link.i-small.i-small05:before {
  background-position: 0 -143px;
}
.menu-item-link.i-small.i-small06:before {
  background-position: 0 -178px;
}
.menu-item-link.i-small.i-small07:before {
  background-position: 0 -215px;
}
.menu-item-link.i-small.i-small08:before {
  background-position: 0 -251px;
}
.menu-item-link.i-small.i-small09:before {
  background-position: 0 -287px;
}
.menu-item-link.i-small.i-small10:before {
  background-position: 0 -323px;
}
.menu-item-link.i-small.i-small11:before {
  background-position: 0 -358px;
}

/*Icon menu horizontal*/
/*icon menu large*/
.hnav .menu-item-link.i-large:before {
  z-index: 11;
  width: 100%;
  height: 37px;
  background-image: url("../images/icons_menu.png");
  background-position: 50px 0;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
}
.hnav .menu-item-link.i-large > .em-menu-link span {
  padding-top: 60px !important;
  padding-left: 18px !important;
  width: 130px;
  text-align: center;
  /*border-width:1px;*/
  display: inline-block;
}
.hnav .menu-item-link.i-large > .menu-container {
  top: 100px;
}
.hnav .menu-item-link.i-large.i-large02:before {
  background-position: 51px -66px;
}
.hnav .menu-item-link.i-large.i-large03:before {
  background-position: 58px -160px;
}
.hnav .menu-item-link.i-large.i-large04:before {
  background-position: 53px -261px;
}
.hnav .menu-item-link.i-large.i-large05:before {
  background-position: 49px -356px;
}
.hnav .menu-item-link.i-large.i-large06:before {
  background-position: 50px -465px;
}
.hnav .menu-item-link.i-large.i-large07:before {
  background-position: 48px -571px;
}
.hnav .menu-item-link.i-large.i-large08:before {
  background-position: 50px -680px;
}
.hnav .menu-item-link.i-large.i-large09:before {
  background-position: 38px -787px;
}
.hnav .menu-item-link.i-large.i-large10:before {
  background-position: 0px -890px;
}
.hnav .menu-item-link.i-large.i-large11:before {
  background-position: 29px -356px;
}

/*End Icon Image*/
/*======End Icon Arrow Font-Anwsome========*/
/*=====Menu Link==========*/
.menu-link li a {
  padding: 10px 0;
}

/*=====End Menu Link==========*/
/*=============Menu Default==============*/
.nav-container.em_nav .hnav .menu-item-depth-0 {
  padding: 0;
  background: none;
}
.nav-container.em_nav ul.level0 li > a.em-menu-link {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.nav-container.em_nav ul.level0 li.last > a.em-menu-link {
  border-bottom: none;
}
.nav-container.em_nav li.level0 ul {
  padding: 0 20px;
}

/*=============End Menu Default==============*/
/*======Megamenu=================*/
/*Dropdown menu*/
.menu-container {
  /*menu image*/
  /*menu logo*/
}
.menu-container li.level0 {
  margin-right: 0;
}
.menu-container .widget-title h3, .menu-container h4, .menu-container h5 {
  margin-bottom: 12px;
}
.menu-container p.h5 {
  padding-top: 10px;
}
.menu-container p.img-center {
  text-align: center;
  display: block;
  padding: 10px 0;
}
.menu-container p.img-center a {
  display: inline-block;
}
.menu-container .store-view {
  overflow: hidden;
  text-align: center;
}
.menu-container .store-view a img {
  max-height: 135px;
  overflow: hidden;
  border: 1px solid #e1e1e1;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.menu-container .em-menu-list-img {
  padding: 15px 0;
  overflow: hidden;
}
.menu-container .em-menu-list-img a {
  float: left;
  margin: 5px 39px 5px 0;
  text-transform: uppercase;
}
.menu-container .em-menu-list-img a.last {
  margin-right: 0;
}
.menu-container .em-line-01 {
  padding-top: 1px;
  margin-bottom: 0;
}
.menu-container .em-line-01 .em-widget-title {
  margin-bottom: 0;
  padding: 0;
}
.menu-container .em-line-01 .em-widget-title h3 {
  margin-bottom: 20px;
}
.menu-container li > a.em-menu-link {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.menu-container li.last > a.em-menu-link {
  border-bottom: none;
}

/*vertical dropdown*/
.vnav .menu-container h6 {
  padding-top: 0;
}
.vnav .menu-container .widget-title h3 {
  padding: 0;
}
.vnav .menu-container .list-text li {
  padding: 12px 0 0;
}
.vnav .menu-container .list-text li:first-child {
  padding-top: 0;
}

/*End dropdown menu*/
.em_nav {
  /*Menu top links*/
  /*menu horizontal*/
  /*menu vertical*/
  /*menu vertical - text align right*/
}
.em_nav .menu-item-depth-0 > .em-catalog-navigation > li.level0,
.em_nav .menu-item-depth-0 {
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.em_nav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.em-menu-link,
.em_nav .menu-item-depth-0 > a.em-menu-link {
  padding: 0;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.em_nav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.em-menu-link span,
.em_nav .menu-item-depth-0 > a.em-menu-link span {
  display: block;
  border: 0px solid transparent;
  padding: 18px 20px;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.em_nav .menu-item-depth-0 > .em-catalog-navigation > li.level0 a.arrow span,
.em_nav .menu-item-depth-0 a.arrow span {
  display: none;
}
.em_nav .hnav .menu-item-depth-0,
.em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 {
  margin-right: 12px;
  /*hover dropdown menu horizontal*/
}
.em_nav .hnav .menu-item-depth-0 > a,
.em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a {
  margin-right: 0;
}
.em_nav .hnav .menu-item-depth-0 > a.arrow,
.em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.arrow {
  position: absolute;
  top: 7px;
  right: -7px;
  display: none;
}
.em_nav .hnav .menu-item-depth-0 > a.arrow:before,
.em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.arrow:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0d7";
  font-size: 100%;
}
.em_nav .hnav .menu-item-depth-0 > a span,
.em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a span {
  padding: 15px 20px;
  border-width: 0;
}
.em_nav .hnav .menu-item-depth-0 > a.em-menu-link,
.em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.em-menu-link {
  min-height: 50px;
}
.em_nav .hnav .menu-item-depth-0.parent > a.em-menu-link:hover, .em_nav .hnav .menu-item-depth-0.menu-item-parent > a.em-menu-link:hover,
.em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0.parent > a.em-menu-link:hover,
.em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-item-parent > a.em-menu-link:hover {
  /*z-index:10;
  margin-bottom:-11px;
  padding-bottom:11px;
  position:relative;*/
}
.em_nav .hnav .menu-item-depth-0.parent a span, .em_nav .hnav .menu-item-depth-0.menu-item-parent a span,
.em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0.parent a span,
.em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-item-parent a span {
  /*padding-right:27px;*/
}
.em_nav .vnav .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-icon > a.em-menu-link span,
.em_nav .vnav .menu-item-depth-0.menu-icon > a.em-menu-link span {
  padding-left: 45px;
}
.em_nav .vnav .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-icon > a.em-menu-link span:before,
.em_nav .vnav .menu-item-depth-0.menu-icon > a.em-menu-link span:before {
  position: absolute;
  top: 10px;
  left: 20px;
}
.em_nav .vnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a span,
.em_nav .vnav .menu-item-depth-0 > a span {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 15px 20px;
}
.em_nav .vnav .menu-item-depth-0 > .em-catalog-navigation > li.level0.last > a span,
.em_nav .vnav .menu-item-depth-0.last > a span {
  border-bottom-width: 0px;
}
.em_nav .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a,
.em_nav .vnav.nav-text-right .menu-item-depth-0 > a {
  text-align: right;
}
.em_nav .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-item-parent > a, .em_nav .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.parent > a,
.em_nav .vnav.nav-text-right .menu-item-depth-0.menu-item-parent > a,
.em_nav .vnav.nav-text-right .menu-item-depth-0.parent > a {
  text-align: right;
  margin-right: 0;
  margin-left: 0;
}
.em_nav .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-item-parent > a.arrow, .em_nav .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.parent > a.arrow,
.em_nav .vnav.nav-text-right .menu-item-depth-0.menu-item-parent > a.arrow,
.em_nav .vnav.nav-text-right .menu-item-depth-0.parent > a.arrow {
  margin-left: 0;
  right: auto;
  left: 0;
}
.em_nav .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-icon > a span,
.em_nav .vnav.nav-text-right .menu-item-depth-0.menu-icon > a span {
  padding-right: 45px;
  padding-left: 20px;
}
.em_nav .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-icon > a span:after,
.em_nav .vnav.nav-text-right .menu-item-depth-0.menu-icon > a span:after {
  position: absolute;
  top: 10px;
  right: 20px;
}

/*======End Megamenu=================*/
/*==============Mobile view - menu====================*/
.em-menu-mobile {
  margin: 10px 0;
}

.em-menu-mobile .nav-container.em_nav,
.em-menu-mobile.megamenu-wrapper {
  background: none !important;
}

.em-menu-mobile {
  /*Menu top links*/
  /*menu horizontal*/
  /*menu vertical*/
  /*menu vertical - text align right*/
}
.em-menu-mobile .vnav {
  border: none;
}
.em-menu-mobile .menu-item-depth-0 > .em-catalog-navigation > li.level0,
.em-menu-mobile .menu-item-depth-0 {
  width: 100%;
  margin-bottom: 3px;
  margin-right: 0 !important;
}
.em-menu-mobile .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.em-menu-link,
.em-menu-mobile .menu-item-depth-0 > a.em-menu-link {
  border: 1px solid transparent;
}
.em-menu-mobile .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.em-menu-link span,
.em-menu-mobile .menu-item-depth-0 > a.em-menu-link span {
  border-width: 0px;
  background: none;
  padding: 10px 20px;
}
.em-menu-mobile .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.arrow,
.em-menu-mobile .menu-item-depth-0 > a.arrow {
  top: 4px;
}
.em-menu-mobile .menu-item-depth-0 > .em-catalog-navigation > li.level0.parent > a.em-menu-link span, .em-menu-mobile .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-item-parent > a.em-menu-link span,
.em-menu-mobile .menu-item-depth-0.parent > a.em-menu-link span,
.em-menu-mobile .menu-item-depth-0.menu-item-parent > a.em-menu-link span {
  border-right-width: 1px;
  margin-right: 32px;
}
.em-menu-mobile .hnav .menu-item-depth-0,
.em-menu-mobile .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 {
  /*hover dropdown menu*/
}
.em-menu-mobile .hnav .menu-item-depth-0 > a.arrow,
.em-menu-mobile .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.arrow {
  display: inline-block;
  right: 0;
  padding: 9px 10px !important;
  top: 0;
}
.em-menu-mobile .hnav .menu-item-depth-0 > a span,
.em-menu-mobile .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a span {
  padding: 10px 20px !important;
}
.em-menu-mobile .hnav .menu-item-depth-0 > a.em-menu-link,
.em-menu-mobile .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.em-menu-link {
  min-height: 0;
}
.em-menu-mobile .hnav .menu-item-depth-0.parent > a.em-menu-link, .em-menu-mobile .hnav .menu-item-depth-0.menu-item-parent > a.em-menu-link,
.em-menu-mobile .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0.parent > a.em-menu-link,
.em-menu-mobile .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-item-parent > a.em-menu-link {
  margin-right: 0;
}
.em-menu-mobile .hnav .menu-item-depth-0.parent > a.em-menu-link:hover, .em-menu-mobile .hnav .menu-item-depth-0.menu-item-parent > a.em-menu-link:hover,
.em-menu-mobile .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0.parent > a.em-menu-link:hover,
.em-menu-mobile .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-item-parent > a.em-menu-link:hover {
  margin-bottom: 0;
  padding-bottom: 0;
}
.em-menu-mobile .vnav .menu-item-link.fa:before {
  padding: 15px 0;
}
.em-menu-mobile .vnav .menu-item-depth-0 > .em-catalog-navigation li.parent.level0 > a.arrow,
.em-menu-mobile .vnav .menu-item-link > a.arrow {
  top: 4px;
}
.em-menu-mobile .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a,
.em-menu-mobile .vnav.nav-text-right .menu-item-depth-0 > a {
  text-align: left;
}
.em-menu-mobile .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-item-parent > a, .em-menu-mobile .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.parent > a,
.em-menu-mobile .vnav.nav-text-right .menu-item-depth-0.menu-item-parent > a,
.em-menu-mobile .vnav.nav-text-right .menu-item-depth-0.parent > a {
  text-align: left;
  margin-right: 0;
  margin-left: 0;
}
.em-menu-mobile .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-item-parent > a.arrow, .em-menu-mobile .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.parent > a.arrow,
.em-menu-mobile .vnav.nav-text-right .menu-item-depth-0.menu-item-parent > a.arrow,
.em-menu-mobile .vnav.nav-text-right .menu-item-depth-0.parent > a.arrow {
  margin-left: 0;
  right: 0;
  left: auto;
}
.em-menu-mobile .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-icon > a span,
.em-menu-mobile .vnav.nav-text-right .menu-item-depth-0.menu-icon > a span {
  padding-left: 45px;
  padding-right: 0px;
}
.em-menu-mobile .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-icon > a span:after,
.em-menu-mobile .vnav.nav-text-right .menu-item-depth-0.menu-icon > a span:after {
  left: 20px;
  right: auto;
  margin-left: 0 !important;
}
.em-menu-mobile .em_nav .menu-container .em-catalog-navigation .level0 ul,
.em-menu-mobile .em_nav.nav-container .em-catalog-navigation .level1 ul,
.em-menu-mobile .em_nav .menu-item-link.dd-menu-link .em-catalog-navigation .level0 ul,
.em-menu-mobile .menu-item-link.dd-menu-link ul.menu-container .menu-container {
  padding: 5px 10px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
}
.em-menu-mobile .menu-item-depth-1 .menu-container .em-catalog-navigation ul.level0 li a {
  padding: 8px 0 !important;
}

/*==============End Mobile view - menu====================*/
/*========Dropdown Menu Left========*/
.menu-wrapper {
  position: relative;
}

.all_categories {
  /*margin-bottom:10px;*/
}
.all_categories .menuleftText {
  border: 1px solid #cdcdcd;
  padding: 13px 20px;
  position: relative;
  cursor: pointer;
}
.all_categories .menuleftText:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0c9";
  font-size: 105%;
  margin-left: 5px;
  float: right;
  margin-top: 3px;
}
.all_categories.hidden-arrow .menuleftText:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0d8";
  font-size: 18px;
}

.cms-index-index .menuleft {
  position: static;
}
.cms-index-index .container-slideshow.container-fluid .menuleft {
  position: absolute;
}

.menuleft {
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  z-index: 99;
}
.menuleft .mega-menu {
  border: 1px solid #cdcdcd;
  margin-bottom: 20px;
}
.menuleft .vnav {
  border: none;
  padding-bottom: 0;
}
.menuleft .em-prepend-menu {
  padding: 15px 18px;
  padding-left: 47px;
  display: block;
  position: relative;
}
.menuleft .em-prepend-menu:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0fe";
  font-size: 14px;
  position: absolute;
  left: 22px;
  top: 0;
  padding: 14px 0;
  line-height: 1.55;
}
.menuleft .em-prepend-menu.em-active:before {
  content: "\f146";
}

/*========End Dropdown Menu Left========*/
/*========Free Top Menu========*/
.navbar-fixed-top .nav-container,
.navbar-fixed-top .megamenu-wrapper {
  margin: 0 auto;
}

/*========End Free Top Menu========*/
/*Menu Right To Left ===============*/
.em-rtl {
  /*Menu left - right*/
}
.em-rtl .em_nav a.arrow {
  right: auto;
  left: 0;
}
.em-rtl a.arrow:before {
  content: "\f0d9";
}
.em-rtl .nav-right a.arrow:before {
  content: "\f105";
}
.em-rtl .em-menu-mobile a.arrow:before {
  content: "\f107";
}
.em-rtl .em-top-menu {
  float: right;
  text-align: right;
}
.em-rtl .hnav .menu-item-depth-0 {
  float: right;
  text-align: right;
}
.em-rtl .em_nav .hnav .menu_custom.menu-item-depth-0 {
  border-right-width: 0px;
  border-left-width: 1px;
  border-left-style: solid;
}
.em-rtl .em_nav .hnav .menu_custom.menu-item-depth-0 > a span:after {
  float: left;
}
.em-rtl .hnav .menu-item-depth-0,
.em-rtl .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 {
  margin-right: 12px;
}
.em-rtl .hnav .menu-item-depth-0 > a,
.em-rtl .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a {
  margin-right: 0;
}
.em-rtl .hnav .menu-item-depth-0 > a.arrow,
.em-rtl .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a.arrow {
  left: 0px;
  right: auto;
}
.em-rtl .hnav .menu-item-depth-0 > a span,
.em-rtl .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a span {
  padding: 15px 20px;
  border-width: 0;
}
.em-rtl .em-menu-mobile .vnav.nav-text-right .menu-item-link.fa:before,
.em-rtl .menu-item-link.fa:before {
  left: auto;
  right: 10px;
}
.em-rtl .em-menu-mobile .vnav.nav-text-right .menu-item-link.fa > .em-menu-link span, .em-rtl .menu-item-link.fa > .em-menu-link span {
  padding-left: 18px !important;
  padding-right: 35px !important;
}
.em-rtl .em-catalog-navigation li:hover > ul,
.em-rtl .em-catalog-navigation li.hover > ul {
  left: -150px;
  right: auto;
}
.em-rtl .em-catalog-navigation.horizontal > li:hover > ul {
  left: auto;
  right: 0;
}
.em-rtl .hnav .menu-item-depth-0:hover > .menu-container,
.em-rtl .hnav .menu-item-depth-0.hover > .menu-container {
  left: auto;
  right: 0;
}
.em-rtl .nav-right .menu-item-depth-0 .menu-item-link:hover > .menu-container,
.em-rtl .nav-right .menu-item-depth-0 .menu-item-link.hover > .menu-container,
.em-rtl .nav-right .em-catalog-navigation li:hover > ul,
.em-rtl .nav-right .em-catalog-navigation li.hover > ul,
.em-rtl .vnav.nav-right .menu-item-depth-0:hover > .menu-container,
.em-rtl .vnav.nav-right .menu-item-depth-0.hover > .menu-container {
  right: auto;
  left: 100%;
}
.em-rtl .menu-item-depth-0 .menu-item-link > .menu-container,
.em-rtl .hnav .menu-item-depth-0 > .menu-container,
.em-rtl .vnav .menu-item-depth-0 > .menu-container,
.em-rtl .em-catalog-navigation li > ul,
.em-rtl .menu-item-depth-0 > .menu-container {
  right: -9999px;
  left: auto;
}
.em-rtl .menu-item-depth-0 .menu-item-link:hover > .menu-container,
.em-rtl .menu-item-depth-0 .menu-item-link.hover > .menu-container,
.em-rtl .hnav .menu-item-depth-0 .menu-item-link:hover > .menu-container,
.em-rtl .hnav .menu-item-depth-0 .menu-item-link.hover > .menu-container,
.em-rtl .vnav .menu-item-depth-0:hover > .menu-container,
.em-rtl .vnav .menu-item-depth-0.hover > .menu-container {
  left: auto;
  right: 100%;
}
.em-rtl .em-menu-mobile .vnav .menu-item-depth-0 > .menu-container, .em-rtl .em-menu-mobile .hnav .menu-item-depth-0 > .menu-container, .em-rtl .em-menu-mobile .menu-item-link > .menu-container, .em-rtl .em-menu-mobile .em-catalog-navigation li > ul, .em-rtl .em-menu-mobile .menu-item-depth-0 .menu-item-link > .menu-container {
  display: none;
}
.em-rtl .em-menu-mobile .menu-item-depth-0 > .em-catalog-navigation > li.level0.parent > a.em-menu-link span, .em-rtl .em-menu-mobile .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-item-parent > a.em-menu-link span, .em-rtl .em-menu-mobile .menu-item-depth-0.parent > a.em-menu-link span, .em-rtl .em-menu-mobile .menu-item-depth-0.menu-item-parent > a.em-menu-link span {
  border-right-width: 0px;
  margin-right: 0px;
  border-left-width: 1px;
  margin-left: 32px;
}
.em-rtl .em-catalog-navigation li > ulz
.menu-item-link > .menu-container {
  text-align: right;
}
.em-rtl .menu-title .option {
  float: left;
}
.em-rtl .em-menu-mobile .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a, .em-rtl .em-menu-mobile .vnav.nav-text-right .menu-item-depth-0 > a {
  text-align: right;
}
.em-rtl .em-menu-mobile .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.menu-item-parent > a.arrow, .em-rtl .em-menu-mobile .vnav.nav-text-right .menu-item-depth-0 > .em-catalog-navigation > li.level0.parent > a.arrow, .em-rtl .em-menu-mobile .vnav.nav-text-right .menu-item-depth-0.menu-item-parent > a.arrow, .em-rtl .em-menu-mobile .vnav.nav-text-right .menu-item-depth-0.parent > a.arrow {
  right: auto;
  left: 0;
}

/*End Menu Right To Left ===============*/
/*layout 4*/
.em-rtl .em-fixed-sidebar {
  left: auto;
  right: 0;
}

/*Menu Admin Toolbar*/
.em-admintoolbar {
  background: #45484d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

.em-admintoolbar {
  position: fixed;
  left: 0;
  right: auto !important;
  bottom: auto !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 999;
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 10px #a3a3a3;
  box-shadow: 0 -2px 10px #a3a3a3;
}
.em-admintoolbar .container {
  width: 100%;
}
.em-admintoolbar .nav-container.em_nav {
  background: none !important;
  float: left;
  margin-left: 40px;
}
.em-admintoolbar .nav-container.em_nav ul li {
  float: left;
  padding: 8px 10px;
  position: relative;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.em-admintoolbar .nav-container.em_nav ul li a {
  color: #fff;
  font: 600 12px/1.35 Helvetica Neue, Helvetica, Arial, sans-serif;
}
.em-admintoolbar .nav-container.em_nav .em-admintoolbar-level0 ul {
  position: absolute;
  left: 0;
  top: 32px;
  display: none;
  width: 200px;
}
.em-admintoolbar .nav-container.em_nav .em-admintoolbar-level0 ul li {
  clear: both;
}
.em-admintoolbar .nav-container.em_nav .em-admintoolbar-level0:hover {
  background: #000;
}
.em-admintoolbar .nav-container.em_nav .em-admintoolbar-level0:hover ul {
  display: block;
  background: #000;
}
.em-admintoolbar .em-catalog-navigation li a {
  padding: 8px 20px;
}
.em-admintoolbar .em-catalog-navigation li.parent > a.arrow {
  padding: 5px 10px !important;
}
.em-admintoolbar .em-catalog-navigation ul {
  min-width: 200px;
}

#btn-em-admintoolbar {
  z-index: 99;
  padding: 6px;
  border: 1px solid #000;
  -webkit-box-shadow: 0 0 10px #999999;
  box-shadow: 0 0 10px #999999;
  background-color: #000;
  color: #fff;
  font-size: 0;
  display: inline-block;
  text-indent: -99999px;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  text-indent: 0;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 28px;
}
#btn-em-admintoolbar:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00d";
  font-size: 17px;
}

.has-admin-toolbar {
  margin-top: 32px;
}

.em-admin-toolbar-logo {
  float: right;
  color: #fff;
  padding: 4px 10px;
  background: #ff7200;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  margin-right: 10px;
}
.em-admin-toolbar-logo a {
  position: absolute;
  left: 10px;
  top: 4px;
}
.em-admin-toolbar-logo span {
  position: relative;
}
.em-admin-toolbar-logo span:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f007";
  font-size: 17px;
  margin-left: 5px;
}

/*Menu Product*/
.menu-container .ratings .amount a {
  display: inline-block;
}

/*EM Menu Mobile*/
#em-mheader {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: static;
}
#em-mheader #em-mheader-top {
  /*display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;*/
}
#em-mheader .em-wrapper-top {
  background-color: #121212;
  margin: 0 -10px;
  padding: 2rem 1rem;
}
#em-mheader .em-wrapper-top a {
  color: #fff;
}
#em-mheader .em-logo .logo {
  padding: 0.5rem 0;
}
#em-mheader .em-top-search {
  width: 100% !important;
  float: right;
  padding-right: 80px;
  margin: 1rem 0;
}
#em-mheader .em-top-search .form-search {
  border: none;
}
#em-mheader .em-top-search .form-search input.input-text {
  height: 32px;
  line-height: 26px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#em-mheader .em-top-search .form-search button.button {
  font-size: 0;
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
  text-indent: 0;
  padding: 9px 10px;
  top: 0;
  right: 0;
}
#em-mheader .em-top-search .form-search button.button:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  font-size: 12px;
}
#em-mheader .em-top-search .form-search button.button span {
  padding: 0;
}
#em-mheader .em-top-cart {
  position: absolute;
  right: 50px;
  top: 10px;
  width: 32px;
  height: 32px;
}
#em-mheader .em-top-cart .em-amount-topcart {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  width: 32px;
}
#em-mheader .em-top-cart .em-amount-topcart:after {
  content: "";
  display: none;
}
#em-mheader .em-top-cart .em-amount-topcart:before {
  content: "\e835";
  font-family: 'maki', sans-serif;
  width: 32px;
  height: 32px;
  font-size: 1.5rem;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: inline-block;
  padding: 11px 5px 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#em-mheader .em-top-cart .em-amount-topcart .em-topcart-text {
  display: none;
}
#em-mheader .em-top-cart .em-amount-topcart .em-topcart-qty {
  position: absolute;
  left: 27%;
  top: -6px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: 0px 4px;
  font-size: 9px;
}
#em-mheader .em-top-cart .topcart-popup {
  top: 47px;
}
#em-mheader .top-header-link {
  text-align: center;
}
#em-mheader .top-header-link a.fa:before {
  font-size: 16px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid;
  border-radius: 50%;
  display: inline-block;
  background: transparent;
  margin-bottom: 10px;
}
#em-mheader .top-header-link a.fa span {
  display: inline-block;
  width: 100%;
}

#em-mheader-wrapper-menu.active {
  position: fixed;
  top: 0px;
  right: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}

#em-mheader-menu-icon {
  font-size: 24px;
  padding: 3px 5px;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  right: 10px;
  top: 10px;
}

#em-mheader-wrapper-menu:before {
  width: 0%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
}

#em-mheader-wrapper-menu.active:before {
  width: 100%;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#em-mheader-wrapper-menu.active #em-mheader-menu-icon {
  right: 85%;
  margin-right: 10px;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#em-mheader-menu-content {
  width: 0;
  display: inline-block !important;
  opacity: 0;
  position: absolute;
  height: 100%;
  overflow: hidden;
}

#em-mheader-menu-content.show {
  width: 85%;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
  background: #f9f9f9;
  z-index: 99;
  right: 0;
  padding: 0 10px 10px;
  opacity: 1;
  overflow-y: auto;
  visibility: visible;
}

#em-mheader-menu-content #em-mega-menu {
  clear: both;
}

.em-menu {
  clear: both;
}

.menu-style02 .menu-container .em-catalog-navigation ul.level0 li a.em-menu-link,
.menu-style02 .menu-container .em-catalog-navigation > li > a.em-menu-link,
.menu-style02 .menu-container .menu-item-link a.em-menu-link {
  padding: 6px 0;
  position: relative;
}
.menu-style02 .menu-container .em-catalog-navigation ul.level0 li a.em-menu-link:before,
.menu-style02 .menu-container .em-catalog-navigation > li > a.em-menu-link:before,
.menu-style02 .menu-container .menu-item-link a.em-menu-link:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "-";
  font-size: 100%;
  margin-right: 5px;
}
.menu-style02 .menu-container .menu-container li > a.em-menu-link {
  border: 0;
}
.menu-style02 .menu-container .zoom-image {
  margin-bottom: 5px;
}

.label-hot-menu-top > a.em-menu-link span:after, .label-new-menu-top > a.em-menu-link span:after {
  content: "Hot";
  font-size: 75%;
  padding: 1px 3px;
  background: red;
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  top: -1px;
  right: 10px;
  z-index: 1;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #fff;
}

.label-hot-menu-top:hover > a.em-menu-link span:after, .label-new-menu-top:hover > a.em-menu-link span:after {
  top: -20px;
  opacity: 0;
}

.label-hot-menu-top:hover > a.em-menu-link span:before, .label-new-menu-top:hover > a.em-menu-link span:before {
  top: -10px;
  opacity: 0;
}

.label-new-menu-top > a.em-menu-link span:after {
  /*content: "New";*/
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0e7";
  font-size: 12px;
}

.label-new-menu > a.em-menu-link:after {
  content: "New";
  font-size: 75%;
  padding: 0px 3px;
  background: red;
  margin: 0 5px;
  display: inline-block;
  position: relative;
  top: -2px;
  color: #fff;
}

.label-sale-menu > a.em-menu-link:after {
  content: "Sale";
  font-size: 75%;
  padding: 0px 3px;
  background: red;
  margin: 0 5px;
  display: inline-block;
  position: relative;
  top: -2px;
  color: #fff;
}

.label-hot-menu > a.em-menu-link:after {
  content: "Hot";
  font-size: 75%;
  padding: 0px 3px;
  background: red;
  margin: 0 5px;
  display: inline-block;
  position: relative;
  top: -2px;
  color: #fff;
}
