/**
 * OneStepCheckout by EMThemes
 *
 * Based on Magento 1.7.0.0 source code
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2012 EMThemes. (http://www.emthemes.com)
 * @license     Commercial License. Granted for authorized users only.
 */

.opc-col .step-title h2{ margin-bottom:0;}
.opc-col .step-title .number{ float:left; padding-right:5px;}
.opc-col .step-title .number:after { content:'.'; clear:both; height:0; overflow:hidden; zoom:1 }
.opc-col .step-title{ margin-bottom:15px;}
#checkout-step-billing .form-list li.control{margin-bottom: 8px;margin-top: 7px;}
.opc-col1, .opc-col2{ width:33%; float:left; padding:0 1%; }
.opc-col1{padding-left:0}
.opc-col3 {width:33.7%; float:left; padding-left:1%}
.opc-col1 { margin-left:0 }
.opc-col .tool-tip{left:0%}
.adapt-0 .opc-col .tool-tip{left:0%; top:230px !important}
.opc-col .section { margin-bottom:40px; position:relative;}
.opc-col .section#opc-review,
.opc-col .section#opc-shipping_method { overflow:hidden}

.opc-col #co-payment-form dt{ padding:1px 0}

.opc-col .step-title h2 {padding:0;}
.opc-col3 .step-title h2{}
.opc-1sc p.required{clear:both; text-align:right;}

.opc-col .form-list div.fields,
.opc-col .form-list .field { width:100%;margin-bottom:5px; }
.opc-col .form-list .input-box { width:100% }

.opc-col .form-list input.input-text,.opc-col .discount-form .input-box input { width:100%!important;}

.opc-col .form-list select { width:100%; }
.opc-col .form-list li.wide .input-box { width:100% }
/*.opc-col .form-list li.wide input.input-text { width:94.5% !important;}*/
.opc-col .form-list li.wide select {  }


.opc-col .discount { margin-top:10px }
.opc-col .discount .label{ font-weight:normal; margin-bottom:0;}

#opc-review .buttons-set { padding:0; border:0; margin:1em 0 0 }

/* hide checkbox "Use Billing Address" */
#opc-shipping .control { display:none !important }

/* hide all continue buttons except review's */
.opc-col .buttons-set { display:none !important }
#opc-review .buttons-set { display:block !important }
.opc-1sc #opc-login p{margin-bottom:16px}
#opc-login p a {text-transform:uppercase; }
#opc-login p a:hover{}
#opc-login-popup { position:fixed; width:300px; margin:0 auto; z-index:9999; background:#fff; padding:10px 20px; text-align:left }
#opc-login-popup-overlay { display:block; position:fixed; width:100%; height:100%; top:0; left:0; z-index:9998; background:#000; opacity:0.7; filter: alpha(opacity=75); }
#opc-login-popup .close-btn { background:url(../images/btn_popup-close.png) no-repeat; width:38px; height:38px; position:absolute;; top:-16px; right:-16px; text-indent:-99999px }
#opc-login-popup .form-list .input-box { width:100% }
#opc-login-popup .form-list input.input-text { width:100% !important; }
#opc-login-popup p.required { padding-top:0 }


.opc-col .discount-form .input-box input{ float:left; }
.opc-col .form-list li{margin:0;}
.opc-col .form-list li.control label{ text-transform:none;}
.opc-col .form-list li.wide{margin-bottom:8px;}
.opc-col .form-list #billing-new-address-form li.control{}
.opc-col .form-list #billing-new-address-form{margin-bottom:0px}
.opc-col .form-list li.control{}
.opc-col input.radio{margin-top:0px; float:left; margin-right:5px;}
.opc-col #checkout-step-payment .form-list label{margin-bottom:8px;margin-top:5px;}
#opc-login-popup .buttons-set button.button{float:right;}
#opc-login-popup .buttons-set .f-left{margin-top:6px;}
.opc-col #opc-payment .sp-methods .form-list{ padding:0;}

.opc-col #checkout-step-payment .sp-methods dt{margin:0;}
.opc-col .sp-methods input.cvv{margin:3px 0 0 0;}
.v-fix input.cvv{width:148px !important}
.opc-col .cvv-what-is-this{float:left;margin:0;}

.opc-col #opc-review .buttons-set{position:relative;margin:0; width:100%;}

.opc-col #opc-review #checkout-review-submit .buttons-set .please-wait{clear:both;white-space:nowrap; position:static; margin-bottom:10px}
.opc-col #review-buttons-container.buttons-set{float:left}
.discount-form .input-box{clear:both;}
.discount-form .input-box .validation-advice{margin-top:0;}
.opc-col .discount button.button,
#opc-review .buttons-set button.button{float:left !important; width:100%;}
.opc-col .discount button.button span,
.opc-col #opc-review .buttons-set button.button span{ float:none; display:block}


#opc-payment{clear:both}
.opc-col .gift-messages-form .form-list .input-box,
.gift-messages-form .form-list li.wide textarea{width:97%}
.opc-col .discount button.button{clear:both; float:left; margin-top:10px}

.opc-col #checkout-review-table-wrapper{
	margin:0 -21px;
}
.opc-col #checkout-review-table {
display: block;
overflow-x: auto;
}

