.cms-index-index .em-wrapper-main .container-main {
  padding-top: 0px;
}

.em-wrapper-header .em-fixed-top.navbar-fixed-top .em-menu-hoz {
  width: 100%;
}

.em-slideshow {
  margin-bottom: 20px;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  text-align: left;
  left: 20%;
  top: 14%;
}
.em-slideshow h2 {
  border: 0;
}
.em-slideshow h2:after, .em-slideshow h2:before {
  display: none;
}

.products-grid .product-item:hover {
  padding-bottom: 5px;
  margin-bottom: 0;
}

.products-grid .product-item:hover .bottom {
  z-index: 4;
}

.rating-box {
  background: url(../images/bkg_rating.png) 0 100% repeat-x;
}

.rating-box .rating {
  background: url(../images/bkg_rating.png) 0 0 repeat-x;
}

.em-inner-product,
.widget-products {
  text-align: left;
}

#em-mheader .em-top-search .form-search input.input-text {
  border-width: 1px;
  border-style: solid;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #fca919;
}
.em-color span.emColorStyle02 {
  background: #0ea632;
}
.em-color span.emColorStyle03 {
  background: #cc2864;
}
.em-color span.emColorStyle04 {
  background: #e0b799;
}
