.em-slideshow {
  margin-bottom: 0;
}
.em-slideshow h1, .em-slideshow h3, .em-slideshow h4, .em-slideshow h2 {
  color: #ffffff;
}
.em-slideshow h3:before, .em-slideshow h3:after, .em-slideshow h2:before, .em-slideshow h2:after {
  display: none;
}
.em-slideshow .owl-theme .owl-controls .owl-buttons div {
  top: 44%;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  left: 30%;
  top: 37%;
  width: 50%;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-0 {
  left: 42%;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-2 {
  left: 0;
}

.em-wrapper-ads-12 {
  border: 0 !important;
  margin-bottom: 20px;
}

.em-wrapper-blog {
  overflow: hidden;
}
.em-wrapper-blog.em-line-01 {
  margin-bottom: 0;
}

.em-from-our-blog {
  padding-bottom: 33px;
}

.em-wrapper-area04 .owl-theme .owl-controls .owl-buttons div.owl-prev {
  top: auto;
  right: auto;
  left: 10px;
  bottom: 0;
}
.em-wrapper-area04 .owl-theme .owl-controls .owl-buttons div.owl-next {
  top: auto;
  right: auto;
  left: 50px;
  bottom: 0;
}

.slider-product-img .em-widget-title {
  text-align: center;
}

.em-footer-style09 .em-footer-info-bottom {
  margin: 20px 0 35px;
  padding: 0 0 10px;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.em-footer-style09 .em-footer-info {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 20px;
}
.em-footer-style09 .em-wrapper-newsletter .block-subscribe input.input-text {
  border-width: 1px;
}
.em-footer-style09 .em-footer-bottom {
  padding: 30px 0 10px !important;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #87ab03;
}
.em-color span.emColorStyle02 {
  background: #f58e2f;
}
.em-color span.emColorStyle03 {
  background: #dc0604;
}
.em-color span.emColorStyle04 {
  background: #2cc067;
}
