.em-wrapper-footer address {
  float: none !important;
  text-align: center;
}

.em-header-style27 .line-top {
  border: 0;
}
.em-header-style27 .em_nav .hnav .menu-item-depth-0 > a span,
.em-header-style27 .em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a span {
  border-top-width: 0;
}

.em-footer-style09 .em-footer-info-bottom {
  margin: 20px 0 35px;
  padding: 0 0 10px;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.em-footer-style09 .em-area-footer02 {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.em-footer-style09 .em-area-footer02 .em-wrapper-social {
  display: inline-block;
}
.em-footer-style09 .em-footer-info {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 20px;
}
.em-footer-style09 .em-footer-bottom {
  padding: 30px 0 10px !important;
}
.em-footer-style09 .em-footer-bottom address {
  float: none !important;
  text-align: center;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #f9ad7b;
}
.em-color span.emColorStyle02 {
  background: #a5c0b1;
}
.em-color span.emColorStyle03 {
  background: #eba2c6;
}
.em-color span.emColorStyle04 {
  background: #88a2cd;
}
