.em-wrapper-content {
  padding-left: 280px !important;
  padding-right: 0;
}

.banner-img {
  position: relative;
}

.em-slideshow {
  margin-bottom: 10px;
}

.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  left: 15%;
  top: 25%;
  width: 70%;
}

.col-custom .banner-img {
  display: block;
}
.col-custom .banner-img .desc {
  position: absolute;
  color: #fff;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  left: 10%;
  padding: 0 1rem;
  top: 10%;
  margin: 0;
  text-transform: uppercase;
}
.col-custom .banner-img .desc a.button-link {
  float: none;
  display: inline-block;
  height: 0;
  padding: 0;
  font-size: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.col-custom .banner-img .desc.pos1 {
  width: 100%;
  left: 0;
  text-align: center;
}
.col-custom .banner-img .desc.pos2 {
  width: 100%;
  left: 0;
  top: auto;
  bottom: 10%;
  text-align: center;
}
.col-custom .banner-img:hover {
  background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
  background: linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
}
.col-custom .banner-img:hover img {
  opacity: 0.5;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.col-custom .banner-img:hover .desc {
  top: 20%;
  cursor: pointer;
}
.col-custom .banner-img:hover .desc .button-link {
  height: 100%;
  padding: 10px 25px;
  font-size: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
}
.col-custom .banner-img:hover .desc.pos2 {
  top: auto;
  bottom: 20%;
}

.cms-index-index .em-wrapper-main .container-main {
  padding-top: 0;
}

.wrapper-breadcrums {
  padding-left: 1rem;
}

.em-footer-style09 .footer-info-top {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 4rem;
}
.em-footer-style09 .em-footer-info-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.em-footer-style09 .em-box-bkg {
  border-style: dotted;
  border-width: 1px;
  background-color: transparent;
  margin-bottom: 4rem;
}
.em-footer-style09 .em-wrapper-newsletter .block-subscribe input.input-text {
  border-width: 1px;
}
.em-footer-style09 .em-footer-address {
  text-align: center;
}

/*menu default*/
.nav-container .vnav .menu-item-depth-0,
.nav-container .vnav .menu-item-depth-0 > .em-catalog-navigation > li.level0,
.nav-container .hnav .menu-item-depth-0,
.nav-container .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 {
  float: none;
  width: 100%;
  margin-right: 0;
}
.nav-container .vnav .menu-item-depth-0 > a span,
.nav-container .vnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a span,
.nav-container .hnav .menu-item-depth-0 > a span,
.nav-container .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a span {
  padding-left: 0;
  border-bottom-width: 1px;
}
.nav-container .vnav .menu-item-depth-0:hover > ul,
.nav-container .vnav .menu-item-depth-0 > .em-catalog-navigation > li.level0:hover > ul,
.nav-container .hnav .menu-item-depth-0:hover > ul,
.nav-container .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0:hover > ul {
  left: 100%;
  top: -1px;
}

.em-rtl .nav-container .hnav .menu-item-depth-0:hover > ul,
.em-rtl .nav-container .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0:hover > ul {
  left: auto;
  right: 100%;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #afc030;
}
.em-color span.emColorStyle01:before {
  background: #ffffff;
}
.em-color span.emColorStyle01:after {
  background: #000000;
}
.em-color span.emColorStyle02 {
  background: #e76f32;
}
.em-color span.emColorStyle02:before {
  background: #ffffff;
}
.em-color span.emColorStyle02:after {
  background: #000000;
}
.em-color span.emColorStyle03 {
  background: #f1b737;
}
.em-color span.emColorStyle03:before {
  background: #ffffff;
}
.em-color span.emColorStyle03:after {
  background: #000000;
}
.em-color span.emColorStyle04 {
  background: #446aa7;
}
.em-color span.emColorStyle04:before {
  background: #ffffff;
}
.em-color span.emColorStyle04:after {
  background: #000000;
}

/*custom padding*/
.row-custom {
  margin-left: -5px;
  margin-right: -5px;
}

.container-fluid-custom {
  overflow: hidden;
  padding: 0;
}

.col-custom {
  padding: 0px 5px 10px;
}
