.cms-index-index .em-wrapper-main .container-main {
  padding-top: 0;
}

.em-slideshow {
  margin-bottom: 50px;
}
.em-slideshow h1, .em-slideshow h2, .em-slideshow h3, .em-slideshow h4 {
  color: #fff;
}
.em-slideshow .button-link {
  border-width: 2px;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  width: 70%;
  left: 14%;
  top: 23%;
}
.em-slideshow .owl-theme .owl-controls .owl-buttons div {
  top: 41%;
}

.em-wrapper-ads-17 {
  background-image: url(../images/media/bkg-parallax.jpg);
}

.em-wrapper-area05 {
  margin-bottom: 50px;
}
.em-wrapper-area05 .img-banner,
.em-wrapper-area05 .em-wrapper-ads-18,
.em-wrapper-area05 .em-wrapper-banners {
  margin-bottom: 0;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #be5960;
}
.em-color span.emColorStyle02 {
  background: #0dc2c4;
}
.em-color span.emColorStyle03 {
  background: #6db088;
}
.em-color span.emColorStyle04 {
  background: #aa916a;
}
