.cms-index-index .em-header-style35 {
  position: absolute;
  z-index: 3;
  width: 100%;
}

.cms-index-index .em-header-style35 .em-header-top {
  background: transparent !important;
}

.cms-index-index .em-header-style35 .em-header-bottom {
  background: transparent;
}

.cms-index-index .em-wrapper-header {
  background: transparent;
}

.em-slideshow {
  margin-bottom: 20px;
}
.em-slideshow h1, .em-slideshow h3, .em-slideshow h4, .em-slideshow h2 {
  color: #ffffff;
}
.em-slideshow h3:before, .em-slideshow h3:after, .em-slideshow h2:before, .em-slideshow h2:after {
  display: none;
}
.em-slideshow .owl-theme .owl-controls .owl-buttons div {
  top: 44%;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  left: 13%;
  top: 37%;
  width: 60%;
  text-align: left;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-2 {
  left: 13%;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-0 {
  left: 53%;
  width: 50%;
}

.em-wrapper-ads-tes {
  background: #ececec;
  padding-top: 50px;
}
.em-wrapper-ads-tes .em-wrapper-ads-18 .em-ads-item {
  padding-bottom: 0;
}
.em-wrapper-ads-tes .em-wrapper-ads-18 .em-ads-item .em-ads-author span {
  display: block;
}

.em-wrapper-ads-17 {
  background-image: url(../images/media/bkg-parallax.jpg);
}

.em-grid-00 .em-widget-title {
  text-align: center;
}

.em-wrapper-area05 {
  border-top-width: 1px;
  border-top-style: solid;
}

.em-wrapper-ads-13 {
  padding: 10px 0;
}
.em-wrapper-ads-13 .icon-banner-left {
  padding: 0;
  margin-right: 10px;
  border: 0;
  font-size: 0;
}
.em-wrapper-ads-13 .icon-banner-left .fa:before {
  font-size: 3.4rem;
  line-height: 1.4;
}
.em-wrapper-ads-13 .text-box {
  text-align: center;
  margin: 0;
  padding: 20px;
  border-left-width: 1px;
  border-left-style: solid;
}
.em-wrapper-ads-13 .text-box:first-child {
  border-left: 0;
}
.em-wrapper-ads-13 .text-box-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.rating-box {
  background: url(../images/bkg_rating.png) 0 0 repeat-x;
}

.rating-box .rating {
  background: url(../images/bkg_rating.png) 0 100% repeat-x;
}

.em-footer-style17 .four-block-middle {
  margin-bottom: 20px;
}
.em-footer-style17 .em-footer-bottom {
  padding: 40px 0 20px !important;
}
.em-footer-style17 .em-newsletter .block-subscribe input.input-text {
  margin-bottom: 30px;
  height: 60px;
  line-height: 60px;
}
.em-footer-style17 .em-newsletter .block-subscribe .actions button.button {
  height: 40px;
  width: 80px;
  border-left: 1px solid #cdcdcd;
  top: 10px;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #ff9000;
}
.em-color span.emColorStyle02 {
  background: #cc0000;
}
.em-color span.emColorStyle03 {
  background: #202020;
}
.em-color span.emColorStyle04 {
  background: #0670aa;
}
