/*$max-content-width: value screen*/
/*Category product*/
/*button style*/
.em-slideshow {
  margin-bottom: 20px;
}
.em-slideshow h1, .em-slideshow h3, .em-slideshow h4, .em-slideshow h2 {
  color: #434343;
}
.em-slideshow h3:before, .em-slideshow h3:after, .em-slideshow h2:before, .em-slideshow h2:after {
  display: none;
}
.em-slideshow .owl-theme .owl-controls .owl-buttons div {
  top: 44% !important;
  -moz-border-radius: 0% !important;
  -webkit-border-radius: 0% !important;
  border-radius: 0% !important;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  left: 60%;
  top: 25%;
  width: 40%;
  text-align: left;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-0 {
  left: 13%;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-2 {
  left: 25%;
  width: 50%;
  text-align: center;
}

.em-header-style33 .em_nav .hnav .menu-item-depth-0,
.em-header-style33 .em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 {
  margin: 0;
}
.em-header-style33 .em_nav .hnav .menu-item-depth-0 > a span,
.em-header-style33 .em_nav .hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a span {
  margin-right: -1px;
}

.em-wrapper-header .em-fixed-top.navbar-fixed-top .em-search-sticky:before {
  display: none;
}

.em-wrapper-ads-19 .em-box .em-ads-title {
  font-weight: 700;
}
.em-wrapper-ads-19 .em-box a.shop-all {
  text-transform: capitalize;
  display: inline-block;
  margin: 11px 0 10px;
}

.em-footer-style19 .em-footer-info {
  padding-top: 50px;
}

.rating-box {
  background: url(../images/bkg_rating.png) 0 0 repeat-x;
}

.rating-box .rating {
  background: url(../images/bkg_rating.png) 0 100% repeat-x;
}

.em-wrapper-ads-19 .em-box {
  margin-bottom: 20px;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #fea129;
}
.em-color span.emColorStyle02 {
  background: #cc0000;
}
.em-color span.emColorStyle03 {
  background: #202020;
}
.em-color span.emColorStyle04 {
  background: #10ad70;
}
