.em-main-container .em-two-tabs .em-tabs,
.em-main-container .em-wrapper-ads-15,
.em-main-container .em-line-01 {
  margin-bottom: 20px;
}

.em-wrapper-brands.em-line-01 {
  margin-bottom: 50px;
}

.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  top: 45%;
}

.em-wrapper-area11 .products-list > .item {
  padding: 0 0 1rem;
  margin-bottom: 2rem;
}
.em-wrapper-area11 .products-list > .item a.product-image {
  margin-bottom: 1rem;
}
.em-wrapper-area11 .products-list > .item.last {
  padding: 0;
  margin: 0;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #be5960;
}
.em-color span.emColorStyle02 {
  background: #cc0000;
}
.em-color span.emColorStyle03 {
  background: #202020;
}
.em-color span.emColorStyle04 {
  background: #ff9000;
}
