.em-wrapper-ads-26 .banner-title{
	left:0;bottom:0;width:100%;text-transform:uppercase;
	font-size:16px; padding:15px 30px; position:absolute; z-index:1;
	&:before{
		content:"";
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
		top:0;
		opacity: 0.7;
		filter: alpha(opacity=50);
		z-index:-1;
	}
}
/*===============RTL=================*/
.em-rtl{
	
}