.em-wrapper-product-28{
	.em-widget-title{
		text-align:center;
	}
	.line-right{
		border:0;
	}
	.line-left{
		border:0;
	}
	.em-inner-product{
		margin:0 -10px;
	}
	.em-item-big{
		.item{
			margin:0; width:100%;
			.product-shop .desc{ display:none}
		}
	}
	.products-list{
		.item{
			margin:0 0 16px; border:0; padding:0;
			&.last{ margin-bottom:0;}
			.product-shop{
				width:calc(100% - 230px); 
				width: -moz-calc(100% - 230px); 
				width: -webkit-calc(100% - 230px); 
				width: -o-calc(100% - 230px); 
				padding:0;
			}
			a.product-image{
				margin-bottom:1rem;
				/*&.loading-process{
					width:210px;
				}*/
			}
			
		}
	}
	&.em-wrapper-product-list-16{
		.products-list{
			padding:0 2rem 8.7rem;
			.item{
				padding:2.9rem 0 1.9rem;
			}			
		}
		.owl-theme .owl-controls .owl-buttons div{
			&.owl-prev{
				top:auto;
				bottom:3rem;
				right: auto;
				left: 3rem;
			}
			&.owl-next{
				top:auto;
				bottom:3rem;
				right: auto;
				left: 7rem;
			}
		}
	}
}

/*===============RTL=================*/
.em-rtl{
	.em-wrapper-product-28{
	}
}