.em-wrapper-ads-22{	
	padding:50px 0 20px;
	&.em-line-01{ margin-bottom:0}
	background:#fff;
	.em-ads-item{
		position:relative;
		@include border-radius(0);
		.em-ads-img{
			@include border-radius(100%);
			margin-bottom:1rem;
			img{
				@include border-radius(100%);
				display:inline-block;
			}
		}
		.em-ads-des{font-style: italic;}
		.fa{
			font-size:300%;
			margin-bottom:1rem;
		}
		.em-ads-author span{
			font-style:italic; clear:both; display:block;
			&:first-child{
				font-weight:bold;
			}
		}
	}
	.owl-theme .owl-controls .owl-pagination{
		margin:0;
		span{
			border-width: 0;
			width: 10px !important;
			height: 10px !important;
			margin: 0 5px !important;
		}
	}
}


/*===============RTL=================*/
.em-rtl{
	
}