.em-wrapper-ads-23{	
	.banner-title{ font-size:16px; color:#434343; padding:7px 30px; background:#fff; border-bottom:1px solid #b8b7b7; position:absolute; bottom:10px; left:10px;}
}


/*===============RTL=================*/
.em-rtl{
	
}