.em-wrapper-ads-25{
	background:#c7202c;
	color:#fff;
	padding:50px 0 25px;
	.em-logo-location{
		 a img{@include border-radius(50%);}
	}
	.location-content{
		span.h1{ color:#fff; font-size:48px; position:relative; padding-bottom:10px; margin-bottom:20px; display:inline-block;
			&:after{
				content:''; width:50px; position:absolute; left:0; bottom:0; background:#fff; height:3px;
			}
		}
		p.h4{ font-weight:normal; margin-bottom:40px;}
		ul li{ 
			padding:15px 0;
			a{ color:#fff; position:relative;
				&:before{ @include font-awesome('\f041', 16px); margin-right:3px}
			}
		}
	}
}


/*===============RTL=================*/
.em-rtl{
	
}