.em-wrapper-ads-20{	
	background-image: url(../images/media/bkg-parallax.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	background-size: cover !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	filter: inherit;
	padding:$space_small_block * 4 0;
	text-align:center;
	.em-wrapper-ads-item{ color:#fff;
		h2{padding:10px 0}
		.em-ads-item img{ border:1px solid #fff; @include border-radius(50%);
				box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
				text-shadow: none;
				transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
				@include transition1;
				outline: 1px solid;
				outline-color: transparent;
			&:hover{
				border: 1px solid #fff;
				box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
				outline-color: rgba(255, 255, 255, 0);
				outline-offset: 15px;
				@include border-radius(0);
				outline: 1px solid;
				outline-color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1024px){
	.em-wrapper-ads-20 {background-attachment: scroll !important;}
}
/*===============RTL=================*/
