.em-wrapper-product-16{
	border-style: solid;
	border-width: 1px;
	overflow:hidden;
	margin-bottom:$space_block;
	.em-widget-title{
		padding:13px 20px;
		text-transform:uppercase;
		h3, h2{
			margin:0;
		}
	}
	.line-right{
		border-right-style: dotted;
	}
	.line-left{
		border-left-style: dotted;
	}
	.em-inner-product{
		clear: both;
		width: 100%;
		padding: 3rem 2rem;
		float: left;
	}
	.em-item-big{
		margin-right:-1px;
		text-align:center;
		.item{
			margin-bottom:0;
		}
		.product-item{
			border-width: 0px;
			a.product-image{
				position:relative;
				&:after{
					content: "";
					position: absolute;
					left: 50%;
					right: 50%;
					top: 50%;
					bottom: 50%;
					z-index: 0;
					display: inline-block;
					opacity: 0;
					filter: alpha(opacity=0);
					transition: all 300ms ease-in-out 0s;
					-moz-transition: all 300ms ease-in-out 0s;
					-webkit-transition: all 300ms ease-in-out 0s;
					background-color: #000000;
				}
			}
			&:hover{
				a.product-image{
					&:after{ 
						opacity: 0.6;
						filter: alpha(opacity=60);
						left: -10px;
						right: -10px;
						top: -10px;
						bottom: 0;
					}
				}
			}	
		}
	}
	.products-list{
		padding-left:0;
		.item{			
			padding:2.8rem 1rem 1.8rem 3rem;
			margin:0;
			border-width: 0px;
			border-top-width: 1px;
			border-top-style: dotted;
			@include border-radius(0);
			&:first-child,&.first{
				border-top-color: transparent;
				padding-top:0;
			}
			a.product-image{
				margin-bottom:1rem;
				&.loading-process{
					width:120px;
				}
			}
		}
	}
	&.em-wrapper-product-list-16{
		.products-list{
			padding:0 2rem 6rem;
			.item{
				padding:2.9rem 0 1.9rem;
			}			
		}
		.owl-theme .owl-controls .owl-buttons div{
			&.owl-prev{
				top:auto;
				bottom:2rem;
				right: auto;
				left: 4rem;
			}
			&.owl-next{
				top:auto;
				bottom:2rem;
				right: auto;
				left: 10rem;
			}
		}
	}
	&.em-wrapper-product-grid-16{
		.products-grid{
			margin:0;
			padding-bottom: 7rem;			
			&.owl-carousel .owl-item{
				padding:2.9rem 2rem 2rem;
			}
		}
		.owl-theme .owl-controls .owl-buttons div{
			&.owl-prev{
				top:auto;
				bottom:2rem;
				right: auto;
				left: 4rem;
			}
			&.owl-next{
				top:auto;
				bottom:2rem;
				right: auto;
				left: 10rem;
			}
		}
	}
}

/*===============RTL=================*/
.em-rtl{
	.em-wrapper-product-16{
		.em-item-big{
			margin-right:0;
			margin-left:-1px;			
		}
		.products-grid .item{
			margin-right:0;
			margin-left:2rem;
		}
		.line-right{
			border-right-width: 0px;
			border-left-width: 1px;
			border-left-style: dotted;
		}
		.line-left{
			border-left-width: 0px;
			border-right-width: 1px;
			border-right-style: dotted;
		}
		.products-list .item{
			padding-left: 1rem;
			padding-right: 3rem;
		}
	}
}