.em-wrapper-product-32{
	margin-bottom:$space_block;
	.em-tabs{ vertical-align:top; display:flex}
	.em-box-cate{		
		.widget-title h3{ 
			text-transform:uppercase; 
			margin-bottom:3rem;
		}
		.box-cate-left{
			position:relative;
			border-style: solid;
			border-width: 1px;
			border-top-width: 5px;
			.em-box-list{
				padding:3rem 2rem 1rem;
				.tab-link{
					display:block;
					float:none;
					a{ 						
						text-transform:none;
						padding:10px 0px; 
						display:block;
						@include transition1;
						border-width: 0px;
						border-top-width: 1px;						
					}
					&.active a{
					}
				}
			}
		}
		.widget-products{
			.owl-carousel{margin:0;}
			.owl-item{ border-right-width: 1px;  border-right-style: solid;
				&:first-child{border-left-color:transparent}
			}
			.products-grid{
				.item:hover a.product-image:after{ left:0; top:0; right:0}
				.item .product-shop{ padding:0;}
				.owl-item{ padding:0}
				.product-item{border-width:0; margin:0; padding:20px; text-align:left; @include border-radius(0); @include box-shadow(none); }
				.item .product-item{border-bottom-width:1px; }
				&.owl-carousel .owl-item .em-item-slider .products-grid .item{margin-bottom:0;}
			}
		}
		.owl-theme .owl-controls .owl-buttons div{top:-40px !important}
	}	
}

/*===============RTL=================*/
.em-rtl{
	.em-wrapper-product-32 .em-box-cate .box-cate-left .text-left{text-align:right}
	.em-wrapper-product-32 .em-box-cate .box-cate-left{text-align:right}
	.em-wrapper-product-32 .em-box-cate .widget-products .owl-item:first-child{ border-left-width:1px;border-right-width:0px;}
	.em-wrapper-product-32 .em-box-cate .widget-products .products-grid .product-item{text-align: right;}
}