.em-wrapper-ads-10{
	&.em-line-01{
		margin-bottom:0;
	}
	overflow:hidden;
	img{
		@include border-radius(0);
	}
	.em-blog-item{
		padding:1px;
		margin-bottom:$space_block;
		position:relative;
	}
	.em-blog-time{		
		@include position_style(absolute, left, 20px, top, 20px);
		display:inline-block;
		text-align:center;
		@include border-radius(0);
		padding:13px 10px;
		z-index: 0;
		font-weight:700;
		color:#fff;
		text-transform:uppercase;
		&:before{
			content: "";
			background-color: #000;
			@include opacity(0.6);
			@include border-radius(0);
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -1;
		}
		p{
			margin:0;
			line-height:1.2;
			&:first-child{
				font-size:170%;
			}
		}
	}
	.em-box{
		padding:17px 20px 5px;
		border-top:0;
		@include border-radius(0);
		@include transition1;
		position:relative;
		&:before{
			content:''; width:100%; height:1px; position:absolute; bottom:-2px; left:0; box-shadow:none;
		}
		.em-blog-des{
			clear:both;
		}
		.link-more{
			font-weight:bold;
			&:before{
				@include font-awesome(\f101,100%);
				padding-right:5px;
			}
		}
	}
}
.em-background-wrapper-ads{
	background-image: url(../images/media/home/layout_glass/em_ads_06.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding: 5rem 0 1rem;
}
@media only screen and (min-device-width: 0px) and (max-device-width: 1024px){
	.em-background-wrapper-ads {background-attachment: scroll !important;}
}
/*===============RTL=================*/
.em-rtl{
	.em-wrapper-ads-10 .em-box .link-more:before{ padding-right:0; padding-left:5px; content: "\f100";}
}