.em-wrapper-product-29{	
	margin-bottom:$space_block;
	.em-item-big{
		.item{ width:100%; margin:0;}
	}
	.em-item-right{
		padding:0;
		.item{
			padding:0 1rem;
			width:50%;
			float:left;
			margin:0;
			img{
				width:100%;
				height:auto;
			}
		}
	}
	.product-item{
		position:relative; border:0 !important; @include box-shadow(none !important); margin-bottom: 20px !important;
		.product-shop-top{
			margin-bottom:0 !important;
			img{
				width:100%;
				height:auto;
			}
		}
		.product-shop{
			@include position_style(absolute,left,0,bottom,0);
			right:0;
			height:0;
			top:100%;
			padding:2rem;
			@include transition1;
			@include opacity(0);
			visibility: hidden;
			background-color: rgba(0, 0, 0, 0.25);
			text-align:center;
			.f-fix{ max-width:370px;}
			.product-name{ margin-bottom:0;}
			.product-name a{ font-size:140%; font-weight:600;}
			.ratings{ float:none !important ;}
			.price-box{ clear:both; text-align:center !important}
			.price,
			.special-price .price,
			.product-name a,
			.ratings .amount a{
				color:#fff;
			}
			.bottom{
				position:relative;
				@include box-shadow(none !important);
				.em-btn-addto button.button.btn-cart{
					text-align:center;
					width:calc(100% - 147px);
					width:-moz-calc(100% - 147px);
					width:-webkit-calc(100% - 147px);
					width:-o-calc(100% - 147px);
				}
			}
		}
		&:hover{
			.product-shop{				
				height:100%;
				top:0;
				@include opacity(1);
				visibility: initial;
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center
			}
		}
	}
}

@media (max-width:767px) {
	.em-wrapper-product-29 .product-item .product-shop .bottom .em-btn-addto button.button.btn-cart{
		width:calc(100% - 98px);
		width:-moz-calc(100% - 98px);
		width:-webkit-calc(100% - 98px);
		width:-o-calc(100% - 98px);
	}
}