.em-wrapper-ads-24{
	margin-bottom:30px;
	padding:40px 0;
	background:#f7f7f7;	
	.em-wrapper-ads-item{
		border-right:1px solid #ebebeb;
		&.last{ border-right:0;}
		.em-ads-item a img{ @include transition1;}
		.em-ads-item a:hover img{
			-ms-transform: scale(1.2,1.2); /* IE 9 */
			-webkit-transform: scale(1.2,1.2); /* Safari */
			transform: scale(1.2,1.2);
		}
		.em-ads-content{
			padding-top:15px;
			h3{ margin-bottom:0; color:#000}
			p{ margin-bottom:0;}
		}
	}
}


/*===============RTL=================*/
.em-rtl{
	
}