.em-wrapper-product-30{	
	.products-list > .item {
	  padding: 0 0 1rem;
	  border-width: 0px;
	  border-bottom-width: 1px;
	  border-bottom-style: dotted;
	  -moz-border-radius: 0px;
	  -webkit-border-radius: 0px;
	  border-radius: 0px;
	}
	.products-list > .item.last {
	  padding: 0;
	  margin: 0;
	  border-bottom-width: 0px;
	}
}