.em-wrapper-product-26{	
	margin-bottom:$space_small_block + 10;
	.em-item-left{
		.item{ margin-right:0;
		}
	}
	.em-item-right{
		padding:0;
		.item{
			padding:0 1rem; margin-bottom:0;
			width:50%; margin-right:0;
			float:left;
			.product-shop .desc{ display:none;}
			img{
				width:100%;
				height:auto;
			}
		}
	}
	.product-item{
		position:relative;
		border:1px solid #f1f1f1; overflow:hidden; margin-bottom:20px;
	}
	&.text-center{
		text-align: inherit;
		.widget-title{
			text-align: center;
		}
	}
}

@media (min-width:1200px) {
	.em-wrapper-product-26 .em-item-left .item .product-item{ min-height:790px}
}