.em-wrapper-ads-21{	
	.owl-carousel{
		margin:0;
		.owl-item{
			padding:0;
		}
	}
	.em-ads-item{
		overflow:hidden;
		position:relative;
		border-width: 1px;
		border-style: solid;
		.em-ads-image{
			position:relative;
			span{
				@include position_style(absolute, left, 0px, top, 35%);
				right:0;
				margin:0 10px;
				text-align:center;
				text-transform:uppercase;
				color:#fff;
				font-weight:700;
			}
		}
		.em-ads-sub-cate{
			margin-bottom:2rem;
			.sub_item{
				padding-top:1rem;				
				a{	
					@include transition1;
					margin:0 5px;
					&:before{
						@include font-awesome(\f101,100%);
						margin:0 10px;
					}
					&:hover{
						margin-left:10px;
					}
				}				
			}
		}
	}
}

/*===============RTL=================*/
.em-rtl{
	.em-box .em-box-right{ left:0; right:auto;}
	.em-box .em-box-left .block-info li.em-links-item a:before{   content: "\f100"} 
}