.em-wrapper-ads-19{
	.em-box{
		text-align:center;
		.em-ads-content{ padding-bottom:10px;}
		.em-ads-title{font-weight:normal; margin-top:25px; margin-bottom:4px;}
		a.shop-all{ text-transform:uppercase; position:relative; font-weight:600;
			&:after{
				@include font-awesome('\f105', 16px); margin-left:7px;
			}
		}
		h3, p{ padding:0 15px;}
	}
}


/*===============RTL=================*/
.em-rtl{
	.em-wrapper-ads-19{
		
	}
}