.em-wrapper-product-31{	
	.owl-carousel{
		margin:0 -1px;
		.owl-wrapper-outer{
			margin:0;
			padding:0;
		}
		.owl-item{
			padding:0 1px;
		}
	}
	.products-grid .product-item{
		box-shadow:none!important;
		margin:0;
		padding:0;
		text-align:center;
		.product-shop .wrapper-price-review{
			.price-box{
				text-align:center;
			}
			.ratings {
				float:none;
				display:inline-block;
			}
		}
		.bottom{
			position:static;
			@include opacity(1);
			box-shadow:none!important;
			.em-btn-addto{
				text-align:center;
				display:inline;
				button.button.btn-cart{
					text-align:center;
					display:inline-block;	
					margin-bottom:1rem;
					min-height:1px;
					padding:10px;
					width:100%;
					font-size:85%;
				}
				.add-to-links{
					position:static;
					float:none;			
					li{
						width:auto; 
						&:first-child a{
							&:before{
								content:"|";
								padding:0 7px;
								font-size:13px;
							}
						}
						a{
							padding:0;
							min-height:1px;
							border-width:0;
							font-size:80%;
							text-transform:uppercase;
							&:before{
								content:""
							}
						}
					}
				}
			}			
			.quickshop-link-container{
				position:static;
				float:none;
				display:inline-block;
				.quickshop-link{
					width:auto; 
					padding:0;
					min-height:1px;
					border-width:0;
					font-size:80%;
					text-transform:uppercase;
					display:block;
					&:before{
						content:"|";
						padding:2px 5px;
						font-size:13px;
					}
				}
			}
		}
	}
}


/*RTL*/
.em-rtl{
	.em-wrapper-product-31{	
		.bottom .em-btn-addto .add-to-links li{
			&:first-child a{
				&:before{
					content:"";
					padding:0;
					display:none;
				}
			}
			a{
				&:before{
					content:"|";
					padding:0 7px;
					font-size:13px;
				}
			}
		}
	}
}