.em-slideshow{
	margin-bottom:0;
	h1, h3, h4, h2{
		color:#434343;		
	}
	h3, h2{ &:before, &:after{ display:none}}
	.owl-theme .owl-controls .owl-buttons div{
		top:44%;
	}
	.owl-carousel .owl-item .em-owlcarousel-des{
		left: 60%;
		top: 37%;
		width: 30%;
		text-align:left;
		&.em-owlcarousel-des-0{
			left:12%;
		}
		&.em-owlcarousel-des-2{
			left:17%;
			text-align:center;
		}
	}
}


.em-wrapper-ads-12{
	border:0 !important;
	margin-bottom:20px;
	
	
}
.em-wrapper-blog{ overflow:hidden;
	&.em-line-01{ margin-bottom:0}
}
.em-from-our-blog{ padding-bottom:33px;}
.em-wrapper-area04{
	.owl-theme .owl-controls .owl-buttons div.owl-prev{ top:auto; right:auto; left:10px; bottom:0;}
	.owl-theme .owl-controls .owl-buttons div.owl-next{ top:auto; right:auto; left:50px; bottom:0;}
}
.slider-product-img{
	.em-widget-title{ text-align:center}
}
.em-footer-style09{
	.em-footer-info-bottom{ margin: 20px 0 35px;
    padding: 0 0 10px; border:0; border-bottom-width:1px; border-bottom-style:solid;}
	.em-footer-info{border-bottom: 1px solid #cdcdcd;
    padding-bottom: 20px;}
	.em-wrapper-newsletter .block-subscribe input.input-text{ border-width:1px}
	.em-footer-bottom{ padding:30px 0 10px !important}
}

/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#87ab03;
	}
	&.emColorStyle02{
		background:#f58e2f;
	}
	&.emColorStyle03{
		background:#dc0604;
	}
	&.emColorStyle04{
		background:#2cc067;
	}
}