.em-slideshow{
	margin-bottom:$space_small_block + 10;
	h1, h3, h4, h2{
		color:#434343;		
	}
	h3, h2{ &:before, &:after{ display:none}}
	.owl-theme .owl-controls .owl-buttons div{
		top:44% !important;
		@include border-radius(0% !important);
	}
	.owl-carousel .owl-item .em-owlcarousel-des{
		left: 25%;
		width: 50%;
		text-align: center;
		&.em-owlcarousel-des-0{
			left:13%;
			text-align:left;
		}
	}
}
/*Sidebar*/
.cms-home-page .em-sidebar{ margin-top:$space_small_block}
.em-today-deals{
	margin-bottom:$space_block;
	.products-grid .item .product-item{ border:0;}
	.product-item{
		.product-shop{ padding:0 20px 10px}
		.price-box{ display:none;}
	}
	.owl-theme .owl-controls .owl-buttons div.owl-next{ top:-30px;}
	.owl-theme .owl-controls .owl-buttons div.owl-prev{ top:-30px; right:50px}
}
.em-line-01.block .widget{ border:0;}
.em-sidebar .products-list .product-shop .price-box{ margin-bottom:14px;}
/*Home Content*/
.em-title-style02{
	margin-bottom:$space_block;
	.em-widget-title{
		margin-bottom:$space_block; background:#eaeaea;
		h3{
			background:#7cb147; padding:8px 35px 8px 20px; color:#fff; display:inline-block; margin:-1px 0; position:relative;
			&:before{
				@include font-awesome('\f0fa', 20px); margin-right:10px;
			}
			&:after{
				content:""; position:absolute; right: -13px; top: 7px; width: 27px; height: 27px; background:#eaeaea;
				    -webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
			}
		}
	}
	&.em-title-style02-c2{
		.em-widget-title h3{
			background:#f07120;
			&:before{
				content:'\f091';
			}
		}
	}
	&.em-title-style02-c3{
		.em-widget-title h3{
			background:#855fa8;
			&:before{
				content:'\f179';
			}
		}
	}
	&.em-title-style02-c4{
		.em-widget-title h3{
			background:#ef4056;
			&:before{
				content:'\f005';
			}
		}
	}
	&.em-title-style02-c5{
		.em-widget-title h3{
			background:#1cbbb4;
			&:before{
				content:'\f038';
			}
		}
	}
	&.em-title-style02-c6{
		.em-widget-title h3{
			background:#f7941d;
			&:before{
				content:'\f040';
			}
		}
	}
}
.em-wrapper-ads-item{
	.em-box{
		@include border-radius(3px);
		padding:30px 30px 20px;
		h3{ padding:0 10px;}
		overflow:hidden;
		.fa{ font-size:0; margin-bottom:10px; &:before{ font-size:50px}}
		.button-link{
			float: none;
			margin:10px 0 0;
			display: inline-block;
			vertical-align: top; @include border-radius(3px);
		}
	}
}
.em-wrapper-product-30{
	.em-box{
		@include border-radius(3px);
		padding:20px;
		.em-widget-title{
			h3{
				text-transform:uppercase;
			}
		}
	}
}

.owl-theme .owl-controls .owl-buttons div {
    font-size: 0 !important;
    margin: 0 !important;
    padding: 8px 6px !important;
    width: 30px;
    height: 30px;
	@include border-radius(50% !important);
	&:after{
		display:none;
	}
}

.owl-theme .owl-controls .owl-buttons div.owl-next{ top:-74px;}
.owl-theme .owl-controls .owl-buttons div.owl-prev{ top:-74px; right:50px}

.rating-box {
  background: url(../images/bkg_rating.png) 0 0 repeat-x;
}

.rating-box .rating {
  background: url(../images/bkg_rating.png) 0 100% repeat-x;
}




/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#fea129;
	}
	&.emColorStyle02{
		background:#cc0000;
	}
	&.emColorStyle03{
		background:#202020;
	}
	&.emColorStyle04{
		background:#10ad70;
	}
}

