.em-slideshow{
	margin-bottom:$space_small_block;
	h1, h3, h4, h2{
		color:#434343;		
	}
	h3, h2{ &:before, &:after{ display:none}}
	.owl-theme .owl-controls .owl-buttons div{
		top:44% !important;
		@include border-radius(0% !important);
	}
	.owl-carousel .owl-item .em-owlcarousel-des{
		left: 60%;
		top: 25%;
		width: 40%;
		text-align:left;
		&.em-owlcarousel-des-0{
			left:13%; 
		}
		&.em-owlcarousel-des-2{
			left: 25%;
			width: 50%;
			text-align: center;
		}
	}
}
.em-header-style33{
	.em_nav{
		.hnav .menu-item-depth-0,
		.hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0{
			margin:0;
			> a{
				span{
					margin-right:-1px;
				}
			}
			
		}
	}
}
.em-wrapper-header .em-fixed-top.navbar-fixed-top .em-search-sticky:before{ display:none}
.em-wrapper-ads-19{
	.em-box{
		.em-ads-title{font-weight:700;}
		a.shop-all{ text-transform:capitalize; display:inline-block; margin:11px 0 10px;
		}
	}
}
.em-footer-style19 .em-footer-info{ padding-top:50px;}


.rating-box {
  background: url(../images/bkg_rating.png) 0 0 repeat-x;
}

.rating-box .rating {
  background: url(../images/bkg_rating.png) 0 100% repeat-x;
}

.em-wrapper-ads-19{
	.em-box{
		margin-bottom:$space_small_block;
	}
}


/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#fea129;
	}
	&.emColorStyle02{
		background:#cc0000;
	}
	&.emColorStyle03{
		background:#202020;
	}
	&.emColorStyle04{
		background:#10ad70;
	}
}

