.em-slideshow{
	margin-bottom:$space_block;
	h1,h2,h3,h4{
		color:#ffffff;
	}
	h2:before,
	h2:after{display:none}
	.button-link{
		border-width:2px;
	}
	
	.owl-carousel{
		.owl-item{
			.em-owlcarousel-des{				
				/*width: 70%;
				left:14%;*/
				top:25%;
				&.em-owlcarousel-des-1{
					left:14%;
					text-align:left;
				}
				&.em-owlcarousel-des-0{

				}
			}
		}
	}
	.owl-theme .owl-controls .owl-buttons div{
		top:41%;
	}
}


.em-header-style36 .line-top{
	margin-bottom:0;
}

/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#EFF59A;
	}
	&.emColorStyle02{
		background:#FCFBB8;
	}
	&.emColorStyle03{
		background:#BCB4D2;
	}
	&.emColorStyle04{
		background:#E3A7C0;
	}
}