.em-main-container{
	.em-two-tabs .em-tabs,
	.em-wrapper-ads-15,
	.em-line-01{
		margin-bottom:$space_small_block;
	}
}

.em-wrapper-brands.em-line-01{
	margin-bottom:$space_block;
}


.em-slideshow{
	.owl-carousel{
		.owl-item{
			.em-owlcarousel-des{				
				top:45%;
			}
		}
	}
}
.em-wrapper-area11{
	.products-list > .item{
		padding:0 0 1rem;
		margin-bottom:2rem;
		a.product-image{
			margin-bottom:1rem;
		}
		&.last{
			padding:0;
			margin:0;
		}
	}
}
.product-view{ padding:20px;}
/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#ff9000;
	}
	&.emColorStyle02{
		background:#cc0000;
	}
	&.emColorStyle03{
		background:#202020;
	}
	&.emColorStyle04{
		background:#10ad70;
	}
}

