.em-slideshow{
	margin-bottom:$space_small_block;
	margin-top:10px;
}
.em-header-style32 .em-header-bottom{border-bottom:none;}
.em-header-style32 .em-search .form-search{margin-top:7px;}

/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#fca919;
	}
	&.emColorStyle02{
		background:#0ea632;
	}
	&.emColorStyle03{
		background:#cc2864;
	}
	&.emColorStyle04{
		background:#e0b799;
	}
}