/*Module*/
@import "module/multidealpro";
@import "module/subscribe";

/*import module block home*/
@import "em-wrapper-ads-10";
@import "em-wrapper-ads-13";
@import "em-wrapper-ads-15";
@import "em-wrapper-ads-09";
@import "em-wrapper-ads-11";
@import "em-wrapper-ads-12";
@import "em-wrapper-ads-17";//background parallax
@import "em-wrapper-ads-18";
@import "em-wrapper-ads-16";

@import "em-wrapper-ads-03";// Block Blog all home
@import "em-wrapper-ads-19";// Layout Kidtoy - Block Category
@import "em-wrapper-ads-20";// //Layout Bakery - Block EM Blog
@import "em-wrapper-ads-21";// //Layout Shoppingmall - Categories
@import "em-wrapper-ads-22";// //Layout Bicycle - Block EM Blog TESTIMONIALS
@import "em-wrapper-ads-23";// //Layout Application - Block Top Categories
@import "em-wrapper-ads-24";// //Layout Office
@import "em-wrapper-ads-25";// //Layout Office - Location
@import "em-wrapper-ads-26";// //Layout Flower


/*import module block product home*/
@import "em-wrapper-product-04"; //style smartphone
@import "em-wrapper-product-12"; //style jewelry
@import "em-wrapper-product-15";//style shoppingmall
@import "em-wrapper-product-18";
@import "em-wrapper-product-19";
@import "em-wrapper-product-20"; //style fashionnova
@import "em-wrapper-product-23"; //style supermarket 
@import "em-wrapper-product-24"; //style supermarket deal - slider deal
@import "em-wrapper-product-25"; //style supermarket deal - tab product

@import "em-wrapper-product-16"; //style Jemiz - Block title bkg MOST VIEWED
@import "em-wrapper-product-26"; //Layout Kidtoy - Block New Arrial
@import "em-wrapper-product-27"; //Layout FashionClean, shoppingmall - Block list
@import "em-wrapper-product-28"; //Layout Game
@import "em-wrapper-product-29"; //Layout Bicycle
@import "em-wrapper-product-30"; //Layout Fashion Clean - Tools - Block product list
@import "em-wrapper-product-31"; //Layout Jemiz
@import "em-wrapper-product-32"; //Layout supermarket deal - tab product

/*content*/

.em-wrapper-main{
	.container-main{
		padding-top:20px;
		&.container-fluild{
			padding-top:0;
		}
	}
}


/*Box Category - Home page*/
.em-box{
	border-style: solid;
	border-width: 1px;
}
.em-line-top-bottom{
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
}

