.em-header-style08{
	.em-header-top{border-top:0; border-bottom:0}
	.em-header-bottom:before{ display:none}
}
.em-slideshow{
	padding-bottom:$space_block;
}
.em-filterproducts-grid{ text-align:left;}

.container-area23 .em-wrapper-banners{ padding-top:$space_block * 2;
}
.em-wrapper-ads-20{	
	background-image: url(../images/media/bkg-parallax.jpg);
}

.em-footer-style11{
	.four-block-middle{ border-bottom:0;}
	.em-footer-bottom{
		padding-top:$space_small_block + 10;
		padding-bottom:$space_small_block;
	}
}


.rating-box {
    background: url(../images/bkg_rating.png) 0 0 repeat-x;
}
.rating-box .rating {
    background: url(../images/bkg_rating.png) 0 100% repeat-x;
}



#em-mheader .em-top-search .form-search input.input-text{ border-width:1px; border-style:solid}

/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#fb687b;
	}
	&.emColorStyle02{
		background:#313959;
	}
	&.emColorStyle03{
		background:#19d7c9;
	}
	&.emColorStyle04{
		background:#d62f1f;
	}
}