.cms-index-index .em-wrapper-main .container-main{
	padding-top:0;
}

.em-slideshow{
	margin-bottom:$space_block;
	h1,h2,h3,h4{
		color:#fff;
	}
	.button-link{
		border-width:2px;
	}
	
	.owl-carousel{
		.owl-item{
			.em-owlcarousel-des{				
				width: 70%;
				left:14%;
				top:23%;
				
			}
		}
	}
	.owl-theme .owl-controls .owl-buttons div{
		top:41%;
	}
}


.em-wrapper-ads-17{
	background-image: url(../images/media/bkg-parallax.jpg);
}


.em-wrapper-area05{
	margin-bottom:50px;
	.img-banner,
	.em-wrapper-ads-18,
	.em-wrapper-banners{
		margin-bottom:0;
	}
}
/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#be5960;
		
	}
	&.emColorStyle02{
		background:#0dc2c4;
		
	}
	&.emColorStyle03{
		background:#6db088;
		
	}
	&.emColorStyle04{
		background:#aa916a;
		
	}
}