.cms-index-index .em-wrapper-slideshow{
	padding:0;
	margin-bottom:30px;
}
.cms-index-index .em-wrapper-main .container-main{ padding-top:0;}
.em-slideshow{
	margin-bottom:0;
	h1, h3, h4, h2{
		color:#434343;		
	}
	h3, h2{ &:before, &:after{ display:none}}
	.owl-theme .owl-controls .owl-buttons div{
		top:44%;
	}
	.owl-carousel .owl-item .em-owlcarousel-des{
		left: 13%;
		top: 27%;
		text-align:left;
		&.em-owlcarousel-des-2{
			h1, h3, h4, h2{
				color:#ffffff;		
			}
		}
	}
}

.em-background-wrapper-ads{
	background-image: url(../images/media/bkg-parallax.jpg);
	margin-bottom:$space_block;
	background-attachment: fixed;
	.em-wrapper-ads-18{
		margin-bottom:0;
		.em-ads-item{
			background-color:transparent;
			padding-bottom:7rem;
		}
	}
}

.em-line-01{
	.em-wrapper-banners{
		margin-bottom:0;
		.img-banner{
			margin-bottom:0;
			.desc .button-link{
				text-transform:uppercase;
				padding:1rem 2rem;
				margin:0;
				&:hover{
					position:relative;
					z-index:1;
				}
			}
		}
	}
}


/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#F3C506;
	}
	&.emColorStyle02{
		background:#f6a723;
	}
	&.emColorStyle03{
		background:#6db088;
	}
	&.emColorStyle04{
		background:#cc2426;
	}
}