.em-wrapper-content{
	padding-left:280px!important;
	padding-right:0;
}

.banner-img{position:relative;}

.em-slideshow{margin-bottom:10px;}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
    left: 15%;
    top: 25%;
    width: 70%;
}

.col-custom{
	.banner-img{
		display:block;
		.desc{
			position:absolute;
			color:#fff;
			-moz-transition: all 500ms ease;
			-webkit-transition: all 500ms ease;
			-o-transition: all 500ms ease;
			transition: all 500ms ease;
			-moz-backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			left: 10%;
			padding:0 1rem;
			top: 10%;
			margin:0;
			text-transform:uppercase;
			a.button-link{
				float:none;
				display:inline-block;
				height: 0;
				padding: 0;
				font-size: 0;
				margin:0;
				opacity: 0;
				filter: alpha(opacity=0);
			}
			&.pos1{
				width:100%;
				left:0;
				text-align:center;
			}
			&.pos2{
				width:100%;
				left:0;
				top:auto;
				bottom:10%;
				text-align:center;
			}
		}
		&:hover{
			background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
			background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
			img{
				opacity:0.5;	
				-moz-transition: all 500ms ease;
				-webkit-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
			}
			.desc{
				top:20%;
				cursor:pointer;
				.button-link{
					height: 100%;
					padding: 10px 25px;;
					font-size: 100%;
					opacity: 1;
					filter: alpha(opacity=100);				
				}
				&.pos2{
					top:auto;
					bottom:20%;
				}
			}
		}
	}
}

.cms-index-index .em-wrapper-main .container-main{padding-top:0;}

.wrapper-breadcrums{padding-left:1rem;}

.em-footer-style09{
	.footer-info-top{
		border-bottom-style: solid;
		border-bottom-width: 1px;
		margin-bottom:4rem;
	}
	.em-footer-info-bottom{
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
	.em-box-bkg{
		border-style: dotted;
		border-width: 1px;
		background-color:transparent;
		margin-bottom:4rem;
	}
	.em-wrapper-newsletter .block-subscribe input.input-text{border-width:1px;}
	.em-footer-address{text-align:center;}
}

/*menu default*/
.nav-container .vnav,
.nav-container .hnav{
	.menu-item-depth-0,
	.menu-item-depth-0 > .em-catalog-navigation > li.level0{
		float: none;
		width: 100%;
		margin-right: 0;
		> a span{
			padding-left:0;
			border-bottom-width:1px;
		}
		&:hover > ul{
			left: 100%;
			top: -1px;
		}
	}
}

.em-rtl .nav-container .hnav {
	.menu-item-depth-0,
	.menu-item-depth-0 > .em-catalog-navigation > li.level0{		
		&:hover > ul{
			left: auto;
			right: 100%;
		}
	}
}

/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#afc030;
		&:before{background:#ffffff;}
		&:after{background:#000000;}
	}
	&.emColorStyle02{
		background:#e76f32;
		&:before{background:#ffffff;}
		&:after{background:#000000;}
	}
	&.emColorStyle03{
		background:#f1b737;
		&:before{background:#ffffff;}
		&:after{background:#000000;}
	}
	&.emColorStyle04{
		background:#446aa7;
		&:before{background:#ffffff;}
		&:after{background:#000000;}
	}
}

/*custom padding*/
.row-custom{
	margin-left: -5px;
    margin-right: -5px;
}
.container-fluid-custom{
	overflow:hidden;
	padding:0;
}
.col-custom{
	padding:0px 5px 10px;
}