.em-wrapper-slideshow{
	.col-sm-6{padding-right:0;}
	.col-sm-18{padding-left:0;}
	.menu-wrapper{margin-top:-50px;}
}

.cms-index-index .em-wrapper-main .container-main{padding-top:0;}

@-moz-document url-prefix() { 
  .em-wrapper-slideshow{
		.menu-wrapper{margin-top:-51px;}
	}
	.em_nav .vnav .menu-item-depth-0 > .em-catalog-navigation > li.level0 > a span, .em_nav .vnav .menu-item-depth-0 > a span{padding-top:14px;}
}

/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#fea129;
	}
	&.emColorStyle02{
		background:#cc0000;
	}
	&.emColorStyle03{
		background:#202020;
	}
	&.emColorStyle04{
		background:#10ad70;
	}
}

