.em-header-style08{
	.em-header-top{border-top:0; border-bottom:0}
	.em-header-bottom:before{ display:none}
}

.em-wrapper-ads{
	.em-ads-content h2{padding:20px 0}
}
.em-slideshow{
	margin-bottom:0;
	h1, h3, h4, h2{
		color:#434343;		
	}
	h3, h2{ &:before, &:after{ display:none}}
	.owl-theme .owl-controls .owl-buttons div{
		top:44%;
	}
	.owl-carousel .owl-item .em-owlcarousel-des{
		left: 28%;
		top: 26%;
		width: 43%;
		text-align:left;
		&.em-owlcarousel-des-0{
			left:13%;
		}
		&.em-owlcarousel-des-1{
			text-align:center;
		}
		&.em-owlcarousel-des-2{
			left:50%;
		}
	}
}
.rating-box {
    background: url(../images/bkg_rating.png) 0 0 repeat-x;
}
.rating-box .rating {
    background: url(../images/bkg_rating.png) 0 100% repeat-x;
}
.em-inner-product,
.widget-products{ text-align:left}


#em-mheader .em-top-search .form-search input.input-text{ border-width:1px; border-style:solid}

/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#fca919;
	}
	&.emColorStyle02{
		background:#5c5b57;
	}
	&.emColorStyle03{
		background:#6db088;
	}
	&.emColorStyle04{
		background:#aa916a;
	}
}