.em-wrapper-header .em-header-style27{
	.line-top{ border-width:0;}
	.em-search{ width:100%;
		.em-top-search{ margin-top:30px}
	}
	.em-search-style02 .form-search button.button{ background-color:transparent; border-color:transparent}
	.em_nav{
		.hnav .menu-item-depth-0,
		.hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0{
			margin:0;
			display: inline-block;
			float: none;
			> a{
				span{
					padding:$padding3x / 2 $padding2x;
					border-right:1px solid #51559d; 
					border-left:1px solid #51559d;
					margin-right:-1px;
				}
			}
			> .menu-container,.level0 ul{
				text-align:left;
			}
		}
	}
}
.em-wrapper-header .em-fixed-top.navbar-fixed-top .em-search-sticky:before{ display:none}
.product-view{ padding:20px}




.em-wrapper-brands{
	margin:0 0 $space_block ;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	.slider-style02{
		padding:40px 50px;
		margin:0;
		.em-slider-navigation-icon.owl-theme .owl-controls .owl-buttons div{
			&.owl-next{
				right:-25px;
			}
			&.owl-prev{
				left:-25px;
			}
		}
	}
}
.em-wrapper-ads-17{	
	background-image: url(../images/media/bkg-parallax.jpg);
	text-align:left;
	padding:$space_block 0 0;
	margin-bottom:0;
}
.em-footer-style09{
	.em-footer-info-bottom{ margin: 20px 0 35px;
    padding: 0 0 10px; border:0; border-bottom-width:1px; border-bottom-style:solid;}
	.em-footer-info{border-bottom: 1px solid #cdcdcd;
    padding-bottom: 20px;}
	.em-wrapper-newsletter .block-subscribe input.input-text{ border-width:1px}
	.em-footer-bottom{ padding:30px 0 10px !important}
}


/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#0a9efa;
	}
	&.emColorStyle02{
		background:#B30707;
	}
	&.emColorStyle03{
		background:#e76f32;
	}
	&.emColorStyle04{
		background:#488e53;
	}
}



