.em-slideshow{
	margin-bottom:$space_block;
	h1, h3, h4, h2{
		color:#ffffff;		
	}
	h3, h2{ &:before, &:after{ display:none}}
	.owl-theme .owl-controls .owl-buttons div{
		top:44%;
	}
	h4.style-button{
		background:#7ad7da;
		color:#ffffff;
		display:inline-block;
		padding:10px 50px;
	}
	.owl-carousel .owl-item .em-owlcarousel-des{
		left: 20%;
		top: 29%;
		width: 60%;
		&.em-owlcarousel-des-1{
			left:5%;
			text-align:left;
		}
		/*&.em-owlcarousel-des-2{
			left:0;
		}*/
	}
}
.em-wrapper-products{
	.em-line-01 .em-widget-title{text-align:center}
}
.rating-box {
  background: url(../images/bkg_rating.png) 0 0 repeat-x;
}

.rating-box .rating {
  background: url(../images/bkg_rating.png) 0 100% repeat-x;
}
.em-wrapper-ads-17{	
	background-image: url(../images/media/bkg-parallax.jpg);
	padding:12rem 0;
	span{
		color:#fff; display:inline-block; margin:0 15px; vertical-align:middle;
		&.style-button{ padding:7px 40px; background:#7ad7da}
	}
}
.em-widget-title{ text-align:center}

/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#cfdc94;
	}
	&.emColorStyle02{
		background:#dcd3ac;
	}
	&.emColorStyle03{
		background:#abba9d;
	}
	&.emColorStyle04{
		background:#a0a2cb;
	}
}