<?php if(Mage::getStoreConfig('blog/menu/show_menu_right')):?>
<div class="block em_blog-cat em-line-01">
    <div class="block-title">
        <strong><span><?php echo $this->__('Blog Categories')?></span></strong>
    </div>
    <div class="block-content">
        <ul class="nav-blog">
            <?php echo $this->renderMenuBlog();?>
        </ul>
    </div>
</div>
<?php endif;?>