.em-slideshow {
  margin-bottom: 50px;
}
.em-slideshow h1, .em-slideshow h2, .em-slideshow h3, .em-slideshow h4 {
  color: #ffffff;
}
.em-slideshow h2:before,
.em-slideshow h2:after {
  display: none;
}
.em-slideshow .button-link {
  border-width: 2px;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  /*width: 70%;
  left:14%;*/
  top: 25%;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-1 {
  left: 14%;
  text-align: left;
}
.em-slideshow .owl-theme .owl-controls .owl-buttons div {
  top: 41%;
}

.em-header-style36 .line-top {
  margin-bottom: 0;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #EFF59A;
}
.em-color span.emColorStyle02 {
  background: #FCFBB8;
}
.em-color span.emColorStyle03 {
  background: #BCB4D2;
}
.em-color span.emColorStyle04 {
  background: #E3A7C0;
}
