.em-slideshow{
	a.button-link{
		&.last{
			.changeAllColor(@body_text_color; @body_bg_color; @body_bg_color);			
			&:hover{
				.changeAllColor(@body_bg_color; @body_bg_color; transparent);
			}
		}
	}
}

.em-wrapper-product-16 .em-widget-title{
	.changeBkg(@body_label_bg_color)
}