/*Resize Home 2*/
@media (max-width:350px){
	.em-ajax-featured{
		.products-grid li.item{
			width:300px !important;
			height:auto !important;
		}
	}
}

@media (max-width: 767px){
	.em-slideshow{
		margin-bottom:2rem;
	}
}