/*EM Menu Mobile*/
#em-mheader{
	.em-top-cart{
		.em-amount-topcart{
			&:before{
				.changeAllColor(@header_bg3_color;  @header_text2_color);
			}
		}
		.em-topcart-qty{
			.changeAllColor(@header_text2_color;  @header_bg3_color);
		}
		&:hover{
			.em-amount-topcart{
				&:before{
					.changeAllColor(@header_bg3_color;  @header_text2_color);
				}
			}
			.em-topcart-qty{
				.changeAllColor(@header_text2_color;  @header_bg3_color);
			}
		}
	}
	#em-mheader-menu-icon{
		.changeAllColor(@header_bg3_color;  @header_text2_color;  @header_text2_color);
		&:hover{
			.changeAllColor(@header_bg3_color;  @header_text2_color;  @header_text2_color);
		}
	}
	.em-top-search{
		.form-search{
			input.input-text{
				.changeColor(@header_text_color);
			}
			button.button{
				.changeAllColor(@header_bg3_color;  @header_text2_color;  @header_text2_color);
				&:hover{
					.changeAllColor(@header_bg3_color;  @header_text2_color;  @header_text2_color);
				}
			}
		}
	}

}

.em-wrapper-features{
	.changeColor(@body_text6_color);
	.changeBkg(@body_bg3_color);
	padding:5rem 0;
	.title_feature{
		margin-top:2rem;
		display:inline-block;
		.link(@body_text6_color; @body_text2_color)
	}
}
.em-wrapper-header #em-mheader{ .changeBkg(@topmenu_bg_color)}
